<?xml version="1.0" ?>
<!DOCTYPE  taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>

	<tlibversion>1.0.1</tlibversion>
	<jspversion>1.1</jspversion>
        <shortname>OURUI</shortname>

    <tag>
            <name>input</name>
            <tagclass>com.sap.isa.ui.taglib.InputFieldTag</tagclass>
            <info>Rendering of an input field</info>
            <attribute>
                    <name>id</name>
                    <required>true</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>type</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>invalid</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>width</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>value</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>disabled</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>maxlength</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>visible</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>password</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>required</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>showHelp</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>size</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>maxlength</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>firstDayOfWeek</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                    <name>design</name>
                    <required>false</required>
                    <rtexprvalue>true</rtexprvalue>
            </attribute>
    </tag>
    <tag>
            <name>textEdit</name>
            <tagclass>com.sap.isa.ui.taglib.TextEditTag</tagclass>
            <info>Rendering of a editable text</info>
            <attribute>
                <name>id</name>
                <required>true</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>text</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>tooltip</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>wrapping</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>cols</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>rows</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
    </tag>
    <tag>
            <name>button</name>
            <tagclass>com.sap.isa.ui.taglib.ButtonTag</tagclass>
            <info>Rendering of a button</info>
            <attribute>
                <name>id</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>text</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>tooltip</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>onClick</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>onClientClick</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>disabled</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>width</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>design</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>encode</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
    </tag>

	<tag>
	    <name>tableView</name>
		<tagclass>com.sap.isa.ui.taglib.TableViewTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Rendering of a tableView</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>model</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>design</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>headerVisible</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>footerVisible</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>fillUpEmptyRows</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>navigationMode</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>selectionMode</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>headerText</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onNavigate</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>visibleFirstRow</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>visibleRowCount</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>width</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>rowCount</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
        <tag>
            <name>tableColumn</name>
            <tagclass>com.sap.isa.ui.taglib.TableColumnTag</tagclass>
            <bodycontent>JSP</bodycontent>
            <info>Rendering of a table Column</info>
            <attribute>
                <name>id</name>
                <required>true</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>type</name>
                <required>true</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>width</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>halignment</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>valignment</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>title</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>

	<tag>
	    <name>dropdownListBox</name>
		<tagclass>com.sap.isa.ui.taglib.DropdownListboxTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Rendering of a dropdownListBox, using nested tags (item)</info>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>model</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>tooltip</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>disabled</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>selection</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>nameOfKeyColumn</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>nameOfValueColumn</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>onSelect</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>onClientSelect</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
		    <name>width</name>
		    <required>false</required>
		    <rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkbox</name>
		<tagclass>com.sap.isa.ui.taglib.CheckboxTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Rendering of a checkbox, with or without surrounding checkboxGroup</info>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>text</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>encode</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tooltip</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>disabled</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>checked</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
	        <name>radioButtonGroup</name>
	        <tagclass>com.sap.isa.ui.taglib.RadioButtonGroupTag</tagclass>
	        <bodycontent>JSP</bodycontent>
	        <info>Rendering of a radioButtonGroup</info>
	        <attribute>
	            <name>id</name>
	            <required>true</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>columnCount</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>selection</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
    	</tag>
    	<tag>
	        <name>radioButton</name>
	        <tagclass>com.sap.isa.ui.taglib.RadioButtonTag</tagclass>
	        <bodycontent>JSP</bodycontent>
	        <info>Rendering of a radiobutton (must have a surrounding radioButtonGroup)</info>
	        <attribute>
	            <name>id</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>key</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>text</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>encode</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>tooltip</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>disabled</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
    	</tag>
	<tag>
	        <name>tabStrip</name>
	        <tagclass>com.sap.isa.ui.taglib.TabStripTag</tagclass>
	        <bodycontent>JSP</bodycontent>
	        <info>Rendering of a tabStrip, with inner tags tabStripItem</info>
	        <attribute>
	            <name>id</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>bodyHeight</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>width</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>horizontalAlignment</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>verticalAlignment</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>selection</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
	        <attribute>
	            <name>tooltip</name>
	            <required>false</required>
	            <rtexprvalue>true</rtexprvalue>
	        </attribute>
     </tag>
     <tag>
             <name>tabStripItemHeader</name>
             <tagclass>com.sap.isa.ui.taglib.TabStripItemHeaderTag</tagclass>
             <bodycontent>JSP</bodycontent>
             <info>Grouping of the content of a tabStripItem header, must be nested in a tabStripItem</info>
         </tag>
         <tag>
             <name>tabStripItemBody</name>
             <tagclass>com.sap.isa.ui.taglib.TabStripItemBodyTag</tagclass>
             <bodycontent>JSP</bodycontent>
             <info>Grouping of the content of a tabStripItem body, must be nested in a tabStripItem</info>
         </tag>
         <tag>
             <name>tabStripItem</name>
             <tagclass>com.sap.isa.ui.taglib.TabStripItemTag</tagclass>
             <bodycontent>JSP</bodycontent>
             <info>Rendering of a tabStripItem, must be nested in a tabStrip</info>
             <attribute>
                 <name>id</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>index</name>
                 <required>true</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>height</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>onSelect</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>title</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>tooltip</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
             <attribute>
                 <name>width</name>
                 <required>false</required>
                 <rtexprvalue>true</rtexprvalue>
             </attribute>
    </tag>

     <tag>
        <name>tree</name>
        <tagclass>com.sap.isa.ui.taglib.TreeTag</tagclass>
        <bodycontent>JSP</bodycontent>
        <info>Tree</info>
        <attribute>
                <name>id</name>
                <required>true</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
                <name>title</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
                <name>rootNodeIsVisible</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
                <name>rootNode</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
                <name>tooltip</name>
                <required>false</required>
                <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>offsetForTreeNode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>pageLoading</name>
        <tagclass>com.sap.isa.ui.taglib.PageLoadingTag</tagclass>
        <teiclass>com.sap.isa.ui.taglib.PageLoadingTEI</teiclass>
        <bodycontent>JSP</bodycontent>
    </tag>

    <tag>
        <name>pageLoaded</name>
        <tagclass>com.sap.isa.ui.taglib.PageLoadedTag</tagclass>
        <bodycontent>JSP</bodycontent>
    </tag>

      <tag>
          <name>textView</name>
              <tagclass>com.sap.isa.ui.taglib.TextViewTag</tagclass>
              <info>Rendering of a text</info>
              <attribute>
                      <name>id</name>
                      <required>false</required>
                      <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>text</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>layout</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>design</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>required</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>encode</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>tooltip</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>width</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
              <attribute>
                  <name>wrapping</name>
                  <required>false</required>
                  <rtexprvalue>true</rtexprvalue>
              </attribute>
      </tag>
      <tag>
          <name>tabStrip</name>
          <tagclass>com.sap.isa.ui.taglib.TabStripTag</tagclass>
          <teiclass>com.sapportals.htmlb.taglib.BaseTagTEI</teiclass>
          <bodycontent>JSP</bodycontent>
          <info>Rendering of a tabStrip, with inner tags tabStripItem</info>
          <attribute>
              <name>id</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>bodyHeight</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>width</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>horizontalAlignment</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>verticalAlignment</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>selection</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>tooltip</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
      </tag>
      <tag>
          <name>tabStripItemBody</name>
          <tagclass>com.sap.isa.ui.taglib.TabStripItemBodyTag</tagclass>
          <bodycontent>JSP</bodycontent>
          <info>Grouping of the content of a tabStripItem body, must be nested in a tabStripItem</info>
      </tag>
      <tag>
          <name>tabStripItem</name>
          <tagclass>com.sap.isa.ui.taglib.TabStripItemTag</tagclass>
          <teiclass>com.sapportals.htmlb.taglib.BaseTagTEI</teiclass>
          <bodycontent>JSP</bodycontent>
          <info>Rendering of a tabStripItem, must be nested in a tabStrip</info>
          <attribute>
              <name>id</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>index</name>
              <required>true</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>height</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>onSelect</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>title</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>tooltip</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>width</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
      </tag>
      <tag>
          <name>link</name>
          <tagclass>com.sap.isa.ui.taglib.LinkTag</tagclass>
          <teiclass>com.sapportals.htmlb.taglib.BaseTagTEI</teiclass>
          <bodycontent>JSP</bodycontent>
          <info>Rendering of a link</info>
          <attribute>
              <name>id</name>
              <required>true</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>text</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>onClick</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>target</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>tooltip</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>reference</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>fontSize</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
      </tag>
      <tag>
          <name>itemList</name>
          <tagclass>com.sap.isa.ui.taglib.ItemListTag</tagclass>
          <teiclass>com.sapportals.htmlb.taglib.BaseTagTEI</teiclass>
          <bodycontent>JSP</bodycontent>
          <info>Rendering of a itemList, with inner tags listItem</info>
          <attribute>
              <name>id</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
              <name>ordered</name>
              <required>false</required>
              <rtexprvalue>true</rtexprvalue>
          </attribute>
      </tag>
    <tag>
        <name>htmlPageLoading</name>
        <tagclass>com.sap.isa.ui.taglib.HTMLPageLoading</tagclass>
        <bodycontent>JSP</bodycontent>
    </tag>

    <tag>
        <name>htmlPageLoaded</name>
        <tagclass>com.sap.isa.ui.taglib.HTMLPageLoaded</tagclass>
        <bodycontent>JSP</bodycontent>
    </tag>
</taglib>
