/* standard styles, B2C                               */
/*----------------------------------------------------*/
body {
    color: #000000;
    background: none #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 .5em 0;
}
img {
	border: 0;	
}
table {
	border-collapse	: collapse;
}
table td, 
table th {
	padding: 0;
	vertical-align: top;
	font-size: 10px;
}

h1 {
    font-size: 15px;
}
h2 { 
    font-size: 14px;
}
h3 {
    font-size: 12px;
}
h1.areatitle {
    font-size: 16px;
    color: #036;
    background-color: white;
    margin: 2px 0px 15px 0px;
}
h1.fw-msg-err-title {
    font-size: 16px;
    color: #C40026;
    background-color: white;
    margin: 2px 0px 15px 0px;
}
h2.areatitle {
    font-size: 11px;
    color: #036;
    background-color: white;
    margin: 2px 0px 5px 0px;
}
h3.subtitle {
    background: url(images/bg_h3.jpg) bottom left no-repeat;
    padding: 3px 3px 9px 1px;
    margin: 0px 0px 2px 3px;
    font-size: 10px;
    font-weight: bold;
    color: #036;
}
h5.subtitle {
    background: url(images/bg_h5.jpg) bottom left no-repeat;
    padding: 3px 3px 3px 0px;
    margin: 0px 0px 3px 0px;
    font-size: 10px;
    font-weight: normal;
    color: #036;
}
h6.subtitle {
    padding: 3px 3px 3px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    font-weight: normal;
}
.areainfo {
    font-size: 10px;
    font-weight: bold;
    color: #5b5b5b;
    margin-bottom: 15px;
}

/* showmodulename                                     */
/*----------------------------------------------------*/
div.module-name {
    color: #277;
    font-size: 10px;
}
div.uiarea-info {
    color: blue;
    font-size: 10px;
}

/* form elements                                      */
/*----------------------------------------------------*/
form {
    margin: 0;
}
input,
select {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    margin: 0;
}

.textInput,
textarea {
	border: 1px solid Gray;
}
input.app-inp-txt {
    border: 1px solid Gray;
}

input.FancyButton,
input.FancyButtonGrey {
    color: #003366;
    background-color: #EEEEEE;
    border: 1px solid #003366;
    padding: 1px 5px;
}

/* links                                              */
/*----------------------------------------------------*/
a:link,
a:visited,
a:active {
    color: #003063;
    text-decoration: none;
    border-bottom: 1px dotted #8F8F8F;
}
a.imgbtn-lk {
	border-bottom: 0;	
} 
a.FancyLinkGrey:link,
a.FancyLinkGrey:visited,
a.FancyLinkGrey:active,
a.FancyLink:link,
a.FancyLink:visited,
a.FancyLink:active {
	background-color: #EEE;
	border: 1px solid #003366 !important;
	color: #003366;
	font-style:normal;
	margin: 0 12px 0 0;
	padding: 2px 5px;
	white-space: nowrap;
}

/* standard table                                     */
/*----------------------------------------------------*/
.app-std-tbl {
    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
}
.app-std-tbl img.b2c-btn {
    padding: 5px;
    border: 0px;
}
.app-std-tbl tr.app-std-tbl-even {
    background-color: #f0f1f5;
}
.app-std-tbl tr.app-std-tbl-odd {
    background-color: #fafbfc;
}
.app-std-tbl th {
    background-color: #cbe0f7;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #036;
    padding: 4px 4px 3px 4px;
    margin: 0px;
    border-right: 1px solid #99b5cf;
    border-bottom: 1px solid #99b5cf;
}
.app-std-tbl .app-std-tbl-th-last {
    border-right-width: 0px;
}
.app-std-tbl td {
    padding: 4px 4px 5px 4px;
    margin: 0px;
    border-right: 1px solid #c1c5d0;
}
.app-std-tbl td table td { /* prevent inheritance of border and padding width definitions in nested tables */
	padding: 0px;
	border-right-width: 0px;
}
.app-std-tbl .app-std-tbl-td-last {
    border-right-width: 0px;
}

.app-std-tbl tfoot td.bottom-left { /* not available in all tables */
    border-width: 0px;
}
.app-std-tbl tfoot td.bottom-right { /* not available in all tables */
    border-right-width: 1px
}


/* button lists                                       */
/*----------------------------------------------------*/
#buttons {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #003366;
}
ul.buttons-1 {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.buttons-1 li {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #003366;
    margin: 0;
    margin-right: 1em;
    padding: 0;
}
ul.buttons-1 li a {
    float: left;
    display: block;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    border-bottom: 0 !important;
    height: 1em; /* needed for IE to get the complete box as link */
    background-color: #EEEEEE;
    color: #003366;
    font-weight: normal;
    text-align: left;
}
html>body ul.buttons-1 li a {
    height: auto;
}
ul.buttons-1 li a:hover {
    color: #8F8F8F;
}

/* messages                                           */
/*----------------------------------------------------*/
#message-content {
    padding: 5px 5px 0px 5px;
}
.fw-msg-area {
    padding-bottom: 5px;   
}

.error { /* error message */
    border: 1px solid #C40026;
    background: #fff7f2 url('images/error.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: #C40026;
}
.warn { /* warning message */
    border: 1px solid #ff9900;
    background: #fffffa url('images/warn.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: #e97900;
}
/* info message */
.info {
    border: 1px solid green;
    background: #fafffc url('images/info.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: green;
}

body.message-page {
	padding: 10px;	
}
body.message-page #buttons {
	margin-top: 10px;	
}

/* JSP debug messages                                 */
/*----------------------------------------------------*/
.jspdebugmsg {
	border: 1px dashed #999; 
	font-size: xx-small; 
	font-family: Verdana,Geneva,sans-serif; 
}
.jspdebugmsg-head {
	background-color: #DDD; 
	font-weight: bold;
}
.jspdebugmsg-head table {
	width: 100%;
}
.jspdebugmsg-head a {
	text-decoration: none;
	border-bottom: 0;
}
.jspdebugmsg-body {
	background-color: #FBFBFB; padding: 3px;
}


/* navigation tree                                    */
/*----------------------------------------------------*/
#secnav {
    margin: 0 0 8px 0;
}
#secnav div.secnav-contbox {
    padding: 1px 0 0 1px;
    border-bottom: 1px dashed #B5CFEF;
    background: url(images/cr_tl_box4.gif) top left no-repeat;
}
#secnav ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#secnav li {
    border-top: 1px dashed #B5CFEF;
    margin: 0;
    padding: 4pt 0 4pt 19px;
    background: url(images/cat_cl.gif) 4px 5px no-repeat; 
    border-right: 8px solid #F7FBFF;
}
#secnav li a {
    text-decoration: none;
    border-bottom: 0;
}
#secnav li a:hover {
    color: #8F8F8F;
}


#secnav li.categSelected {
    border-right: 8px solid #ff7e00;
    background-image: none;
}
#secnav li.categSelected a {
    background: url(images/cat_cl_act.gif) 4px 5px no-repeat;
    padding-left: 19px;
    color: #e27000;
    font-weight: bold;    
}

#secnav li.secnav-categIsSub {
	padding-top: 0.8pt;
}
#secnav li.secnav-categIsFirst,
#secnav li.secnav-categIsSub {
	border-top: 0;
}

#secnav li.secnav-level0 {
	padding-left: 5px;
}
#secnav li.secnav-level1 {
	padding-left: 20px;
}
#secnav li.secnav-level2 {
	padding-left: 35px;
}
#secnav li.secnav-level3 {
	padding-left: 50px;
}
#secnav li.secnav-level4 {
	padding-left: 65px;
}
#secnav li.secnav-level5 {
	padding-left: 80px;
}
#secnav li.secnav-level6 {
	padding-left: 95px;
}

/* main title of the navigation tree */
#secnav li.secnav-home {
    background: #cbe0f7 url(images/cat_op.gif) 7px 5px no-repeat;
    border-top: 0;
    border-right: 8px solid #84b2de;
    padding-left: 22px;
}
#secnav li.secnav-home a {
    height: 1em; /* needed for IE to get the complete box as link */
    font-weight: bold;
    color: #036;
}
#secnav li.secnav-home a:hover {
    color: #036; 
}

/* sub title in the navigation tree */
#secnav li.secnav-subtitle {
    padding: 10px 5px 5px 0.5em;
    background-image: none;
    font-weight: bold;
    color: #003366;
}
#secnav li.secnav-subtitle a {
    color: #003366;
}


/* Column-based data input & output                   */
/*----------------------------------------------------*/
.formfields table,
.formresults table {
   border-collapse: collapse;   
}
.formfields td.label,
.formfields td.labelObl,
.formresults td.label { 
    vertical-align: top; 
    white-space: nowrap;
    background-color: #fafbfc;
}
.formfields td.label,
.formfields td.labelObl { 
    padding: 6px 5px 4px 7px; 
}
.formresults td.label { 
    padding: 6px 5px 0px 7px; 
}
.formfields td.labelObl,    /* use only when some of the labels within '.formfields td.label' are obligatory */  
.formfields td.label .labelPartObl { 
    font-weight:bold; 
} 
.formfields td.input,
.formresults td.data {
    vertical-align: top; 
    padding: 3px;
    background-color: #f0f1f5;
}
.formfields td.input .txtdata { 
    font-weight: bold; 
}
.formfields td.input img,
.formfields td.label img,
.formfields td.labelObl img,
.formresults td.label img { 
    vertical-align: text-bottom; 
}
.formfields h4,           /* for any subtitles embedded in the formfields table */
.formresults h4 {
    margin: 0px; 
    padding: 15px 5px 5px 5px; 
    font-weight:bold;
    font-size: 10px;  
}
.formfields td.infoline,
.formresults td.infoline {
	padding: 5px;
} 
.formfields td.msgarea,    /* for any (info, warning, error) messages embedded in the formfields table */ 
.formresults td.msgarea {
    padding: 15px 5px 2px 5px;
}

.formfields td.inputradio_singleline {  
    vertical-align: top; 
    padding: 4px 4px 4px 20px; 
    background-color: #f0f1f5;
}
