/******************************************************/
/* general styles                                     */


.cat-prd-id {
  display:none;
}
.cat-prd-dsc,
.cat-prd-dsc a {
    text-decoration: none;
    font-size:11px;  
    font-weight: bold;
    color: #036;
}
.cat-prd-dsc a {
	border-bottom: 1px dotted #E77100;
}
.cat-prd-thumb a {
	border-bottom: 0;	
}
.cat-prd-hli {
    display: inline;
    background-color: #ff0;
    padding: 1px 0px;
}
.cat-prd-msg {
    padding-bottom: 10px;
}
.cat-prd-prc {
    text-align: right;
    font-weight: bold;
}
.cat-prc-detail table,
.cat-prd-tech table {
    display: inline;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}
.cat-prc-detail table td {
    border-width: 0px;
    padding-top: 1px !important;
    padding-bottom: 1px !important; 
}
.cat-prd-prc-inactive { 
    text-align: right;
    text-decoration: line-through;
    font-weight: bold;
}
.cat-prd-prc-lbl { 
    padding-right: 5px;
}
.cat-prd-prc-lbl-post { 
    text-align: left;
    padding-left: 3px !important;
}
.cat-prd-total-price table {
    border-collapse: collapse;   
}
.cat-prd-total-price-title {
  text-decoration: none;
  font-size:11px;  
  font-weight: bold;
  color: #000;
}
.cat-prd-cntdur-lbl {
  display: inline;  
  padding-bottom: 5px;
  font-size:10px;
}
.cat-prd-cntdur {
  display: inline;  
  font-weight: bold;
  padding-bottom: 5px;
  font-size:10px;
}
.cat-prd-peyec {
  color: #E27000;
  font-weight: normal;
  padding-bottom: 5px;
  font-size:11px;
}

/* boxes - start */
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-head .fw-box-sccmp-head .fw-box-i2-sccmp-head,
#cat-pcat-cua .cat-pcat-cua-head .fw-box-cua-head .fw-box-i2-cua-head,
.cat-catentry-recomm-head .fw-box-rec-head .fw-box-i2-rec-head,
.cat-catentry-bests-head .fw-box-bests-head .fw-box-i2-bests-head {
    background: url(images/bxs2_tl.gif) top left no-repeat;
    margin: 0;
    padding: 0;
}
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-head .fw-box-sccmp-head .fw-box-i3-sccmp-head,
#cat-pcat-cua .cat-pcat-cua-head .fw-box-cua-head .fw-box-i3-cua-head,
.cat-catentry-recomm-head .fw-box-rec-head .fw-box-i3-rec-head,
.cat-catentry-bests-head .fw-box-bests-head .fw-box-i3-bests-head {
    background: url(images/bxs2_br.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-head .fw-box-sccmp-head .fw-box-content-sccmp-head,
#cat-pcat-cua .cat-pcat-cua-head .fw-box-cua-head .fw-box-content-cua-head,
.cat-catentry-recomm-head .fw-box-rec-head .fw-box-content-rec-head,
.cat-catentry-bests-head .fw-box-bests-head .fw-box-content-bests-head {
    background: url(images/bxs2_bl.gif) bottom left no-repeat;
    font-size: 10px;
    font-weight: bold;
    color: #036;
    padding: 6px 5px 6px 10px;
}
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-cont .fw-box-sccmp-cont,
#cat-pcat-cua .cat-pcat-cua-cont .fw-box-cua-cont,
.cat-catentry-recomm-cont .fw-box-rec-cont,
.cat-catentry-bests-cont .fw-box-bests-cont {
    background: url(images/bxs2_sub_tr.gif) top right no-repeat;
    padding: 5px 5px 15px 0px;
    background-color: white;
}
/* boxes - end */


/******************************************************/
/* tabs                                               */

.cat-tabs-head {
	line-height: 28px;
    padding: 5px 11px 0px 5px;
}
.cat-tabs-head ul {
    clear: both;
    padding: 0;
	margin: 0;
	height: 28px;
	background: url(images/bxs4_sub_top.gif) bottom right repeat-x;
	list-style: none;
}
.cat-tabs-head li {
    float: left;
    margin: 0;
    padding: 0;
    background: url(images/bxs4_head_tab_l.gif) bottom left no-repeat;    
}
.cat-tabs-head li.cat-tab-first {
	background: url(images/bxs4_head_tab_l_first.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-firstactive {
	background: url(images/bxs4_head_tab_l_first_act.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-active,
.cat-tabs-head li.cat-tab-lastactive {
	background: url(images/bxs4_head_tab_l_act.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-afteractive,
.cat-tabs-head li.cat-tab-lastafteractive {
	background: url(images/bxs4_head_tab_l_aact.gif) bottom left no-repeat;
}
.cat-tabs-head li a {
	display: block;
    padding: 0 6px 0 1px;
    margin-left: 25px;
    text-decoration: none;
    border-bottom: 0;
    color: #003366;
    font-weight: normal;
    font-size: 11px;
    background: url(images/bxs4_head_tab_bg.gif) bottom left repeat-x;
}
.cat-tabs-head li.cat-tab-first a {
	margin-left: 37px;
}
.cat-tabs-head li.cat-tab-last a,
.cat-tabs-head li.cat-tab-lastafteractive a {
	background: url(images/bxs4_head_tab_l_last.gif) bottom right no-repeat;
	padding-right: 115px;
}
.cat-tabs-head li.cat-tab-active a,
.cat-tabs-head li.cat-tab-firstactive a {
	margin-left: 30px;
	background: url(images/bxs4_head_tab_bg_act.gif) bottom left repeat-x;
}
.cat-tabs-head li.cat-tab-firstactive a {
	margin-left: 42px;
}
.cat-tabs-head li.cat-tab-lastactive a {
	margin-left: 30px;
	padding-right: 115px;
	background: url(images/bxs4_head_tab_l_last_act.gif) bottom right no-repeat;
}
.cat-tabs-head li a:hover {
    color: #8F8F8F;
}
.cat-tabs-head li a span {
	position: relative;
	top: 2px;
}
.cat-tabs-head li.cat-tab-active a span,
.cat-tabs-head li.cat-tab-firstactive a span,
.cat-tabs-head li.cat-tab-lastactive a span {
	top: 0px;
	color: #E77100;
	font-weight: bold;
}

/******************************************************/
/* buttons                                            */



.cat-imgbtn-addtocart {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-cart.gif) 1px 3px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-addtolfl {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-lflt.gif) 1px 2px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-hint {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-hint.gif) 5px 3px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-delete {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-delete.gif) 2px 2px no-repeat;
	vertical-align: bottom;
}


/******************************************************/
/* navigation (secnav)                                */

#cat-navigator #secnav li.categSelected.secnav-categIsFirst {
	background: url(images/cr_tl_box4_firstcat.gif) top left no-repeat;
	background-color: transparent;
}

/* sec navigation -> quick search */
.cat-navigator-qsrch .fw-box {
    background: url(images/br3_tr.gif) top right no-repeat;
    margin: 0 0 5px 0;
    padding: 0;
    width: 99.9%; /* because of IE6 */
}
.cat-navigator-qsrch .fw-box .fw-box-i1 {
    background: url(images/br3_tl.gif) top left no-repeat;
    margin: 0;
    padding: 0;
}
.cat-navigator-qsrch .fw-box .fw-box-i2 {
    background: url(images/br3_br.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
.cat-navigator-qsrch .fw-box .fw-box-i3 {
    background: url(images/br3_bl.gif) bottom left no-repeat;
    margin: 0;
    padding: 0;
}
.cat-navigator-qsrch .fw-box .fw-box-content {
    padding: 10px 2px 15px 11px;
}
.cat-navigator-qsrch-label {
	font-weight: bold;	
}
.cat-navigator-qsrch-inp {
	padding: 5px 5px 0 5px;	
}
.cat-navigator-qsrch-inp input {
	width: 95%;
}
.cat-navigator-qsrch-submit {
	margin: 2px 0 0 5px;
}
.cat-navigator-qsrch-adv {
	padding: 8px 0 0 5px;
}
.cat-navigator-qsrch-adv a {
	text-decoration: none;
}

/* sec navigation -> external catalog link */
#cat-navigator div.cat-navigator-extcat {
    background: #cbe0f7 url(images/cat_cl_act.gif) 6px 6px no-repeat;
    border-right: 8px solid #84b2de;
    padding: 4pt 0pt 4pt 22px;
}
#cat-navigator div.cat-navigator-extcat a {
    font-weight: bold;
    color: #E77100;
    border-bottom: 1px dotted #E77100;
}

/* sec navigation -> catalog areas list */
#secnav li.categ {
    background-image: none; 
}
#secnav li.categSelected {
    background-image: none; 
    background-color: #FFF9F2 !important;
}
#secnav li.categSelected a {
	background-image: none !important;
	padding-left: 0 !important;	
}
div.cat-secnav-spacer {
    display: none;
}
div.cat-secnav-bullet {
	border: 0px solid green;
	display: block;	
	width: 15px;
	position: absolute;
}
div.cat-secnav-bullet a {
	display: block;	
	width: 15px;
	height: 15px;
}
div.cat-secnav-areaname {
	padding-left: 17px;
	padding-right: 20px;
	margin-top: 2px;
}
img.cat-secnav-plus {
	width: 12px;
	height: 14px;
	border: 0;
	background: url(images/nav_bullet_plus.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-plus {
	background: url(images/nav_bullet_plus_act.gif) no-repeat 0px 2px;
}
img.cat-secnav-minus {
	width: 12px;
	height: 14px;
	border: 0;
	background: url(images/nav_bullet_minus.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-minus {
	background: url(images/nav_bullet_minus_act.gif) no-repeat 0px 2px;
}
img.cat-secnav-neutral {
	width: 12px;
	height: 14px;
	border: 0;
	background: url(images/nav_bullet_neutral.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-neutral {
	background: url(images/nav_bullet_neutral_act.gif) no-repeat 0px 2px;
}

/* sec navigation -> marketing */
.cat-secnav-mkt .fw-box {
    background: url(images/br3_tr.gif) top right no-repeat;
    margin: 0 0 8px 0;
    padding: 0;
    width: 99.9%; /* because of IE6 */
}
.cat-secnav-mkt .fw-box .fw-box-i1 {
    background: url(images/br3_tl.gif) top left no-repeat;
    margin: 0;
    padding: 0;
}
.cat-secnav-mkt .fw-box .fw-box-i2 {
    background: url(images/br3_br.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
.cat-secnav-mkt .fw-box .fw-box-i3 {
    background: url(images/br3_bl.gif) bottom left no-repeat;
    margin: 0;
    padding: 0;
}
.cat-secnav-mkt .fw-box .fw-box-content {
    padding: 14px 2px 9px 11px;
}
#navigator div#recomm,
#navigator div#bests,
#navigator div#camp {
    padding-bottom: 10px;
}
#navigator div#recomm a,
#navigator div#bests a {
    color: #003366;
    font-weight: bold;
}
.cat-secnav-mkt-camplabel {
	font-weight: bold;
}
.cat-secnav-mkt-campinp {
	padding: 5px 0 0 5px;	
}
.cat-secnav-mkt-campinp input {
	width: 80px;
}
.cat-secnav-mkt-campsubmit {
	margin: 2px 0 0 5px;
}

/******************************************************/
/* loyalty                                            */

#navigator div#loyProg {
    padding-bottom: 10px;
}
.cat-secnav-loy-prglabel {
	padding-bottom: 12px;
	color: #003366;
    font-weight: bold;	
}
.cat-secnav-loy-prgbtn {
	padding: 0 0 3px 5px;
}
.cat-secnav-loy-prgbtn a {
	font-weight: normal;
}

/******************************************************/
/* catalog home                                       */

.cat-entry-login-bests {
    margin-bottom: 10px;
}

/******************************************************/
/* Product catalog                                    */

div.cat-busy-overlay  {
    z-index: 999;	
	background-color: black;
	moz-opacity:.010; 
	filter:alpha(opacity=1); 
	opacity:.010;
	background-image:  url('/b2c/b2c/mimes/images/busy.gif');
	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50% 50%; 
    position: absolute;
    top: 0px;                           
    left: 0px;                          
    overflow: hidden;                                                  
    width: 100%;
    height: 100%;
    display: block;	
}

#cat-pcat .cat-btn-det { 
    color: #0033CC;
    border: solid 0px;  
    padding:4px; 
    text-align:left;
    width:60px;
}
#cat-pcat .cat-btn-com {
  text-align: right;
}
.cat-pcat-pages {
    margin: 10px 0px 3px 0px;
    text-align: center;
}
.cat-pcat-pages-tbl {
    border-collapse: collapse;
    margin: auto;
}
.cat-pcat-pages-tbl-pre,
.cat-pcat-pages-tbl-curr,
.cat-pcat-pages-tbl-post {
    padding: 0px;
}
.fw-box-content-pcat-pgs-pre {
    background: url(images/bxs3_br_a.gif) bottom left no-repeat;
    margin: 0px;
    padding: 2px 5px 4px 15px;
}
.cat-pcat-pages-title {
    display: inline;
    padding: 0px 7px 0px 1px;
    color: #036;
    font-weight: bold;
}
.cat-pcat-pages-prev {
    display: inline;
    padding-right: 3px;
}
.cat-pcat-pages-prev a {
	border-bottom: 0;
}
.fw-box-pcat-pgs-curr {
    border: 1px solid #e27000;
    background-color: #fffbf7;
    padding: 2px 6px 4px 6px;
    margin: 0;
}
.cat-pcat-pages-currpg {
    display: inline;
    color: #E27000;
    font-weight: bold;
}
.fw-box-i3-pcat-pgs-post {
    background: url(images/bxs3_br_c.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
.fw-box-content-pcat-pgs-post {
    margin: 0px;
    padding: 2px 15px 4px 5px;
}
.cat-pcat-pages-next {
    display: inline;
    padding-left: 5px;
}
.cat-pcat-pages-next a {
    border-bottom: 0;
}
.cat-pcat-pages-pg {
    display: inline;
    padding: 0px 2px 0px 4px;
}
.cat-pcat-pages-pg a {
    font-weight: bold;
    border-bottom: 0;
}
.cat-pcat-cfg {
    padding: 10px 0px 5px 0px;
}
.cat-pcat-cfg-txt {
    vertical-align: top;
}
.cat-pcat-cfg .cat-cfg-err {
	width: 16px;
	height: 16px;
	border: 0;
	background: url(images/error.gif) no-repeat;
}

/******************************************************/
/* Product catalog - Listview                         */

#cat-pcat-lstv .app-std-tbl {
    width: 100%;
    margin-top: 5px;    
}
/****** THEAD ******/
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-thumb {
	border-right-width: 0px;
	padding-right: 6px;
    padding-left: 6px;
	width: 0%;
}

#cat-pcat-lstv .app-std-tbl thead th.cat-prd-data {
    text-align: left;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 83%;
}
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-data a {
    color: #036;
}    
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-prc,
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-qty,
#cat-pcat-lstv .app-std-tbl thead th.cat-btn-lst {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 5%;
}
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-comp {
    width: 2%;
}

/****** TBODY ******/
#cat-pcat-lstv .app-std-tbl td {
    padding-top: 4px;
    padding-bottom: 2px;
}
#cat-pcat-lstv .app-std-tbl td td {
    padding: 0;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-thumb {
	border-right-width: 0px;
	padding: 4px !important;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-nothumb {
	border-right-width: 0px;
	padding: 0px;
	margin: 0px;
}
#cat-pcat-lstv .app-std-tbl .cat-prd-thumb img {
	border: 1px solid #ddd;
	width: 60px;
}
#cat-pcat-lstv .app-std-tbl .cat-prd-nothumb img {
    width: 0px;
    height: 0px;
    border-width: 0px;   
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data {
	color: #000;
	font-weight: normal;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-dsc {
    padding-bottom: 5px;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-var .cat-prd-dsc {
    font-weight: normal;
    font-size: 10px;    
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-data-cualink {
	background: url(images/cat_cl.gif) 0px 2px no-repeat;
	padding: 1px 0 3px 20px;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-ctr-title {
	background: url(images/cat_cl.gif) 0px 2px no-repeat;
	padding: 1px 0 3px 20px;
	font-weight: bold;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-ctr-data {
	padding-left: 20px;	
}

#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-prc {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-qty {
    text-align: right;
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 6px;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-btn-lst {
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-cmp {
    text-align: center;
}
#cat-pcat-lstv table.cat-prodlist-btnlist {
	width: 100%;	
}
#cat-pcat-lstv table.cat-prodlist-btnlist td {
	text-align: right;	
}
#cat-pcat-lstv span.cat-chkbox-arrow {
	display: inline; 
	vertical-align: top; 
	margin: 0px 10px 0px 3px;
}  
#cat-pcat-lstv span.cat-chkbox-arrow img {
	width: 14px;
	height: 16px;
	border: 0;
	background: url(images/arrow_tr_bl.gif) 0px 5px no-repeat;
}

/******************************************************/
/* Product catalog - Homepageview                     */
 
#cat-pcat-hpv .fw-box { 
    margin: 0; 
    padding: 0;
}
#cat-pcat-hpv .fw-box .fw-box-content {
    padding: 5px;
}
#cat-pcat-hpv-prod-0,
#cat-pcat-hpv-prod-1,
#cat-pcat-hpv-prod-2,
#cat-pcat-hpv-prod-3,
#cat-pcat-hpv-prod-4,
#cat-pcat-hpv-prod-5 {
  width: 100%;
  height: 100%;
  background: url(images/bg_hpv.gif) top left no-repeat;
}
#cat-pcat-hpv .cat-pcat-hpv-tbl {
  border-collapse: collapse;
  width: 100%;
}
#cat-pcat-hpv th {
  font-size: 10px;
  text-align: left;
  vertical-align: top;
  color: White; 
}
#cat-pcat-hpv th a:link, 
#cat-pcat-hpv th a:visited, 
#cat-pcat-hpv th a:active {
  color : #003366;
} 
#cat-pcat-hpv td {
  font-size:  10px; 
  vertical-align: top;
  padding: 3px 5px 3px 0px;
}
#cat-pcat-hpv tr.cat-pcat-hinfo {
  color: #FFF;
  background-color: #003366;
  vertical-align: middle;
  font-weight: bold;
}
#cat-pcat-hpv tr.cat-pcat-hinfo td.col1,
#cat-pcat-hpv tr.cat-pcat-hinfo td.col1 img {
    width: 23px;
}
#cat-pcat-hpv tr.cat-pcat-hinfo td.col2 {
  width:2000px;
  text-align:left;
  vertical-align:middle;
}
#cat-pcat-hpv .cat-prd-facts {
  float: left;
}
#cat-pcat-hpv .cat-prd-img,
#cat-pcat-hpv .cat-prd-thumb {
  float:left;
  margin: 0px 5px 5px 0px;
}
#cat-pcat-hpv .cat-prd-thumb img { 
    border: 1px solid #ddd;
    width: 60px;
}
#cat-pcat-hpv .cat-prd-img img { 
    border: 1px solid #ddd;
    width: 100px;
}
#cat-pcat-hpv .cat-prd-dsc {
  margin-bottom: 5px;
}
#cat-pcat-hpv .cat-prd-cfg { 
  padding-bottom: 5px;
  font-weight: lighter;
}
#cat-pcat-hpv .cat-prd-cmp-grp { 
  margin-bottom: 5px;
}
#cat-pcat-hpv .cat-prd-cmp { 
  font-weight: bold;
}
#cat-pcat-hpv .cat-prc-detail { 
  padding: 0px 0px 5px 0px;
}
#cat-pcat-hpv .cat-prd-eyec { 
  clear:left;
  color: black;
  padding-bottom: 5px;
  font-size:11px;
}
#cat-pcat-hpv .cat-prd-qty label{ 
  font-weight: normal; 
}
#cat-pcat-hpv .cat-pcat-facts2 {
  clear: both;   
  padding: 5px 0px 0px 0px;
}
#cat-pcat-hpv .cat-prd-unit { 
  display: inline;
  margin: 0px 8px 0px 0px;
  font-weight: bold;
}
#cat-pcat-hpv .cat-prd-unit select {
    vertical-align: bottom;    
}
#cat-pcat-hpv .cat-prd-qty { 
  display: inline;
  margin: 0px;
  font-weight: bold;
}
#cat-pcat-hpv .cat-btn-lst { 
  display: inline;
  padding: 3px 0px 0px 0px;
  vertical-align: bottom;
}
#cat-pcat-hpv .cat-btn-lst img {
  border:none; 
  height:16px;  
  width:16px;
}
#cat-pcat-hpv .cat-prd-comp { 
  padding: 3px 0px 0px 0px;
}
#cat-pcat-hpv .cat-btn-det { 
    border:none;
    margin: 0px 0px 10px 0px; 
    padding: 0px;
    white-space: nowrap;
}
#cat-pcat-hpv .cat-btn-det a {
    font-size: 11px;
    color: #e27000;
    border-bottom: 1px dotted #e27000;
}

/******************************************************/
/* Product Details                                    */

#cat-pcat-prd-det div.cat-prd-block {
  padding: 0px;
}
#cat-pcat-prd-det table.cat-prd-block-ltab {
    width: 100%;   
}
#cat-pcat-prd-det td.cat-prd-block-ltab-col1 {
    width: 70%;
}
#cat-pcat-prd-det td.cat-prd-block-ltab-col2 {
    width: 30%;
}

#cat-pcat-prd-det .cat-prd-img {
    float:left;
    margin: 0px 5px 5px 0px;
}
#cat-pcat-prd-det .cat-prd-img img { 
    border: 1px solid #ddd;
    width: 120px;
}
#cat-pcat-prd-det .cat-prd-thumb img { 
    border: 1px solid #ddd;
    width: 60px;
}
#cat-pcat-prd-det .cat-prd-dsc {
  margin-bottom: 5px;
  font-size:11px;  
  font-weight: bold;
  color: #036;
}
#cat-pcat-prd-det .cat-prd-cfg {
  padding-bottom: 5px;
  font-weight: lighter;
}
#cat-pcat-prd-det .cat-prd-ldsc {
  margin-bottom: 5px;
  font-size:10px; 
}
#cat-pcat-prd-det .cat-prd-facts2 {
    float: right;
}
.fw-box-prd-facts2,
.fw-box-prd-btns-bot {
	background: transparent url(images/br4_tr.gif) top right no-repeat;
    margin: 0;
    padding: 0;
}
.fw-box-i1-prd-facts2,
.fw-box-i1-prd-btns-bot {
	background: transparent url(images/br4_tl.gif) top left no-repeat;
    margin: 0;
    padding: 0;
}
.fw-box-i2-prd-facts2,
.fw-box-i2-prd-btns-bot {
    background: transparent url(images/br4_br.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
.fw-box-i3-prd-facts2,
.fw-box-i3-prd-btns-bot {
    background: transparent url(images/br4_bl.gif) bottom left no-repeat;
    margin: 0;
    padding: 10px;
}
.fw-box-content-prd-facts2,
.fw-box-content-prd-btns-bot {
	min-height: 27px;
	min-width: 150px;	
}

#cat-pcat-prd-det .cat-prd-facts2 .cat-prd-peyec {
    text-align: center;   
}
#cat-pcat-prd-det .cat-prd-facts2 .cat-prd-price-data table {
    display: inline;
}

#cat-pcat-prd-det .cat-prd-total-price {
	margin: 0px;
	padding: 0px 0px 8px 0px;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price-title {
    background: url(images/bg_catdet.jpg) bottom right no-repeat;
    padding: 0px 2px 9px 0px;
    margin: 0px 0px 2px 3px;
    font-size: 11px;
    font-weight: bold;
    color: #036;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price table {
    display: inline;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price td.cat-prd-prc-lbl {
    padding-top: 3px;
    padding-bottom: 3px;
}
#cat-pcat-prd-det .cat-prd-total-price td.cat-prd-prc {
    background: url(images/catpr_bg.jpg) top left repeat-y;
    border-right: 1px solid #84b2de;
    padding: 3px 5px 3px 5px;
}
#cat-pcat-prd-det div.cat-prd-facts2 div.cat-prd-det-qtyunit { 
	text-align: center;
}	
#cat-pcat-prd-det div.cat-prd-facts2 .cat-prd-qty { 
	display: inline;
	margin: 0;
	font-weight: bold;
}
#cat-pcat-prd-det div.cat-prd-facts2 .cat-prd-unit { 
	display: inline;
	margin: 0;
}
#cat-pcat-prd-det div.cat-prd-facts2 div.btn-add-to-bskt,
#cat-pcat-prd-det div.cat-prd-facts2 div.btn-sel-prd {
    border-bottom: 1px solid #FF7E00;
    padding: 5px 0 10px 0;
    text-align: center;
}
#cat-pcat-prd-det div.btn-add-to-bskt a {
    line-height: 20px;
    padding: 3px 8px 3px 23px;
    background: #eee url(images/symb-cart.gif) 4px 3px no-repeat;
    border: 1px solid #003063 !important;
    text-decoration: none;
}
#cat-pcat-prd-det div.btn-sel-prd a {
    line-height: 20px;
    padding: 3px 8px;
    background-color: #eee;
    border: 1px solid #003063 !important;
    text-decoration: none;
}

#cat-pcat-prd-det div.btn-box {
	padding: 2px 8px 3px 24px;
}

#cat-pcat-prd-det div.btn-back-to-bskt {
    background: url(images/symb-cart-rv.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-add-to-lflt {
    background: url(images/symb-lflt.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-create-lead {
    background: url(images/symb-lead.gif) 9px 4px no-repeat;
}
#cat-pcat-prd-det div.btn-refr {
    background: url(images/symb-refr.gif) 7px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-refr a {
	color: #e27000;
}
#cat-pcat-prd-det div.btn-back {
    background: url(images/symb-back.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-comp-upsel {
    background: url(images/symb-comp.gif) 4px 3px no-repeat;
}

#cat-pcat-prd-det div.cat-prd-det-avw {
    border-top: 1px solid #FF7D00;
    padding-top: 5px;
}
#cat-pcat-prd-det div.cat-prd-det-avw-head {
    padding-bottom: 5px;
    text-align: center;
}
#cat-pcat-prd-det span.cat-prd-det-avw-title {
    font-weight: bold;
}
#cat-pcat-prd-det span.cat-prd-det-avw-chk a {
    line-height: 20px;
    padding: 3px 8px 3px 19px;
    background: #eee url(images/symb-refr.gif) 5px 3px no-repeat;
    border: 1px solid #003063 !important;
    text-decoration: none;
}

/* tabs */
#cat-pcat-prd-det .cat-tabs-head {
	margin-top: 20px;	
}
.cat-pcat-cuatabs-body #cat-pcat-cua .cat-pcat-cua-cont .fw-box-cua-cont,
.cat-pcat-cuatabs-body #cat-pcat-contr .cat-pcat-cua-cont .fw-box-cua-cont {
	background: transparent url(images/bxs4_sub_tr.gif) top right no-repeat;
    margin: 0;
    padding: 0;
}
.cat-pcat-cuatabs-body #cat-pcat-cua .cat-pcat-cua-cont .fw-box-i1-cua-cont,
.cat-pcat-cuatabs-body #cat-pcat-contr .cat-pcat-cua-cont .fw-box-i1-cua-cont {
	background: transparent url(images/bxs4_sub_tl.gif) top left no-repeat;
    margin: 0;
    padding: 0;
}
.cat-pcat-cuatabs-body #cat-pcat-cua .cat-pcat-cua-cont .fw-box-i2-cua-cont,
.cat-pcat-cuatabs-body #cat-pcat-contr .cat-pcat-cua-cont .fw-box-i2-cua-cont {
    background: transparent url(images/bxs4_sub_br.gif) bottom right no-repeat;
    margin: 0;
    padding: 0;
}
.cat-pcat-cuatabs-body #cat-pcat-cua .cat-pcat-cua-cont .fw-box-i3-cua-cont,
.cat-pcat-cuatabs-body #cat-pcat-contr .cat-pcat-cua-cont .fw-box-i3-cua-cont {
    background: transparent url(images/bxs4_sub_bl.gif) bottom left no-repeat;
    margin: 0;
    padding: 10px 18px 18px 10px;
}

#cat-pcat-prd-det div.cat-prd-det-categ {
	padding: 10px 0;
}

/* provider scenario - start */
#cat-pcat-prd-det .cat-prd-cmp-grp {
  margin-bottom: 5px;
}

#cat-pcat-prd-det .cat-prd-cmp { 
  font-weight: bold;
}
#cat-pcat-prd-det .cat-det-btn-sc {
    padding-top: 5px;
}
#cat-pcat-prd-det #subcomptable {
    width: 100%;   
}
#cat-pcat-prd-det div.cat-prd-det-btns-bot {
    clear: both;
    float: right;
    margin: 0;
    padding: 0;
}
#cat-pcat-prd-det div.cat-prd-det-btns-bot div.btn-add-to-bskt {
	padding-bottom: 5px;
}
/* provider scenario - end */

/******************************************************/
/* Catalog - CUA list                                 */
#cat-pcat-cua {
	padding-top: 10px;
	clear: both;
}
#cat-pcat-cua .app-std-tbl {
    width: 100%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-thumb {
	border-right-width: 0px;
	padding-right: 6px;
    padding-left: 6px;
	width: 0%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-data {
    text-align: left;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 85%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-prc,
#cat-pcat-cua .app-std-tbl thead th.cat-btn-lst {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 4%;
}

#cat-pcat-cua .app-std-tbl tbody td.cat-prd-thumb {
    padding: 0px;
    margin: 0px;
    border-right: 0px; 
 	padding: 4px !important;
}
#cat-pcat-cua .app-std-tbl tbody td.cat-prd-thumb img {
    width: 60px;
    border: 1px solid #ddd; 
}
#cat-pcat-cua .app-std-tbl tbody td.cat-prd-prc {
    text-align: right;
    white-space: nowrap;
}
#cat-pcat-cua .app-std-tbl tbody td.cat-btn-lst {
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 6px;
}

#cat-pcat-cua  div.cat-pcat-cua-nores {
	padding: 5px 0 25px 0;	
}

/******************************************************/
/* contracts                                          */
#cat-pcat-contr .cat-pcat-contr-opener {
	font-weight: bold;
	padding-bottom: 10px;
}
#cat-pcat-contr .app-std-tbl {
    width: 100%;
}
#cat-pcat-contr th.cat-prd-qty,
#cat-pcat-contr th.cat-btn-lst {
    width: 5%;
}

/******************************************************/
/* Product Comparison                                 */
#cat-pcat-prd-comp .cat-prd-cfg-lbl,
#cat-pcat-prd-comp .cat-prd-cntdur-lbl,
#cat-pcat-prd-comp .cat-prd-comp-lbl { 
    text-align: left;
    font-weight: bold;
    font-size: 11px;
}
#cat-pcat-prd-comp td.cat-prd-comp,
#cat-pcat-prd-comp td.cat-prd-cntdur { 
    text-align: center;
}
#cat-pcat-prd-comp .cat-prd-thumb img {
    width: 60px;
    border: 1px solid #ddd;   
}
table.cat-pcat-prd-comp-rpc-ltab {
	width: 100%;
}
td.cat-pcat-prd-comp-rpc-ltab-prc {
	text-align: right;
}

/******************************************************/
/* Product Details - Bundle Components                */

#cat-pcat-prd-cmp {
	vertical-align: middle;
}
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-head {
	clear:left;
	margin: 5px 0px 0px 0px;
}
#cat-pcat-prd-cmp .cat-prd-cmp-grp {
	font-size:12px; 
	font-weight: bold;
	width: auto;
	padding:4px;
	text-align: left;
	vertical-align: middle;
	background: none #003366;
	color:#FFFFFF;
}
#cat-pcat-prd-cmp .app-std-tbl th {
  display:none; 
}
#cat-pcat-prd-cmp .app-std-tbl tr.app-std-tbl-odd, 
#cat-pcat-prd-cmp .app-std-tbl tr.app-std-tbl-even {
    background-color: white;
    border-bottom: 1px dashed #B5CFEF;
}

#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-selbtn {
    background-color: #f0f1f5;
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    width: 1%;
    text-align: center;
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-thumb {
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    padding: 3px;
    margin: 0px;
    width: 9%;
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-thumb .cat-prd-thumb {
    margin: 0px;   
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-prddata {
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    width: 56%;
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-pricing {
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    width: 20%;
    text-align: right;
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-quant {
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    width: 8%;
}
#cat-pcat-prd-cmp td.cat-pcat-prd-sccmp-tbl-comp {
    background-color: #f0f1f5;
    border-width: 0px;
    border-bottom: 1px dashed #B5CFEF;
    text-align: center;
    width: 6%;
}
#cat-pcat-prd-cmp .cat-prd-facts div div {
	padding-left: 10px;
}
#cat-pcat-prd-cmp .cat-prd-facts div div div {
	padding-left: 20px;
}
#cat-pcat-prd-cmp .cat-prd-facts div div div div {
	padding-left: 30px;
}
#cat-pcat-prd-cmp .app-std-tbl .cat-prd-dsc a {
    margin-bottom: 5px;
}
#cat-pcat-prd-cmp .app-std-tbl .cat-prd-qty { 
    display: inline;
    padding-right: 3px
}
#cat-pcat-prd-cmp .app-std-tbl .cat-prd-unit { 
    display: inline;
}
#cat-pcat-prd-cmp .cat-btn-com {
  text-align: right;
  margin: 0px;
}
#cat-pcat-prd-cmp .cat-btn-tog {
  float:left;
  text-align: left;
  vertical-align:middle;
  margin: 0px 0px 10px 0px;
}
#cat-pcat-prd-cmp .cat-btn-tog a {
  color: #e27000;
  vertical-align: middle;
}
.app-std-tbl tbody td.prd-img div.cat-prd-thumb img {
    width:60px;
    border: 1px solid #ddd;
}