/* standard styles, B2B                               */
/*----------------------------------------------------*/
body {
    color: #000000;
    background: none #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 65%; 
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 .5em 0;
}
img {
	border: 0;	
}
table {
	border-collapse	: collapse;
	font-size: 100%;
}
table td, 
table th {
	padding: 0;
	vertical-align: top;
	font-size: 100%;
}

h1, h2, h3 {
	margin-top: 16px; 
	padding: 3px 0 3px 7px;
	border-bottom: 2px solid #225A8D; 
	border-left: 4px solid #225A8D; 
	font-size: 110%; 
	font-weight: bold; 
	color: #225A8D; 
}
h1.areatitle {
    margin: 2px 0px 15px 0px;
}
h1.fw-msg-err-title {
    color: #C40026;
    margin: 2px 0px 15px 0px;
}
h2 { 
    font-size: 100%; 
    border-bottom: 1px solid #225A8D; 
	border-left: 3px solid #225A8D; 
}
h2.areatitle {
    margin: 2px 0px 5px 0px;
}
h3 {
    font-size: 100%; 
    border-bottom: 1px solid #225A8D; 
	border-left: 3px solid #225A8D; 
}
h3.subtitle {
    padding: 3px 3px 9px 1px;
    margin: 0px 0px 2px 3px;
    border-bottom: 2px solid #225A8D; 
    font-size: 100%;
    font-weight: bold;
	color: #225A8D; 
}
h5.subtitle {
    padding: 3px 3px 3px 0px;
    margin: 0px 0px 3px 0px;
    border-bottom: 1px solid #225A8D; 
    font-size: 100%;
    font-weight: normal;
	color: #225A8D; 
}
h6.subtitle {
    padding: 3px 3px 3px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 100%;
    font-weight: normal;
}
.areainfo {
    margin-bottom: 15px;
	font-weight: bold;
    color: #5A595A;
}

/* showmodulename                                     */
/*----------------------------------------------------*/
div.module-name {
    color: #277;
}
div.uiarea-info {
    color: blue;
}

/* form elements                                      */
/*----------------------------------------------------*/
form {
    margin: 0;
}
input,
select {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    margin: 0;
}
.textInput,
textarea {
    border: 1px solid Gray;
}
input.app-inp-txt {
    border: 1px solid Gray;
}

input.FancyButton,
input.FancyButtonGrey {
    color: #FFF;
    background-color: #21598C;
    border: 1px solid silver !important;
    padding: 1px 7px;
    font-weight: bold;
}
input.FancyButton:hover,
input.FancyButtonGrey:hover {
	background-color:#286DAB;
}

/* links                                              */
/*----------------------------------------------------*/
a:link,
a:visited,
a:active {
    color: #426DCE;
    text-decoration: none;
    border-bottom: 1px solid #426DCE;
}
a.selected { 
	font-weight: bold; 
}
a:hover { 
	background: none #DEE3EF; 
}

a.imgbtn-lk,
a.imgbtn-lk:visited {
	border-bottom: 0;	
} 
a.FancyLink:link,
a.FancyLink:visited,
a.FancyLink:active,
a.FancyLinkGrey:link,
a.FancyLinkGrey:visited,
a.FancyLinkGrey:active {
    color: #FFF;
    background-color: #21598C;
    border: 1px solid silver !important;
    text-decoration: none;
	margin: 0 12px 0 0;
    padding: 3px 7px;
    font-weight: bold;
    height: 15px;
	white-space: nowrap;
}
a.FancyLink:hover,
a.FancyLinkGrey:hover {
	background-color:#286DAB;
}


/* standard table                                     */
/*----------------------------------------------------*/
.app-std-tbl {
    padding: 0;
    border: 0;
    margin: 0 0 0 1px;
    border-collapse: collapse;
    border: 1px solid #C9D7E9;
}
.app-std-tbl tr.app-std-tbl-even {
    background-color: #F2F2F2;
}
.app-std-tbl tr.app-std-tbl-odd {
    background-color: #FFFFFF;
}
.app-std-tbl th {
    background-color: #DCE3EC;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000;
    padding:3px 6px 6px 6px;
    margin: 0px;
    border-right: 1px solid #FFFFFF;
}
.app-std-tbl .app-std-tbl-th-last {
    border-right: 1px solid #C9D7E9;
}
.app-std-tbl td {
    padding: 4px 4px 5px 4px;
    margin: 0px;
    border-right: 1px solid #c1c5d0;
    border-bottom: 1px solid #c1c5d0;
}
.app-std-tbl td table td { /* prevent inheritance of border and padding width definitions in nested tables */
	padding: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.app-std-tbl .app-std-tbl-td-last {
    border-right-width: 0px;
}

.app-std-tbl tfoot td.bottom-left { /* not available in all tables */
    border-width: 0px;
}
.app-std-tbl tfoot td.bottom-right { /* not available in all tables */
    border-right-width: 1px
}

/* button lists                                       */
/*----------------------------------------------------*/
#buttons {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #036;
}
ul.buttons-1 {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.buttons-1 li {
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #003366;
    margin: 0;
    margin-right: 1em;
    padding: 0;
}
ul.buttons-1 li a,
ul.buttons-1 li a:visited {
    float: left;
    display: block;
    padding: 2px 10px 2px 10px;
    border-bottom: 0;
    height: 1em; /* needed for IE to get the complete box as link */
    color: #003366;
    font-weight: normal;
    text-align: left;
}
html>body ul.buttons-1 li a {
    height: auto;
}
ul.buttons-1 li a:hover {
    color: #8F8F8F;
}

/* messages                                           */
/*----------------------------------------------------*/
.error { /* error message */
    border: 1px solid #C40026;
    background: #fff7f2 url('images/error.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: #C40026;
}
.warn { /* warning message */
    border: 1px solid #ff9900;
    background: #fffffa url('images/warn.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: #e97900;
}
.info { /* info message */
    border: 1px solid green;
    background: #fafffc url('images/info.gif') no-repeat 4px 4px;
    padding: 5px 5px 5px 24px;
    margin: 0;
    font-weight: normal;
    color: green;
}

body.message-page {
	padding: 10px;	
}
body.message-page #buttons {
	margin-top: 10px;	
}

/* JSP debug messages                                 */
/*----------------------------------------------------*/
.jspdebugmsg {
	border: 1px dashed #999; 
	font-size: xx-small; 
}
.jspdebugmsg-head {
	background-color: #DDD; 
	font-weight: bold;
}
.jspdebugmsg-head table {
	width: 100%;
}
.jspdebugmsg-head a {
	text-decoration: none;
	border-bottom: 0;
}
.jspdebugmsg-body {
	background-color: #FBFBFB; padding: 3px;
}

/* navigation tree                                    */
/*----------------------------------------------------*/
#secnav {
    margin: 0 0 10px 0;
}
#secnav div.secnav-contbox {
    background-color: #F0F4FA;
    border-left: 1px solid #CED7EF;
    border-right: 1px solid #CED7EF;
    border-bottom: 1px solid #CED7EF;
}
#secnav ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#secnav li {
    margin: 0;
    padding: 3pt 0 3pt 19px;
    background: url(images/cat_cl.gif) 4px 5px no-repeat; 
}
#secnav li a {
    text-decoration: none;
    border-bottom: 0;
    color: #225A8D;
}
html>body #secnav li a {
    height: auto; /* deactivate hight declaration from "#navigator #secnav li a" for all other browsers as IE  */
}
#secnav li.categSelected {
    border: 1px dotted #ff7e00 !important;
    background-image: none;
}
#secnav li.categSelected a {
    background: url(images/cat_cl_act.gif) 4px 5px no-repeat;
    padding-left: 19px;
    color: #08396B;
}
#secnav li.secnav-categIsSub {
	padding: 1.5pt 0;
}
#secnav li.secnav-categIsFirst,
#secnav li.secnav-categIsSub {
	border-top: 0;
}

#secnav li.secnav-level0 {
	padding-left: 5px;
}
#secnav li.secnav-level1 {
	padding-left: 20px;
}
#secnav li.secnav-level2 {
	padding-left: 35px;
}
#secnav li.secnav-level3 {
	padding-left: 50px;
}
#secnav li.secnav-level4 {
	padding-left: 65px;
}
#secnav li.secnav-level5 {
	padding-left: 80px;
}
#secnav li.secnav-level6 {
	padding-left: 95px;
}

/* main title of the navigation tree */
#secnav li.secnav-home {
	padding: 5px 0 5px 7px;
	background-color: #DEE3EF;
	background-image: none; 
    border-left: 1px solid #CED7EF;
    border-right: 1px solid #CED7EF;
    border-top: 1px solid #CED7EF;
	font-weight: bold; 
	font-size: 105%;
	color: #225A8D;   
}
#secnav li.secnav-home a {
	color: #225A8D;
}
#secnav li.secnav-home a:hover {
}

/* sub title in the navigation tree */
#secnav li.secnav-subtitle {
    padding: 10px 5px 5px 0.5em;
    background-image: none;
    font-weight: bold;
    color: #225A8D;
}
#secnav li.secnav-subtitle a {
    color: #225A8D;
}

/* Column-based data input & output                   */
/*----------------------------------------------------*/
.formfields table,
.formresults table {
   border-collapse: collapse;   
}
.formfields td.label,
.formfields td.labelObl,
.formresults td.label { 
    vertical-align: top; 
    white-space: nowrap;
    background-color: #fafbfc;
}
.formfields td.label,
.formfields td.labelObl { 
    padding: 6px 5px 4px 7px; 
}
.formresults td.label { 
    padding: 6px 5px 0px 7px; 
}

.formfields td.labelObl,    /* use only when some of the labels within '.formfields td.label' are obligatory */  
.formfields td.label .labelPartObl { 
    font-weight:bold; 
} 

.formfields td.input,
.formresults td.data {
    vertical-align: top; 
    padding: 3px;
    background-color: #f0f1f5;
}
.formfields td.input .txtdata { 
    font-weight: bold; 
}

.formfields td.input img,
.formfields td.label img,
.formfields td.labelObl img,
.formresults td.label img { 
    vertical-align: text-bottom; 
}

.formfields h4,           /* for any subtitles embedded in the formfields table */
.formresults h4 {
    margin: 0px; 
    padding: 15px 5px 5px 5px; 
    font-family:Verdana,Geneva,sans-serif; 
    font-weight:bold;
    font-size: 10px;  
}

.formfields td.msgarea,    /* for any (info, warning, error) messages embedded in the formfields table */ 
.formresults td.msgarea {
    padding: 15px 5px 2px 5px;
}

.formfields td.inputradio_singleline {  
    vertical-align: top; 
    padding: 5px 0px 0px 20px; 
}
