/* Stylesheet for ConfigUI in B2B */

#configheader { position:absolute;  
   top:0px;  
   height:39px; 
   left:0px;
   width:100%;
   margin:0px;
   border:0px solid #EE0000;
}

#configstatus { position:absolute;  
   top:39px;  
   height:41px; 
   left:0px;
   width:100%;
   margin:0px;
   border:0px solid #EE0000;
}

#configmessages { position:absolute;  
   top:80px;  
   height:30px; 
   left:0px;
   width:100%;
   margin:0px;
   border:0px solid #EE0000;
}

#instances { position:absolute;  
   top:100px;  
   height:320px; 
   width:25%;
   left:0px;
   margin:0px;
   border:0px solid #EE0000;
   overflow:auto;
}

#mfatabarea { position:absolute;  
   top:100px;  
   height:18px; 
   left:75%;
   width:25%;
   margin:0px;
   border:0px solid #EE0000;
}

#multifunctionalarea { position:absolute;  
   top:110px;  
   height:300px; 
   left:75%;
   width:25%;
   margin:0px;
   border-top: 0px solid #225A8D;
   background: none #FFFFFF;
   overflow:auto;
}



/* style definitions for different combinations */
/* | message area        | multifunctional area | workarea style          | */
/* |         0           |          0           | 0: configworkarea       | */
/* |         0           |          1           | 1: configworkareamfa    | */
/* |         1           |          0           | 2: configworkareamsg    | */
/* |         1           |          1           | 3: configworkareamfgmsg | */

#configworkarea { position:absolute;  
   top:80px;  
   left:0%;
   width:96%;
   margin:5px;
   padding:5px;
   border:0px solid #EE0000;
   overflow: auto;
}

#configworkareamfa { position:absolute;  
   top:80px;  
   left:0%;
   width:66%;
   margin:5px;
   padding:5px;
   border:0px solid #EE0000;
   overflow: auto;
}

#configworkareamfamsg { position:absolute;  
   top:110px;  
   left:0%;
   width:66%;
   margin:5px;
   padding:5px;
   border:0px solid #EE0000;
   overflow: auto;
}

#configworkareamsg { position:absolute;  
   top:110px;  
   left:0%;
   width:96%;
   margin:5px;
   padding:5px;
   border:0px solid #EE0000;
   overflow: auto;
}

/*-- used for settingsLayout --*/
#singlelevelworkarea { position:absolute;  
   top:40px;  
   left:0%;
   width:96%;
   margin:5px;
   padding:5px;
   border:0px solid #EE0000;
   overflow:auto;
}

/* == start: ipc webapp specific styles == */


body.ipcBody    {
  color: #000;
  background: none #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;  
  padding: 0px;
  margin-left: -1px;
  margin-top: -1px;
  font-size: 60%;
}

body.ipcBodyReadOnly {
  color: #000;
  background: none #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;  
  padding: 0px;
  margin-left: -1px;
  margin-top: -1px;
  font-size: 60%;
}

img	{ border: 0px; border-style: none; }

input {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 10px;
}

input.ipcButton {   
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #fff;
    border:1px solid silver; 
    background: none #21598C;
    font-weight: bold;
  }
/* Styling for Link rendered as ipcButton */
a.ipcButton:link,
a.ipcButton:visited,
a.ipcButton:active,
a.ipcButton:hover {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;   
    font-weight: bold;         
    color: #fff;
    background-color: #21598C;
    border: 1px solid silver;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    margin: 0; 
}

td.systemAssigned {
  font-style: italic;
  margin: 0px; 
  padding:0px;
  vertical-align: middle;      
}

table.ipc {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: left;
  vertical-align: top;
  color: #000;
}

table.ipcValueSingleOption {
  font-size: 10px;
  border: 0px;
  border-collapse:collapse;
}

tr.ipcValue { 
  font-size: 10px;
  margin: 0px; 
  padding:0px;
}

td.ipcValue { 
  font-size: 10px;
  margin: 0px; 
  padding:0px;
  vertical-align: middle;
}

table.ipcCharacteristicBar {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  background: none #DCE3EC;
  color: #000;
  border: 0px
}

td.ipcConflict{ background-color: #FFCC33; font-size: 10px; }

table.ipcConflictStatusbar {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  background-color:#FFCC33;
  color: #000;
}

table.LineNavTabOrganizer { 
  background: none #F0F4FA;
  border-top: 2px solid #225A8D; 
} 

table.ipcStatusbar {
  width:100%;
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  background: none #ffffff;
  color: #000;
}
table.ipcStatusbar td{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  vertical-align: middle;
}

table.ipcDetailHeader {
  font-family: Verdana, Geneva, sans-serif;
  width:100%;
}
table.ipcDetailHeader td {
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcDetailStatusbar {
  font-family: Verdana, Geneva, sans-serif;
  background: none #ffffff;
  color: #000;
}

table.ipcDetailStatusbar td{
  vertical-align: middle;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

table.ipcDetailBody {
  font-family: Verdana, Geneva, sans-serif;
  background: none #FFFFFF;
  color: #000;
}

table.ipcMessageCsticBar {
  font-family: Verdana, Geneva, sans-serif;
  background: none #DCE3EC;
  color: #000;
  border: 0px

}
table.ipcMessageCsticInfo{
  border-collapse:collapse;
  border: 2px solid #329200;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
}
table.ipcMessageCsticError{
  border-collapse:collapse;
  border: 2px solid #CC0000;
  margin-bottom: 5px;
  margin-top: 5px;  
  text-align: left;
}
table.ipcMessageCsticWarning{
  border-collapse:collapse;
  border: 2px solid #FF6600;
  margin-bottom: 5px;
  margin-top: 5px;  
  text-align: left;
}

table.ipcProductVariants{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #000;
  caption-side:bottom;
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #c3ccdd;
  padding-top: 3px;
  padding-bottom: 3px;
}

table.ipcProductVariants th{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
}
table.ipcProductVariants td {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
}

table.ipcProductVariants td.action {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
}

table.ipcProductVariants td.price {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
}

td.compareBtn {
  padding: 4px;
}

table.ipcProductVariants a:link, table.ipcProductVariants a:visited {
  color: #000;
}

.ipcAreaFrame{
	font-size: 10px;
	border:0px solid #FFFFFF;
	padding:3px;
}

.ipcAreaFrame ul {
	font-size: 10px;
	padding-left: 0px;
	margin-left: 15px;
}

table.novaHeader {
  width: 100%;
  border-collapse: collapse;
}

table.ipcHeader {
  font-family: Verdana, Geneva, sans-serif;
  width:100%;
}
table.ipcHeader th {
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcHeader td {
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcHeader td.productPicture {
  text-align: left;
}

table.ipcHeaderButtons {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px;
  border-collapse:collapse;
  padding: 3px 0px 3px 0px;
}

table.ipcMessages {
  font-size: 10px;
}
td.messageIcon {
  width: 14px;
}
td.messageKey {
  font-size: 10px;
  white-space:nowrap;
  text-align:left;
}
td.messageShortText {
  text-align:left;
}
td.messageLongText {
}

table.ipcConfigComparisonHidden{
}

table.ipcConfigComparisonHidden td.featureRow{
  text-align: right;
}  

table.ipcConfigComparisonHidden td.messageRow{
  text-align: center;
}  

table.ipcConfigComparisonHidden a:link, table.ipcConfigComparison a:visited {
}  

table.ipcConfigComparison{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #000;
  caption-side:bottom;
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #DCE3EC;
  text-align: left;
}

table.ipcConfigComparison th{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  color: #000;
  text-align: center;
}

table.ipcConfigComparison th.statusIcon {
  width: auto;
  border-right: 2px solid #b2bdd2;  
  text-align: center;
}

table.ipcConfigComparison th.applySnapLine {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  text-align: center;
  font-weight: normal;
  background: none #F0F4FA;
}

table.ipcConfigComparison th.applySnapLine a:link, table.ipcConfigComparison a:visited {
  background: none #F0F4FA;
  border: none;
  padding:0px;  
}

table.ipcConfigComparison th.statusIconApplySnapLine {
  width: auto;
  border-right: 2px solid #b2bdd2;  
  text-align: center;
  background: none #F0F4FA;
}

table.ipcConfigComparison th.secondLine {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
  font-weight: normal;
  background: none #F0F4FA;
}

table.ipcConfigComparison th.statusIconSecondLine {
  width: auto;
  border-bottom: 1px solid #9b9b9b;
  border-right: 2px solid #b2bdd2;  
  text-align: center;
  background: none #F0F4FA;
}

table.ipcConfigComparison td {
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
  padding-left: 3px;
  padding-right: 3px;  
}

table.ipcConfigComparison td.configObjects {
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
  text-align: left;
  padding-right: 3px;  
  padding-left:2em;
}

table.ipcConfigComparison td.configObjectsProduct {
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
  text-align: left;
  padding-right: 3px;  
  font-weight: bold;
}

table.ipcConfigComparison td.configObjectsGroup {
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;
  text-align: left;
  padding-right: 3px;  
  padding-left:1em;
}

table.ipcConfigComparison td.statusIcon {
  border-bottom: 1px solid #b2bdd2;
  border-right: 2px solid #b2bdd2;
  text-align: center;
}

table.ipcConfigComparison td.statusIconGroup {
  border-bottom: 1px solid #b2bdd2;
  border-right: 2px solid #b2bdd2;
  text-align: center;
}

table.ipcConfigComparison td.deltaGroup {
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
  background: none #ffffff;  
}

table.ipcConfigComparison td.separatorLine {
  border-bottom: 1px solid #b2bdd2;
  border-right: 0px solid #b2bdd2;
  background: none #F0F4FA;
}

table.ipcConfigComparison a:link, table.ipcConfigComparison a:visited {
  color: #000;
} 

td.layout {
  font-size: 10px;
  vertical-align: baseline;
}
table.ipcCharacteristicBarConflict {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background-color:#FFCC33;
  border: 0px
}
.ipcComparisonHeader{
	font-weight:bold;
	font-size:10px;
}

.ipcConflictHandlingHeader{
	font-weight:bold;
	font-size:10px;
}

.ipcConflictHandlingValueLayout{
  	font-weight:bold;
  	font-size:10px;
}

table.conflictGroup{
 
}

table.conflictGroup td.csticName {
  font-weight: bold;
}

table.ipcAreaFrame{
	font-size: 10px;
	padding:3px;
    width:100%;
}

table.ipcGridTable {
  font-family: Verdana, Geneva, sans-serif;	
  border: 0px;
}

table.ipcGridTable th {
  font-family: Verdana, Geneva, sans-serif;
  background: none #DCE3EC;
  border: 1px solid #C9D7E9;	
}

table.ipcGridTable th.empty{
	background: none #F4F4F4;
	border: 0px;
}

table.ipcGridTable td {
  font-family: Verdana, Geneva, sans-serif;
  background: none #F0F4FA;
  border: 1px solid #C9D7E9;
}

input.editableGrid{
	background: none #FFFFFF;
    border: 1px solid #C9D7E9;
}

input.displayGrid{
	background: none #F0F4FA;
    border: 1px solid #C9D7E9; 
}


/* == end: ipc webapp specific styles == */

/* === start: new IPC styles for tabdesign === */

td.ipcActiveGroupTab                { background: none #225A8D; color: #FFFFFF; vertical-align: middle; font-weight: bold; border-bottom: none; }
td.ipcActiveGroupTab a:link         { font-family: Verdana, Geneva, sans-serif; text-decoration: none; color: #FFFFFF; font-size: 10px; }
td.ipcActiveGroupTab a:visited      { font-family: Verdana, Geneva, sans-serif; text-decoration: none; color: #FFFFFF; font-size: 10px; }
td.ipcActiveGroupTab a:hover        { background: none #225A8D; color: #FFFFFF;}
td.ipcActiveGroupTab a:active       { font-family: Verdana, Geneva, sans-serif; text-decoration: none; color: #FFFFFF; font-size: 10px;}

td.ipcInactiveGroupTab              { background: none #DCE3EC; vertical-align: middle;}
td.ipcInactiveGroupTab a:link       { font-family: Verdana, Geneva, sans-serif; color: #000000; text-decoration: underline; font-size: 10px; }
td.ipcInactiveGroupTab a:visited    { font-family: Verdana, Geneva, sans-serif;color: #000000; text-decoration: underline; font-size: 10px; }
td.ipcInactiveGroupTab a:hover      { }
td.ipcInactiveGroupTab a:active     { font-family: Verdana, Geneva, sans-serif; color: #000000; text-decoration: underline; font-size: 10px; }  

/* === end: new IPC styles for tabdesign === */
	

	