/******************************************************/
/* general styles                                     */


.cat-prd-id {
    color: gray;
}
.cat-prd-dsc,
.cat-prd-dsc a,
.cat-prd-dsc a:visited {
    text-decoration: none;
    font-size: 105%;  
    font-weight: bold;
    color: #01663E;
}
.cat-prd-dsc a,
.cat-prd-dsc a:visited {
	border-bottom: 1px dotted #E77100;
}
.cat-prd-thumb a,
.cat-prd-thumb a:visited {
	border-bottom: 0;	
}
.cat-prd-hli {
    display: inline;
    background-color: #ff0;
    padding: 1px 0px;
}
.cat-prd-msg {
    padding-bottom: 10px;
}
.cat-prd-prc {
    text-align: right;
    font-weight: bold;
}
.cat-prc-detail table,
.cat-prd-tech table {
    display: inline;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}
.cat-prc-detail table td {
    border-width: 0px;
    padding-top: 1px !important;
    padding-bottom: 1px !important; 
}
.cat-prd-prc-inactive { 
    text-align: right;
    text-decoration: line-through;
    font-weight: bold;
}
.cat-prd-prc-lbl { 
    padding-right: 5px;
}
.cat-prd-prc-lbl-post { 
    text-align: left;
    padding-left: 3px !important;
}
.cat-prd-total-price table {
    border-collapse: collapse;   
}
.cat-prd-total-price-title {
  text-decoration: none;
  font-size:11px;  
  font-weight: bold;
  color: #000;
}
.cat-prd-cntdur-lbl {
  display: inline;  
  padding-bottom: 5px;
  font-size:10px;
}
.cat-prd-cntdur {
  display: inline;  
  font-weight: bold;
  padding-bottom: 5px;
  font-size:10px;
}
.cat-prd-peyec {
  color: #E27000;
  font-weight: normal;
  padding-bottom: 5px;
  font-size:11px;
}

/* boxes - start */
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-head .fw-box-sccmp-head .fw-box-content-sccmp-head,
#cat-pcat-cua .cat-pcat-cua-head .fw-box-cua-head .fw-box-content-cua-head,
.cat-catentry-recomm-head .fw-box-rec-head .fw-box-content-rec-head,
.cat-catentry-bests-head .fw-box-bests-head .fw-box-content-bests-head {
	margin-top: 16px; 
	padding: 3px 0 3px 7px;
	border-bottom: 2px solid #225A8D; 
	border-left: 4px solid #225A8D; 
	font-weight: bold; 
	color: #225A8D; 
}
#cat-pcat-prd-cmp .cat-pcat-prd-sccmp-cont .fw-box-sccmp-cont,
#cat-pcat-cua .cat-pcat-cua-cont .fw-box-cua-cont,
.cat-catentry-recomm-cont .fw-box-rec-cont,
.cat-catentry-bests-cont .fw-box-bests-cont {
    padding: 5px 5px 15px 0px;
}
/* boxes - end */


/******************************************************/
/* tabs                                               */

.cat-tabs-head {
	line-height: 2em;
    padding: 5px 0 0 0;
}
.cat-tabs-head ul {
    clear: both;
    padding: 0;
	margin: 0;
	height: 2em;
	border-bottom: 2px solid #225A8D; 
	border-left: 4px solid #225A8D; 
	list-style: none;
}
.cat-tabs-head li {
    float: left;
    margin: 0;
    padding: 0;
    background: #DEE3EF url(images/bxs4_head_tab_l.gif) bottom left no-repeat;    
}
.cat-tabs-head li.cat-tab-first {
	background: #DEE3EF url(images/bxs4_head_tab_l_first.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-firstactive {
	background: #21598C url(images/bxs4_head_tab_l_first_act.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-active,
.cat-tabs-head li.cat-tab-lastactive {
	background: #21598C url(images/bxs4_head_tab_l_act.gif) bottom left no-repeat;
}
.cat-tabs-head li.cat-tab-afteractive,
.cat-tabs-head li.cat-tab-lastafteractive {
	background: #DEE3EF url(images/bxs4_head_tab_l_aact.gif) bottom left no-repeat;
}
.cat-tabs-head li a,
.cat-tabs-head li a:visited {
	display: block;
    padding: 0 6px 0 1px;
    margin-left: 25px;
    text-decoration: none;
    border-bottom: 0;
    font-weight: normal;
    color: #21598C;
}
.cat-tabs-head li.cat-tab-first a {

}
.cat-tabs-head li.cat-tab-last a,
.cat-tabs-head li.cat-tab-lastafteractive a,
.cat-tabs-head li.cat-tab-lastactive a {
	padding-right: 10px;
}
.cat-tabs-head li a:hover {
    color: #8F8F8F;
}
.cat-tabs-head li.cat-tab-active a span,
.cat-tabs-head li.cat-tab-firstactive a span,
.cat-tabs-head li.cat-tab-lastactive a span {
	color: #fff;
	font-weight: bold;
}

/******************************************************/
/* buttons                                            */
.cat-imgbtn-addtocart {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-cart.gif) 1px 3px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-addtolfl {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-lflt.gif) 1px 2px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-hint {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-hint.gif) 5px 3px no-repeat;
	vertical-align: bottom;
}
.cat-imgbtn-delete {
	width: 16px;
	height: 16px;
	border: 1px solid #006CAA !important;
	background: #DEE7EF url(images/symb-delete.gif) 2px 2px no-repeat;
	vertical-align: bottom;
}


/******************************************************/
/* navigation (secnav)                                */

/* sec navigation -> quick search */
.cat-navigator-qsrch .fw-box .fw-box-content {
    margin-bottom: 10px;
    padding: 5px 2px 10px 7px;
    background-color: #F0F4FA;
    border: 1px solid #C9D7E9;
}
.cat-navigator-qsrch-label {
	font-weight: bold;
	font-size: 105%;
	color: #01663E;
}
.cat-navigator-qsrch-inp {
	padding: 8px 5px 0 5px;	
}
.cat-navigator-qsrch-inp input {
	width: 95%;
}
.cat-navigator-qsrch-submit {
	margin: 2px 0 0 5px;
}
.cat-navigator-qsrch-adv {
	padding: 8px 0 0 5px;
}

/* sec navigation -> external catalog link */
#cat-navigator div.cat-navigator-extcat {
    margin-bottom: 10px;
	background: url(images/icon_catalog_external.gif) 5px 8px no-repeat;
    padding: 8px 5px 10px 25px;
    background-color: #F0F4FA;
    border: 1px solid #C9D7E9;
}

/* sec navigation -> catalog areas list */
#secnav li.categ {
    background-image: none; 
}
#secnav li.categSelected {
    background-image: none; 
    background-color: #FFF9F2 !important;
}
#secnav li.categSelected a {
	background-image: none !important;
	padding-left: 0 !important;	
}
div.cat-secnav-spacer {
    display: none;
}
div.cat-secnav-bullet {
	border: 0px solid green;
	display: block;	
	width: 15px;
	position: absolute;
}
div.cat-secnav-bullet a {
	display: block;	
	width: 15px;
	height: 15px;
	
}
div.cat-secnav-bullet a:hover {
	background: transparent; 
}
div.cat-secnav-areaname {
	padding-left: 14px;
	padding-right: 20px;
}
img.cat-secnav-plus {
	width: 10px;
	height: 12px;
	border: 0;
	background: url(images/nav_bullet_plus.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-plus {
	background: url(images/nav_bullet_plus.gif) no-repeat 0px 2px;
}
img.cat-secnav-minus {
	width: 10px;
	height: 12px;
	border: 0;
	background: url(images/nav_bullet_minus.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-minus {
	background: url(images/nav_bullet_minus.gif) no-repeat 0px 2px;
}
img.cat-secnav-neutral {
	width: 10px;
	height: 12px;
	border: 0;
	background: url(images/nav_bullet_neutral.gif) no-repeat 0px 2px;
	vertical-align: text-bottom;
}
li.categSelected img.cat-secnav-neutral {
	background: url(images/nav_bullet_neutral.gif) no-repeat 0px 2px;
}

/* sec navigation -> marketing */
.cat-secnav-mkt .fw-box {
    margin-bottom: 10px;
    padding: 10px 2px 5px 11px;
    background-color: #F0F4FA;
    border: 1px solid #C9D7E9;
}

#navigator div#recomm,
#navigator div#bests,
#navigator div#camp {
    padding-bottom: 10px;
}
#navigator div#recomm a,
#navigator div#bests a {
    font-weight: bold;
}
.cat-secnav-mkt-camplabel {
	font-weight: bold;
}
.cat-secnav-mkt-campinp {
	padding: 5px 0 0 5px;	
}
.cat-secnav-mkt-campinp input {
	width: 80px;
}
.cat-secnav-mkt-campsubmit {
	margin: 2px 0 0 5px;
}

/******************************************************/
/* catalog home                                       */

.cat-entry-login-bests {
    margin-bottom: 10px;
}

/******************************************************/
/* Product catalog                                    */

div.cat-busy-overlay  {
    z-index: 999;	
	background-color: black;
	moz-opacity:.010; 
	filter:alpha(opacity=1); 
	opacity:.010;
	background-image:  url('/b2b/b2b/mimes/images/busy.gif');
	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50% 50%; 
    position: absolute;
    top: 0px;                           
    left: 0px;                          
    overflow: hidden;                                                  
    width: 100%;
    height: 100%;
    display: block;	
}
#cat-pcat .cat-btn-det { 
    color: #0033CC;
    border: solid 0px;  
    padding:4px; 
    text-align:left;
    width:60px;
}
#cat-pcat .cat-btn-com {
  text-align: right;
}
.cat-pcat-pages {
    margin: 10px 0px 3px 0px;
    text-align: center;
}
.cat-pcat-pages-tbl {
    border-collapse: collapse;
    margin: auto;
}
.cat-pcat-pages-tbl-pre,
.cat-pcat-pages-tbl-curr,
.cat-pcat-pages-tbl-post {
    padding: 0px;
}
.fw-box-content-pcat-pgs-pre {
    margin: 0px;
    padding: 2px 5px 2px 15px;
    border-bottom: 1px solid #21598C;
}
.cat-pcat-pages-title {
    display: inline;
    padding: 0px 7px 0px 1px;
    color: #036;
    font-weight: bold;
}
.cat-pcat-pages-prev {
    display: inline;
    padding-right: 3px;
}
.cat-pcat-pages-prev a,
.cat-pcat-pages-prev a:visited {
	border-bottom: 0;
}
.fw-box-pcat-pgs-curr {
    border: 1px solid #e27000;
    background-color: #fffbf7;
    padding: 2px 6px 4px 6px;
    margin: 0;
}
.cat-pcat-pages-currpg {
    display: inline;
    color: #E27000;
    font-weight: bold;
}
.fw-box-i3-pcat-pgs-post {
    margin: 0;
    padding: 0;
}
.fw-box-content-pcat-pgs-post {
    margin: 0px;
    padding: 2px 15px 2px 5px;
    border-bottom: 1px solid #21598C;
}
.cat-pcat-pages-next {
    display: inline;
    padding-left: 5px;
}
.cat-pcat-pages-next a,
.cat-pcat-pages-next a:visited {
    border-bottom: 0;
}
.cat-pcat-pages-pg {
    display: inline;
    padding: 0px 2px 0px 4px;
}
.cat-pcat-pages-pg a,
.cat-pcat-pages-pg a:visited {
    font-weight: bold;
    border-bottom: 0;
}
.cat-pcat-cfg {
    padding: 10px 0px 5px 0px;
}
.cat-pcat-cfg-txt {
    vertical-align: top;
}
.cat-pcat-cfg .cat-cfg-err {
	width: 16px;
	height: 16px;
	border: 0;
	background: url(images/error.gif) no-repeat;
}

/******************************************************/
/* Product catalog - Listview                         */

#cat-pcat-lstv .app-std-tbl {
    width: 100%;
    margin-top: 5px;    
}
/****** THEAD ******/
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-thumb {
	border-right-width: 0px;
	padding-right: 6px;
    padding-left: 6px;
	width: 0%;
}

#cat-pcat-lstv .app-std-tbl thead th.cat-prd-data {
    text-align: left;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 83%;
}  
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-prc,
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-qty,
#cat-pcat-lstv .app-std-tbl thead th.cat-btn-lst {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 5%;
}
#cat-pcat-lstv .app-std-tbl thead th.cat-prd-comp {
    width: 2%;
}

#cat-pcat-lstv .app-std-tbl tr.cat-prd-cntr-rowtitle th.cat-prd-cntr-attr-last {
	border-right: 1px solid #C1C5D0;
}
/****** TBODY ******/
#cat-pcat-lstv .app-std-tbl td {
    padding-top: 4px;
    padding-bottom: 2px;
}
#cat-pcat-lstv .app-std-tbl td td {
    padding: 0;
}
#cat-pcat-lstv .app-std-tbl tr.cat-prd-cntr-itmhascntr td,
#cat-pcat-lstv .app-std-tbl tr.cat-prd-cntr-rowtitle td,
#cat-pcat-lstv .app-std-tbl tr.cat-prd-cntr-rowitem-first td,
#cat-pcat-lstv .app-std-tbl tr.cat-prd-cntr-rowitem td {
	border-bottom-width: 0 !important;	
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-thumb {
	border-right-width: 0px;
	padding: 4px !important;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-nothumb {
	border-right-width: 0px;
	padding: 0px;
	margin: 0px;
}
#cat-pcat-lstv .app-std-tbl .cat-prd-thumb img {
	border: 1px solid #ddd;
	width: 60px;
}
#cat-pcat-lstv .app-std-tbl .cat-prd-nothumb img {
    width: 0px;
    height: 0px;
    border-width: 0px;   
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data {
	color: #000;
	font-weight: normal;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-dsc {
    padding-bottom: 5px;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-var .cat-prd-dsc {
    font-weight: normal;
    font-size: 10px;    
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-data-cualink {
	background: url(images/cat_cl.gif) 0px 2px no-repeat;
	padding: 1px 0 3px 20px;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-ctr-title {
	background: url(images/cat_cl.gif) 0px 2px no-repeat;
	padding: 1px 0 3px 20px;
	font-weight: bold;
}
#cat-pcat-lstv .app-std-tbl td.cat-prd-data div.cat-prd-ctr-data {
	padding-left: 20px;	
}

#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-prc {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-qty {
    text-align: right;
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 6px;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-btn-lst {
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
}
#cat-pcat-lstv .app-std-tbl tbody td.cat-prd-cmp {
    text-align: center;
}
#cat-pcat-lstv table.cat-prodlist-btnlist {
	width: 100%;	
}
#cat-pcat-lstv table.cat-prodlist-btnlist td {
	text-align: right;	
}
#cat-pcat-lstv span.cat-chkbox-arrow {
	display: inline; 
	vertical-align: top; 
	margin: 0px 10px 0px 3px;
}  
#cat-pcat-lstv span.cat-chkbox-arrow img {
	width: 24px;
	height: 13px;
	border: 0;
	background: url(images/arrow_tr_bl.gif) 10px 2px no-repeat;
}


/******************************************************/
/* Product Details                                    */

#cat-pcat-prd-det div.cat-prd-block {
    padding: 0px;
}
#cat-pcat-prd-det table.cat-prd-block-ltab {
    width: 100%;   
}
#cat-pcat-prd-det td.cat-prd-block-ltab-col1 {
    width: 70%;
}
#cat-pcat-prd-det td.cat-prd-block-ltab-col2 {
    width: 30%;
}

#cat-pcat-prd-det .cat-prd-img {
    float:left;
    margin: 0px 5px 5px 0px;
}
#cat-pcat-prd-det .cat-prd-img img { 
    border: 1px solid #ddd;
    width: 120px;
}
#cat-pcat-prd-det .cat-prd-thumb img { 
    border: 1px solid #ddd;
    width: 60px;
}
#cat-pcat-prd-det .cat-prd-dsc {
    margin-bottom: 5px; 
    font-weight: bold;
    color: #01663E;
}
#cat-pcat-prd-det .cat-prd-cfg {
    padding-bottom: 5px;
}
#cat-pcat-prd-det .cat-prd-ldsc {
    margin-bottom: 5px;
}
#cat-pcat-prd-det .cat-prd-facts2 {
    float: right;
}
.fw-box-content-prd-facts2,
.fw-box-content-prd-btns-bot {
	min-height: 27px;
	min-width: 150px;
	margin-bottom: 10px;
    padding: 5px;
    background-color: #FFFBF7;
    border: 1px solid #FF7D00;
}

#cat-pcat-prd-det .cat-prd-facts2 .cat-prd-peyec {
    text-align: center;   
}
#cat-pcat-prd-det .cat-prd-facts2 .cat-prd-price-data table {
    display: inline;
}

#cat-pcat-prd-det .cat-prd-total-price {
	margin: 0px;
	padding: 0px 0px 8px 0px;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price-title {
    background: url(images/bg_catdet.jpg) bottom right no-repeat;
    padding: 0px 2px 9px 0px;
    margin: 0px 0px 2px 3px;
    font-weight: bold;
    color: #21598C;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price table {
    display: inline;
    text-align: right;
}
#cat-pcat-prd-det .cat-prd-total-price td.cat-prd-prc-lbl {
    padding-top: 3px;
    padding-bottom: 3px;
}
#cat-pcat-prd-det .cat-prd-total-price td.cat-prd-prc {
    background: url(images/catpr_bg.jpg) top left repeat-y;
    border-right: 1px solid #84b2de;
    padding: 3px 5px 3px 5px;
}
#cat-pcat-prd-det div.cat-prd-facts2 div.cat-prd-det-qtyunit { 
	text-align: center;
}	
#cat-pcat-prd-det div.cat-prd-facts2 .cat-prd-qty { 
	display: inline;
	margin: 0;
	font-weight: bold;
}
#cat-pcat-prd-det div.cat-prd-facts2 .cat-prd-unit { 
	display: inline;
	margin: 0;
}
#cat-pcat-prd-det div.cat-prd-facts2 div.btn-add-to-bskt,
#cat-pcat-prd-det div.cat-prd-facts2 div.btn-sel-prd {
    border-bottom: 1px solid #21598C;
    padding: 5px 0 10px 0;
    text-align: center;
}
#cat-pcat-prd-det div.btn-add-to-bskt a,
#cat-pcat-prd-det div.btn-sel-prd a {
    padding: 3px 8px;
    color: #FFF;
    background-color: #01663E;
    border: 1px solid silver !important;
    font-weight: bold;
}

#cat-pcat-prd-det div.btn-box {
	padding: 3px 8px 4px 24px;
}

#cat-pcat-prd-det div.btn-back-to-bskt {
    background: url(images/symb-cart-rv.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-add-to-lflt {
    background: url(images/symb-lflt.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-create-lead {
    background: url(images/symb-lead.gif) 9px 4px no-repeat;
}
#cat-pcat-prd-det div.btn-refr {
    background: url(images/symb-refr.gif) 7px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-back {
    background: url(images/symb-back.gif) 4px 3px no-repeat;
}
#cat-pcat-prd-det div.btn-comp-upsel {
    background: url(images/symb-comp.gif) 4px 3px no-repeat;
}

#cat-pcat-prd-det div.cat-prd-det-avw {
    border-top: 1px solid #21598C;
    padding-top: 5px;
}
#cat-pcat-prd-det div.cat-prd-det-avw-head {
    padding: 2px 0 7px 0;
    text-align: center;
}
#cat-pcat-prd-det span.cat-prd-det-avw-title {
    font-weight: bold;
}
#cat-pcat-prd-det span.cat-prd-det-avw-chk a {
    padding: 3px 8px;
    color: #FFF;
    background-color: #01663E;
    border: 1px solid silver !important;
    font-weight: bold;
}

/* tabs */
#cat-pcat-prd-det .cat-tabs-head {
	margin-top: 20px;	
}
.cat-pcat-cuatabs-body #cat-pcat-cua .cat-pcat-cua-cont .fw-box-cua-cont,
.cat-pcat-cuatabs-body #cat-pcat-contr .cat-pcat-cua-cont .fw-box-cua-cont {
    margin: 0;
    padding: 5px 5px 5px 4px;
    background-color: #F7F7FF;
    border-left: 1px solid #CED7EF;
    border-right: 1px solid #CED7EF;
    border-bottom: 1px solid #CED7EF;
}

#cat-pcat-prd-det div.cat-prd-det-categ {
	padding: 10px 0;
}

/******************************************************/
/* Catalog - CUA list                                 */

#cat-pcat-cua .app-std-tbl {
    width: 100%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-thumb {
	border-right-width: 0px;
	padding-right: 6px;
    padding-left: 6px;
	width: 0%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-data {
    text-align: left;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 85%;
}
#cat-pcat-cua .app-std-tbl thead th.cat-prd-prc,
#cat-pcat-cua .app-std-tbl thead th.cat-btn-lst {
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
    white-space: nowrap;
    width: 4%;
}

#cat-pcat-cua .app-std-tbl tbody td.cat-prd-thumb {
    padding: 0;
    margin: 0;
    border-right: 0px; 
 	padding: 4px !important;
}
#cat-pcat-cua .app-std-tbl tbody td.cat-prd-thumb img {
    width: 60px;
    border: 1px solid #ddd; 
}
#cat-pcat-cua .app-std-tbl tbody td.cat-prd-prc {
    text-align: right;
    white-space: nowrap;
}
#cat-pcat-cua .app-std-tbl tbody td.cat-btn-lst {
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 6px;
}
#cat-pcat-cua .app-std-tbl tbody td.cat-btn-lst a {
	border-bottom-width: 0;	
}
#cat-pcat-cua  div.cat-pcat-cua-nores {
	padding: 0 0 25px 0;	
}

/******************************************************/
/* contracts                                          */
#cat-pcat-contr .cat-pcat-contr-opener {
	font-weight: bold;
	padding-bottom: 10px;
}
#cat-pcat-contr .app-std-tbl {
    width: 100%;
}
#cat-pcat-contr th.cat-prd-qty,
#cat-pcat-contr th.cat-btn-lst {
    width: 5%;
}

/******************************************************/
/* Product Comparison                                 */
#cat-pcat-prd-comp .cat-prd-cfg-lbl,
#cat-pcat-prd-comp .cat-prd-cntdur-lbl,
#cat-pcat-prd-comp .cat-prd-comp-lbl { 
    text-align: left;
    font-weight: bold;
    font-size: 105%;
}
#cat-pcat-prd-comp td.cat-prd-comp,
#cat-pcat-prd-comp td.cat-prd-cntdur { 
    text-align: center;
}
#cat-pcat-prd-comp .cat-prd-thumb img {
    width: 60px;
    border: 1px solid #ddd;   
}
table.cat-pcat-prd-comp-rpc-ltab {
	width: 100%;
}
td.cat-pcat-prd-comp-rpc-ltab-prc {
	text-align: right;
}

.header-search-btn {
	background-color: #01663E;
	border: 1px solid silver !important;
	color: #FFFFFF;
	font-weight: bold;
	padding: 1px 7px;
	margin-top: -4px;
}

.header-search-btn:hover {
	background-color: #286DAB;
}

h1.areatitle {
	margin-right: 10px;
}