body {
	font-family: arial,sans-serif;
	font-size: 10pt;
	BACKGROUND-COLOR: #DED5C4
	}

TD	{
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 14px;
	font-style: normal;
      	font-weight: normal;
	width: 16px;
}

TH	{
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 14px;
	font-style: normal;
      	font-weight: normal;
}

A {text-decoration: none; }
A:link{color:black}
A:visited{color:black}
