BODY	 {
	background-color : #bfd0ea;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

TD	 {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

A:link	 {
	color:#00009C;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
	text-decoration:none;
}
 
A:hover 	 {
	color:#9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}
 
A:active	 {
	color: #9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}
 
A:visited {
	color:#9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}

INPUT {
	border-style: solid;
	border-width:1px;
	font-family: monospace;
	font-size: 11px;
}