/*  General settings   */
BODY	 {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

P	 {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}
	
TD	 {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

A:link	 {
	color:#00009C;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
	text-decoration:none;
}
 
A:hover 	 {
	color:#9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}
 
A:active	 {
	color: #9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}
 
A:visited {
	color:#9C0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
}
 
TEXTAREA {
	font-family: monospace;
	font-size:11px;
}
 
INPUT {
	border-style: none;
	font-family: monospace;
	font-size: 11px;
}

SELECT	{
	border:0px none; font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:10px
}

/* Background of the data area */
.common {
	background-color: #FFFFFF;
}
	
/*  Top bar  */
.appdoctitle {
	color:#545352;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
 
.appheadlink {
	color: #99CCFF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none
}

.date {
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:10px;
}
 
/* Buttons */ 
A.blueButton:link {
	color: #CCD5E0;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: none;
}
	
A.blueButton:hover{
	color:  #CCD5E0;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: none;
}

A.blueButton:visited{
	color:  #CCD5E0;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: none;
}
	
TD.Disabled {
	color: #FFFFFF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
}

input.BLUEButton {
	font-family: monospace;
	font-size: 11px;
	border : 2px outset;
	background-color : #CCD5E0;
}

INPUT.button {
	font-family: monospace;
	font-size: 11px;
	border : 2px outset;
	background-color : #CCD5E0;
}
INPUT.conditionRateValue {
    text-align:right;
}
/* End: Buttons */
	
/* Start: Tables */
/* Table grid */
.infoTable {
	background-color : #F7F9FB;
}

table.conditionTable {
  border-style:solid;
  border-width:1px;
  border-collapse:separate;
  width:100%;
}

table.conditionTable tr {
	background-color: #E9ECEF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

table.conditionTable tr.Subtotal {
    color:blue;
}
 		
table.conditionTable td.conditionStatus {
   width: 16px;
}
table.conditionTable td.conditionType {
    width: 10%;
    text-align:center;
}

table.conditionTable td.description {
}

table.conditionTable td.conditionRate {
    width:15%;
}

table.conditionTable td.priceUnit {
    width:8%;
}

table.conditionTable td.conditionValue {
    width:15%;
}

table.conditionTable td.operation {
    width:16px;
}

table.conditionDetailTable {
  border-style:solid;
  border-width:2px;
  border-collapse:separate;
}

table.conditionDetailTable td.detailGroup {
    width:33%
}

table.detailGroupTable {
  border-style:solid;
  border-width:1px;
  border-collapse:collapse;
  border-color: white;
  background-color: #E9ECEF;
}

table.detailGroupTable td.detailGroupTableCol{
  border-style:solid;
  border-width:1px;
  border-collapse:collapse;
  border-color: white;
  background-color: #E9ECEF;
}


/* Title of the table */	
.tableName {
	background-color: #D7DDE5;
	color : #FFFFFF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

/* Column header */	
.tableHeader {
	background-color: #9DBBD7;
	color: #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

/* Table row */
.tableRow {
}

/*  Brighter table rows for  zebra table */
.tableRowZebra {
	background-color: #D1D8DF;
	color: #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}
	
/* Selected	table row */
.Selected {
	background-color :#FFFFCC;
	color : #00009C;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration: none;
}

/* highlighted	table row */
.Highlighted {
	background-color: #E9ECEF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

 		
/* Hyper linked items inside tables  */
A.orderItem {
	color:#00009c;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}
	
A.orderItem:hover {
	color:#9c0000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
	text-decoration : none;
}
	
/*  Column header of subtable */
.SecondHeader {
	background-color: #E7EED8;
}
 
 /* Table row of subtable */
.SecondRow {
	background-color: #F7F7EF;
}
 /* End: Tables */
 
 /* Start: Tree */
 .treeRow1{
	background-color: #C6CED6;
}

 .treeRow2{
	background-color: #D1D8DF;
}

 .treeRow3{
	background-color: #DDE2E7;
}

 .treeRow4{
	background-color: #E9ECEF;
}

 .treeRow5{
	background-color: #F4F6F8;
}

 .treeRow6{
	background-color: #FFFFFF;
}

 /* End: Tree */
 
/*  Tabs */
/* Backgriund of the tab content area */
.tabcontent {
	background-color: #D7DDE5;
}	

/* Active tab  */ 
A.forTab {
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:8pt;
	font-weight : bold;
	text-decoration : none;
}

A.forTab:hover  {
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:8pt;
	font-weight : bold;
	text-decoration : none;
}
 
/* Inactive tab  */
A.bakTab {
   color: #00009C;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: none;
}

A.bakTab:hover {
	color:#fb7737;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: underline;
}
/* End: Tabs */
	
/*  Start: Data fields (entry fields and display fields)  */
/* Style for the label of the field    */
.label {
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
}
	
/* Style for displayed fields or input fields  */
.entry {
	background-color : #E7EEF0;
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
}
/*  End: Data fields (entry fields and display fields)  */
	
	
/*   Start: Styles for data boxes  */
/* Set a space around the data box */
.content {
	margin: 10px;
	width: 100%;
}
 
 /* Set a space on left, bottom and right side of the data box */
 .contentBottom {
	margin-bottom: 10px;
	margin-right: 10px;
    margin-left: 10px;
	margin-top: 0px;
	width: 100%;
}

/* Set a space on left, top and right side of the data box */
.contentTop {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 100%;
}

/* Background color and text properties of the label of a box */
 .boxLabel{
	background : #336699;
	color:#FFFFFF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;	
}
	
/* Color of the box */	
.BoxContent {
	background-color: #F7F9FB;
}

/* Color of the box border */
.BoxGrid {
	background-color: #B8BABB;
}
/*   End: Styles for data boxes  */

.justBold {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight : bold;
}

/*   text-based function links as in bbppo01, bbp_bid_inv   */
.TabtextLink {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight : bold;
	text-decoration:none;
} 	
 	
.TabtextLinkbg {
	background-color: #EFEFDE;
}

/* miscellaneous    */
.description {
	color:#000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight : bold;
}
	
.error {
	color : red;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
}

	
/* confirmation message (used in inbox scenario)   */
.message {
	color : navy;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}
  
BLOCKQUOTE {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
}

   
/* expression "required data" used in bbpiv02 */
.reqfield {
	color : #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 6pt;
	font-style: italic;
}

/*   Login Page   */
.HEADER {
	 COLOR: #ffffff; 
 	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; 
               FONT-SIZE: 12px
}
	
.DESCRIPTIONH {
	COLOR: #525252; 
              FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; 
              FONT-SIZE: 10px; 
              TEXT-DECORATION: none
}   	

/* Not used ??? */
/* table control **/
.BorderTable {
	border-color : #BDBABD;
	border-style : ridge;
	border-width : 1px;
}

/* Not used ? */	
.Groupbox {
	color:#FFFFFF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:11px;
}

/*--PricingCondition Details page--*/
/* Column header */	
.tableLabel {
	background-color: #9DBBD7;
	color: #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
}

/* Start: Tables */
/* Table grid */
.topTable {
	background-color : #F7F9FB;
}

.pageHeader {
	background-color: #9DBBD7;
	color: #000000;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 15px;
	font-style: bold;
	font-weight : bold;
}
