/* ---------------------General styles--------------------- */
em 												{color:#646464; font-style:normal;}
h1 												{font-family:Verdana,Geneva,sans-serif; font-weight:bold; font-size:80%; color:#225A8D; border-bottom:2px solid #225A8D; border-left:4px solid #225A8D; padding-left:7px; padding-bottom:3px; padding-top:3px; width:99%; margin-bottom:0px; }
select									        {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%;}
textarea								        {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:80%;}
/* we need it for working with height and percentage, see e.g. http://www.quirksmode.org/ -> Tasks */
html						                    {height: 99%; overflow: visible}


/* metadescription is used for describing the content of a side for screenreader programs */
.metadescription               					{display: none}

/*---------------------HEADER---------------------*/
.header_body 									{margin:0px; background:#FFFFFF}

#headerContainer 								{background:url(../mimes/images/header.png) no-repeat top right; font-family: Verdana,Geneva, sans-serif; margin:0px; height:74px; border-bottom:2px solid #225A8D}
#headerContainer a:link, #headerContainer a:visited 	{color: #08396B; text-decoration:underline}
#headerContainer span.active a:link, #headerContainer span.active a:visited 	{color:#225A8D; text-decoration: underline}
#header_logo 									{background: url(../mimes/images/logo.png) no-repeat top left;	width:80px; height:40px}
#header_userName 								{position:absolute; top:2px; right:10px; font-size:95%; font-weight:bold; color:#08396B}
#header_applName 								{position:absolute; top:23px; left:100px; font-size:95%; font-weight:bold; color:#08396B}

/* ... Navigation 1, top right..............................................*/
#header_nav_1 ul 								{position:absolute; top:22px; right:0px; white-space:nowrap} 
#header_nav_1 ul li 							{display:inline; font-size:70%}
#header_nav_1 img 								{vertical-align:bottom; width:17px; height:14px; border:0px}
#header_nav_1 span 								{margin-right:10px}

/* ... Navigation 2, bottom left..............................................*/
#header_nav_2 ul 								{position:absolute; top:55px; margin-left:12px; white-space:nowrap; font-size:80%; font-weight:bold}
#header_nav_2 ul li 							{display:inline}
#header_nav_2 span.active 						{font-size:95%; font-weight:bold; margin-right:20px}
#header_nav_2 span.inactive 					{font-size:95%; font-weight:normal; margin-right:20px}
#header_nav_2 img 								{padding:0px; margin-bottom:1px; vertical-align:bottom; width:17px; height:14px; border:0px}

/* ... Navigation 3, bottom center..............................................*/
#header_nav_3 									{position:absolute; top:55px; left:50%; font-size:80%; font-weight:bold}
#header_nav_3 ul li								{display:inline}
#header_nav_3 img 								{padding-bottom:2px; margin:0px; vertical-align:bottom; width:17px; height:14px; border:0px}

#header_extraDiv1 								{background-color:#225A8D; position:absolute; top:52px; left:1px; width:5px; height:22px}
#header_extraDiv2 								{background-color:#ff9900; position:absolute; top:41px; left:0px; height:4px; width:100%}




/*---------------------DOCUMENTS HEADER---------------------*/
body.invoice, body.order, body.orderstatus, body.document-search
    						                    {height: 98%; margin:0px; color:#000000; background:#FFFFFF;}

.negotiation									{margin:0px; background:#FFFFFF; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left; color:#000000}



.documents img 									{width:16px; height:16px; border:0px}


/*...Fields..............................................*/
.textinput								{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%;}
.textinput-small						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:5em;}
.textinput-middle						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:8em;}
.textinput-large						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:23em; }
.delete									{text-align:center;}				
.select-large							{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:24em;}
.textarea-disabled						{background:#F7F7F7;}


/*...Document..............................................*/
#document										{width:100%; height:87%; overflow:auto; margin-top:22px; border-top:2px solid #225A8D; padding-top:10px;}


/*...Document Header..............................................*/
.document-header								{margin-left:5px; width:95%; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}


/*...Data..............................................*/
.data 											{float: left; text-align:left; line-height: 3ex; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:100%;}
.data .title									{font-weight:bold; text-align:left; }
.data .identifier								{width:130px; text-align:right; vertical-align:middle; padding-top:3px;}
.data .identifier-multiline						{width:130px; text-align:right; vertical-align:top; padding-top:3px;}
.data .doc_flow_ident                           {text-align:left; vertical-align:top; border: 0px; }
.data .doc_flow_value							{text-align:left; vertical-align:top; border: 0px;}
.data .value									{text-align:left; padding-left:2px; vertical-align:middle; padding-top:3px; }
.data img										{border: 0px; width:16px; height:16px; vertical-align: -6%} /* for icons after select-boxes */
.data .img-1									{width:16px; height:16px; vertical-align: -16%;} /* for icons after input fields */
.data .img-2                                    {width:16px; height:16px; margin-top: -3px; margin-bottom: -10px; vertical-align: -25%} /* for icons after normal text */


/*...Status..............................................*/
.status 										{width: 25em; float: right; padding:0px; margin-top:1ex; font-weight:bold; }
.status .identifier								{width: 11em; text-align:right; vertical-align:middle;}
.status .value									{text-align:left; padding-left:2px; vertical-align:middle;}


/*...Price..............................................*/
.price	 										{width: 25em; float: right; border-collapse:collapse; margin-top:6ex; color:#000000;}
.price .separator								{height:1px; border-top:1px solid #000000;}
.price .identifier								{width: 11em; text-align:right; vertical-align:middle; }
.price .value									{text-align:right; padding-left:2px; vertical-align:middle; background-color:#FFD18C;}
.price td 										{margin-top:0px; border:0px; padding:2px;}

.orderstatus .price                             {margin-top:2ex;}


/*...Data Message..............................................*/
.message										{width: 80%; border:0px solid blue; margin-top:0px; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:100%; }
.message .identifier							{width:130px; text-align:right; vertical-align:top;padding-top:3px;}
.message .value									{text-align:left; padding-left:2px; vertical-align:top;}
.message img									{width:16px; height:16px; vertical-align:top; border:0px; }


/*---------------------DOCUMENTS ITEM FILTER---------------------*/
.document-item-filter							{width:95%; border:1px solid #dddddd; margin-left:7px; margin-top: 15px; margin-bottom: 0px; padding:3px; background:#F2F2F2; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}
.document-item-filter .title					{width:99%; margin-top:10px; margin-bottom:10px; margin-left:2px}
.document-item-filter table						{width:99%; }
.document-item-filter td input					{vertical-align: 10%}
.document-item-filter .button                   {text-align: right;}

.document-item-filter .separator-top			{}
.document-item-filter .separator-bottom			{}
.document-item-filter .filter-result-msg		{margin-top:7px; margin-bottom:5px; margin-left:2px}

/*
.document-item-filter .filter					{margin:0px; padding:0px; width:99%; border:0px}
.document-item-filter .filter legend			{margin-left:-2px; margin-top:0px}
.document-item-filter .filter ul				{list-style-type:none; margin-left:5px; margin-top:2px}
.document-item-filter .filter li.criteria-1		{text-align:left; padding-top:3px; margin-top:3px; margin-bottom:10px}
.document-item-filter .filter li.criteria-2		{text-align:left; padding-top:5px; margin-top:10px; margin-bottom:5px; display:inline}
.document-item-filter .filter li.criteria-3		{text-align:left; padding-top:5px; margin-top:10px; display:inline}
.document-item-filter .filter li.criteria-3	a 	{margin-left:14px}
.document-item-filter .filter ul .input-1		{width:180px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; margin-bottom:2px; background-color:#FFFFFF; font-size:100%} 
*/



/*---------------------DOCUMENTS ITEM LIST---------------------*/
.document-items									{width:97%; margin-top:5px;}

.itemlist										{width:99%; border:1px solid #C9D7E9; border-collapse:collapse; margin-left:7px; margin-top:15px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}
.itemlist th									{background:#DCE3EC; border:1px solid #FFFFFF; text-align: center; padding:3px 6px 6px 6px}
.itemlist td								    {border-style:solid; border-color:#CCCCCC; border-right:1px; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;}
.itemlist img								    {width:16px; height:16px; border:0px}

.itemlist a:link								{color:#426DCE}
.itemlist a:hover								{color:#426DCE; background-color:#DEE3EF}
.itemlist a:visited								{color:#426DCE}


.itemlist .odd 									{background:#FFFFFF; vertical-align:middle; padding:3px}
.itemlist .odd-error							{}
.itemlist .odd-info								{background:#FFFFFF; border-right:1px solid #CCCCCC}

.itemlist .even									{background:#F2F2F2; vertical-align:middle; padding:3px}
.itemlist .even-error							{background:#F2F2F2; margin:0px; padding:0px;}
.itemlist .even-info							{}

.itemlist .error								{width:97%;}
.itemlist .info									{width:97%;}

.itemlist .separator							{border-top:1px solid #CCCCCC; padding:0px; margin:0px;}
.invoice .itemlist .separator                   {border:0px solid #CCCCCC; padding:0px; margin:0px;}

.itemlist td.select, .itemlist th.select    	{width: 19px; padding-left: 3px}
.itemlist td.opener, .itemlist th.opener        {width: 17px; padding-left: 6px}
.itemlist th.item								{width: 4em}
.itemlist td.item								{text-align: left}
.itemlist td.product							{text-align: left; white-space: nowrap}
.itemlist td.qty								{text-align: right; }
.itemlist td.unit								{text-align: left}
.itemlist td.desc								{text-align: left;}
.itemlist td.ref-doc                    	    {text-align: left;}
.itemlist td.qty-avail							{text-align: right}
.itemlist td.date-on							{text-align: right}
.itemlist th.price, .itemlist th.price-unit     {width: 10em; white-space: nowrap;}
.itemlist td.price, .itemlist td.price-unit     {width: 10em; text-align: right; white-space: nowrap;}
.itemlist td.status, th.status                 	{text-align: center; width: 5em;}
.itemlist td.qty-rest							{text-align: right}
.itemlist td.delete     					    {text-align: center}

/* Subitem-Styles */

.itemlist .even .item-sub-01					{background:url(../mimes/images/subpos.gif) no-repeat -6px 50%; padding-left:10px; background-color: #F2F2F2}
.itemlist .even .item-sub-02					{background:url(../mimes/images/subpos.gif) no-repeat -1px 50%; padding-left:15px; background-color: #F2F2F2}
.itemlist .even .item-sub-03					{background:url(../mimes/images/subpos.gif) no-repeat 5px 50%; padding-left:21px; background-color: #F2F2F2}

.itemlist .odd .item-sub-01					    {background:url(../mimes/images/subpos.gif) no-repeat -6px 50%; padding-left:10px}
.itemlist .odd .item-sub-02					    {background:url(../mimes/images/subpos.gif) no-repeat -1px 50%; padding-left:15px}
.itemlist .odd .item-sub-03					    {background:url(../mimes/images/subpos.gif) no-repeat 8px 50%; padding-left:21px}

.itemlist .odd-detail							{background:#FFFFFF; margin:3px; padding:5px}
.itemlist .detail						        {border-left:1px solid #CCCCCC}
/*.itemlist .odd-detail img						{width:16px; height:16px; vertical-align:-10%; border:0px; }
.itemlist .odd-detail .img-1					{border:0px solid red; width:16px; height:16px; vertical-align:-20%;}
.itemlist .odd-detail .message-data img			{width:16px; height:16px; vertical-align:top; border:0px; }
*/

.itemlist .even-detail							{background:#F2F2F2; margin:3px; padding:5px; }
/*.itemlist .even-detail img						{width:16px; height:16px; vertical-align:-10%; border:0px; }
.itemlist .even-detail .img-1					{border:0px solid red; width:16px; height:16px; vertical-align:-20%;}
.itemlist .even-detail .message-data img		{width:16px; height:16px; vertical-align:top; border:0px; }
*/

/*...Detail..............................................*/
.item-detail                                    {border:1px solid #CCCCCC; width:99%; border-collapse:collapse; margin-left:2px; margin-right:2px; margin-bottom:1ex; font-family:Verdana, Geneva, sans-serif; font-size:100%; color:#000000}
.item-detail .identifier			            {width: 19em; border: 0px; white-space: nowrap; text-align:right; vertical-align:middle; padding:3px}
.item-detail .message-data	.identifier	        {vertical-align:top; }
.item-detail .value				                {text-align:left; border: 0px; padding: 3px; vertical-align:middle;}
.item-detail .value .textinput-middle           {text-align:left; padding-left:2px; vertical-align:top;}
.item-detail .value select                      {text-align:left; padding-left:2px; vertical-align:top;}
.item-detail img                                {border: 0px; width:16px; height:16px; vertical-align: -6%} /* for icons after select-boxes */
.item-detail .img-1								{width:16px; height:16px; border: 0px; vertical-align: -7px} /* for icons after input fields */
.item-detail .img-2                             {width:16px; height:16px; } /* for icons after normal text */
.item-detail .img-3                             {width:16px; height:16px; vertical-align: top} /* for icons after textarea */

.item-info                                      {border:1px solid #CCCCCC; width:99%; border-collapse:collapse; margin-left:2px; margin-right:2px; margin-bottom:2px; font-family:Verdana, Geneva, sans-serif; font-size:100%; color:#000000}
.item-info .icon                                {width: 2.3em; border: 0px; background: url(../mimes/images/warning.gif) no-repeat 4px 3px; height: 20px; }
.item-info .identifier-2, .item-info .identifier-3
							                    {text-align:right; vertical-align:middle; padding: 2px}
.item-info .identifier-1						{width: 16em; border: 0px; text-align: right; vertical-align:middle; padding: 2px}
.item-info .value-1, .item-info .value-2, .item-info .value-3
								                {text-align:left; border: 0px; padding:2px; vertical-align:middle;}


/*---------------------DOCUMENTS GROUPED BUTTONS---------------------*/
#buttons										{width:100%; margin:0px; padding-top:9px; border-top:1px solid #C9D7E9; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left;}

ul.buttons-1									{margin-left:10px; float:left; list-style: none outside; }
ul.buttons-1 li									{float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top;}

ul.buttons-2									{margin-left:5px; float:left; list-style: none outside;}
ul.buttons-2 li									{float: left; font-weight:bold; line-height: 5ex; vertical-align: top}

ul.buttons-3									{float: right; list-style:none outside;}
ul.buttons-3 li									{float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top}


ul.buttons-1 a, ul.buttons-2 a, ul.buttons-3 a  {text-decoration:none; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px;}

ul.buttons-1 a:link, ul.buttons-2 a:link, ul.buttons-3 a:link
                							    {color:#FFFFFF; background-color:#21598C;}
ul.buttons-1 a:visited, ul.buttons-2 a:visited, ul.buttons-3 a:visited
                    		 				    {color:#FFFFFF; background-color:#21598C;}
ul.buttons-1 a:hover, ul.buttons-2 a:hover, ul.buttons-3 a:hover
                    		 				    {color:#FFFFFF; background-color:#286DAB;}

/* disabled buttons */
ul.buttons-1 li.disabled a, ul.buttons-2 li.disabled a, ul.buttons-3 li.disabled a
                                                {text-decoration:none; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px;}
                                                
ul.buttons-1 li.disabled a:link, ul.buttons-2 li.disabled a:link, ul.buttons-3 li.disabled a:link
                            					{color:#DEDEDE; background-color:#21598C;}
ul.buttons-1 li.disabled a:visited, ul.buttons-2 li.disabled a:visited, ul.buttons-3 li.disabled a:visited
                                				{color:#DEDEDE; background-color:#21598C;}
ul.buttons-1 li.disabled a:hover, ul.buttons-2 li.disabled a:hover, ul.buttons-3 li.disabled a:hover
                                				{color:#DEDEDE; background-color:#21598C;}


/*...Single Buttons..............................................*/
a.button                                    	{line-height: 5ex; text-decoration:none; font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px;}
a.button:link						        	{color:#FFFFFF; background-color:#21598C;}
a.button:visited		 				    	{color:#FFFFFF; background-color:#21598C;}
a.button:hover						        	{color:#FFFFFF; background-color:#286DAB;}






/*---------------------ORGANIZER---------------------*/
body.document-search		                    {height: 98%; margin:0px; color:#000000; background:#F0F4FA;}

.nav-body 										{margin:0px; background:#FFFFFF}
/*.document-search								{margin:0px; background-color:#F0F4FA;}*/
#organizer-navigation 							{width:100%; height:19px; background-color:#FFFFFF; padding-top:5px; padding-bottom: 0px;}

#navigator              						{position:absolute; top:20px; left:0px; border:0px}
#navigator2             						{position:absolute; top:100px; left:0px; border:0px}
#navigator3             						{position:absolute; top:200px; left:0px; border:0px}

ul.navigation-1 								{font-family:Verdana,Geneva,sans-serif; font-size:60%; margin:0px; padding:0px; height:17px; white-space:nowrap; border-bottom:2px solid #21598C; border-left:5px solid #225A8D; } 
ul.navigation-1 li 								{display:inline; height: 17px; padding-bottom: 5px}

ul.navigation-1 li.active-first 				{background:#21598C url('images/nav_left1_active.gif') no-repeat left; padding-left: 20px; padding-right: 3px; }
ul.navigation-1 li.active-first a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }


ul.navigation-1 li.active-middle 				{background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; }
ul.navigation-1 li.active-middle a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }

ul.navigation-1 li.active-last	 				{background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; }
ul.navigation-1 li.active-last a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }


ul.navigation-1 li.inactive-first 				{background:#DEE3EF url('images/nav_left1_inactive.gif') no-repeat left; padding-left: 20px; padding-right: 3px; }
ul.navigation-1 li.inactive-first a				{text-decoration:underline; color:#000000; }

ul.navigation-1 li.inactive-middle 				{background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; }
ul.navigation-1 li.inactive-middle a			{text-decoration:underline; color:#000000}

ul.navigation-1 li.inactive-last 				{background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; }
ul.navigation-1 li.inactive-last a				{text-decoration:underline; color:#000000}



/*...Filter..............................................*/
#organizer-content 								{width:100%; height:93%; overflow:auto; margin-left:3px; margin-top:10px; margin-bottom:0px; }

.filter-title                                   {margin-bottom: -4px; padding: 0px; height: 2ex}

.filter										    {margin:0px; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size: 60%;  text-align:left; vertical-align:top; color:#000000; }
.filter ul 									    {white-space:nowrap; margin-left:0px; margin-bottom:8px; margin-top:0px} 
.filter ul li									{list-style: none outside; text-align:left; padding-top:3px; margin-left:0px} 
.filter ul li select							{width:200px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF} 
.filter ul .input-1							    {width:194px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%} 
.filter ul .input-2							    {width:70px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%} 
.filter ul .input-3							    {width:173px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%} 
.filter ul img 								    {width:16px; height:16px; vertical-align:-20%; border:0px}

.filter .button								    {margin-left:160px}

.filter-result-msg							    {font-family:Verdana, Geneva, sans-serif; font-size: 60%; color:#000000; margin-top:10px; margin-bottom:10px;}

.filter-result								    {width: 94%; font-family:Verdana, Geneva, sans-serif; border:0px}
.filter-result table							{width:99%; font-size:60%; border:1px solid #DCE3EC; border-collapse:collapse;}
.filter-result a 								{text-decoration:underline; color:#426FC9}
.filter-result a:active 						{color:#426FC9}
.filter-result a:visited 						{color:#426FC9}
.filter-result a:hover 						    {color:#426FC9; background-color:#DCE3EC; text-decoration:underline}
.filter-result .amount						    {text-align:right; }


.filter-result th								{text-align:center; border-right:1px solid #FFFFFF; background-color:#DCE3EC}
.filter-result tr.odd							{text-align:left; background-color:#FFFFFF}
.filter-result tr.even						    {text-align:left; background-color:#F2F2F2}
.filter-result td						        {margin:0px; padding:3px; border-right:1px solid #DCE3EC}




/*---------------------WELCOME---------------------*/
.nodocument 									{margin:0px; background:#FFFFFF;font-family:Verdana, Geneva, sans-serif; width:99%; }
.text											{font-size:60%; text-align:left; color:#000000; line-height:15px; padding-left:7px; padding-top:0px; margin-top:0px; margin-left:5px;  }
.list 											{font-size:60%; margin-left:-15px; margin-top:-5px}
.list ul										{list-style-image: url('../mimes/images/arrow_right.gif')}
.list li										{padding-top:8px; vertical-align:top; padding-left:10px}




/*---------------------OPEN CLOSER---------------------*/
.closer											{border:1px solid #C9D7E9; height:100%; background-color: #FFFFFF}
#opencloser_1 									{position:absolute; top:5px; left:3px; background: url(../mimes/images/left_arrow_h.gif) no-repeat top right; width:7px; height:13px}




/*---------------------HISTORY---------------------*/
.history                        				{margin:0px;}
.history-items									{margin:0px; background-color:#F0F4FA; font-family:Verdana,Geneva,sans-serif; font-size:60%; padding-bottom:50px; padding-top:3px;}
.history-items ul								{margin-left:2px; margin-top:5px; margin-bottom:0px; }
.history-items li			    				{list-style:none; font-weight:bold; color: #426FC9; background-color: #DCE3EC}
.history-items li a:link						{color: #225A8D}
.history-items li a:visited	   					{color: #225A8D}
.history-items li a:hover	    				{color: #225A8D; background-color:#DEE3EF}
.history-items li div							{font-weight: normal; background-color: #F0F4FA;}
.history-items li div a:link					{color: #000000}
.history-items li div a:visited					{color: #000000}
.history-items li div a:hover					{color: #000000; background-color:#DEE3EF}

