/* Stylesheet for ConfigUI in B2C */
/*----------------------------------------------------*/
/* global classes */
/*----------------------------------------------------*/

a:link,
a:visited,
a:active {
    color: #003063;
    text-decoration: none;
    border-bottom: 1px dotted #8F8F8F;
}

img	{ 
	border: 0px; 
	border-style: none;
}

img.display-image {
    display: block;
}


td.systemAssigned {
    font-style: italic;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
table.LineNavTabOrganizer {
    background: none #F0F4FA;
    border-top: 2px solid #225A8D;
}
table.ipcCharacteristicBar {
    font-family: Verdana, Geneva, sans-serif;
    background: none #f0f1f5;
    color: #000;
    border: 0px
}

table.ipcStatusbar {
  width:100%;
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #7D9AB9;
  background: none #cbe0f7;
  color: #000;
}
table.ipcStatusbar td{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  vertical-align: middle;
  padding: 1px 2px;
}

table.ipcDetailHeader {
  font-family: Verdana, Geneva, sans-serif;
  width:100%;
}
table.ipcDetailHeader td {
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcDetailStatusbar {
  font-family: Verdana, Geneva, sans-serif;
  background: none #f0f1f5;
  color: #000;
}
table.ipcDetailStatusbar td{
  vertical-align: middle;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

table.ipcDetailBody {
  font-family: Verdana, Geneva, sans-serif;
  background: none #FFF;
  color: #000;
}

table.ipcMessageCsticBar {
  font-family: Verdana, Geneva, sans-serif;
  background: none #f0f1f5;
  color: #000;
  border: 0px

}
table.ipcMessageCsticInfo{
  border-collapse:collapse;
  border: 2px solid #329200;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
}
table.ipcMessageCsticError{
  border-collapse:collapse;
  border: 2px solid #CC0000;
  margin-bottom: 5px;
  margin-top: 5px;  
  text-align: left;
}
table.ipcMessageCsticWarning{
  border-collapse:collapse;
  border: 2px solid #FF6600;
  margin-bottom: 5px;
  margin-top: 5px;  
  text-align: left;
}

table.ipcProductVariants{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #000;
  caption-side:bottom;
  border-collapse: collapse;
  border: 1px solid #c1c5d0;
  background: none #cbe0f7;
  padding-top: 3px;
  padding-bottom: 3px;
}

table.ipcProductVariants th{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-right: 1px solid #c1c5d0;
  border-bottom: 1px solid #c1c5d0;
  text-align: center;
}
table.ipcProductVariants td {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
}

table.ipcProductVariants td.action {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
}

table.ipcProductVariants td.price {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
}

    input.ipcButton {
        color: #003366;
        background-color: #EEEEEE;
        border: 1px solid #003366;
    }
    input.ipcButtonInvert {
        color: #003366;
        background-color: #FFFFFF;
        border: 1px solid #003366;
    }
    
	/* Styling for Link rendered as ipcButton */
	a.ipcButton:link,
	a.ipcButton:visited,
	a.ipcButton:active,
	a.ipcButton:hover {
	    font-family: Verdana, Geneva, sans-serif;
	    font-size: 10px;            
	    color: #003366;
	    background-color: #EEEEEE;
	    border: 1px solid #003366;
	    text-decoration: none;
	    padding: 2px 4px 2px 4px;
	    margin-right: 3px; 
	}

    /* Styling for IPC Customization-List */
	.ipcBody  ul {
        padding-left: 12px;
        margin-left: 5px;
    }
    
body.ipcBody {
    background: none #FFF;
    margin-left: -1px;
    margin-top: -1px;
}

body.ipcBodyReadOnly {
    background: none #FFF;
    margin-left: -1px;
    margin-top: -1px;
}

table.ipcProductVariants a:link, table.ipcProductVariants a:visited {
  color: #000;
}

table.novaHeader {
  width: 100%;
  border-collapse: collapse;
}


table.ipcHeader {
  font-family: Verdana, Geneva, sans-serif;
  width:100%;
}
table.ipcHeader th {
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcHeader td {
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.ipcHeader td.productPicture {
  text-align: left;
}

table.ipcHeaderButtons td {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px;
  border-collapse:collapse;
  padding: 3px 0px 3px 0px;
}

.ipcConflictHandlingValueLayout {
    font-weight: bold;
}
.ipcAreaFrame {
    border: 1px solid #FFFFFF;
    padding: 3px;
}
.ipcConflictGroupText {
    font-family: Verdana, Geneva, sans-serif;
    color: #FFCC33;
}

table.ipcMessages {
  font-size: 10px;
}




table.ipcConfigComparisonHidden{
}

table.ipcConfigComparisonHidden td.featureRow{
  text-align: right;
}  

table.ipcConfigComparisonHidden td.messageRow{
  text-align: center;
}  

table.ipcConfigComparisonHidden a:link, table.ipcConfigComparison a:visited {
}  

table.ipcConfigComparison{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #000;
  caption-side:bottom;
  border-collapse: collapse;
  border: 1px solid #c1c5d0;
  background: none #cbe0f7;
  text-align: left;
}

table.ipcConfigComparison th{
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  color: #000;
  text-align: center;
}

table.ipcConfigComparison th.statusIcon {
  width: auto;
  border-right: 2px solid #c1c5d0;  
  text-align: center;
}

table.ipcConfigComparison th.applySnapLine {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  text-align: center;
  font-weight: normal;
  background: none #f0f1f5;
}

table.ipcConfigComparison th.applySnapLine a:link, table.ipcConfigComparison a:visited {
  background: none #f0f1f5;
  border: none;
  padding:0px;  
}

table.ipcConfigComparison th.statusIconApplySnapLine {
  width: auto;
  border-right: 2px solid #c1c5d0;  
  text-align: center;
  background: none #f0f1f5;
}

table.ipcConfigComparison th.secondLine {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-bottom: 1px solid #c1c5d0;
  text-align: center;
  font-weight: normal;
  background: none #f0f1f5;
}

table.ipcConfigComparison th.statusIconSecondLine {
  width: auto;
  border-bottom: 1px solid #c1c5d0;
  border-right: 2px solid #c1c5d0;  
  text-align: center;
  background: none #f0f1f5;
}

table.ipcConfigComparison td {
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
  padding-left: 3px;
  padding-right: 3px;  
}

table.ipcConfigComparison td.configObjects {
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
  text-align: left;
  padding-right: 3px;  
  padding-left:2em;
}

table.ipcConfigComparison td.configObjectsProduct {
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
  text-align: left;
  padding-right: 3px;  
  font-weight: bold;
}

table.ipcConfigComparison td.configObjectsGroup {
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;
  text-align: left;
  padding-right: 3px;  
  padding-left:1em;
}

table.ipcConfigComparison td.statusIcon {
  border-bottom: 1px solid #c1c5d0;
  border-right: 2px solid #c1c5d0;
  text-align: center;
}

table.ipcConfigComparison td.statusIconGroup {
  border-bottom: 1px solid #c1c5d0;
  border-right: 2px solid #c1c5d0;
  text-align: center;
}

table.ipcConfigComparison td.deltaGroup {
  border-bottom: 1px solid #c1c5d0;
  border-right: 1px solid #c1c5d0;
  background: none #fafbfc;  
}

table.ipcConfigComparison td.separatorLine {
  border-bottom: 1px solid #b2bdd2;
  border-right: 0px solid #b2bdd2;
  background: none #f0f1f5;
}

table.ipcConfigComparison a:link, table.ipcConfigComparison a:visited {
  color: #000;
}





table.ipcCharacteristicBarConflict {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background-color:#FFCC33;
  border: 0px
}
.ipcComparisonHeader{
	font-weight:bold;
	font-size:10px;
}

.ipcConflictHandlingHeader{
	font-weight:bold;
	font-size:10px;
}

.ipcConflictHandlingValueLayout{
  	font-weight:bold;
  	font-size:10px;
}





table.ipcAreaFrame{
	font-size: 10px;
	padding:3px;
    width:100%;
}

table.ipcGridTable {
  font-family: Verdana, Geneva, sans-serif;	
  border: 0px;
}

table.ipcGridTable th {
  font-family: Verdana, Geneva, sans-serif;
  background: none #DCE3EC;
  border: 1px solid #C9D7E9;	
}

table.ipcGridTable th.empty{
	background: none #F4F4F4;
	border: 0px;
}

table.ipcGridTable td {
  font-family: Verdana, Geneva, sans-serif;
  background: none #F0F4FA;
  border: 1px solid #C9D7E9;
}

/* --- Styles with prefix 'body.tabcontent' are used to enable the IPC pricing analysis screen in the ISA application -- */
body.tabcontent {
    background-color: #D7DDE5;
}

/*   Start: Styles for data boxes  */
/* Set a space around the data box */
body.tabcontent .content {
    margin: 10px;
    width: 100%;
}

body.tabcontent table.conditionTable {
    border-style: solid;
    border-width: 1px;
    border-collapse: separate;
    width: 100%;
}

body.tabcontent table.conditionTable tr {
    background-color: #E9ECEF;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
}

body.tabcontent table.conditionTable tr.Subtotal {
    color: blue;
}

body.tabcontent table.conditionTable td.conditionStatus {
    width: 16px;
}

body.tabcontent table.conditionTable td.conditionType {
    width: 10%;
    text-align: center;
}

body.tabcontent table.conditionTable td.description {
    
}

body.tabcontent table.conditionTable td.conditionRate {
    width: 15%;
}

body.tabcontent table.conditionTable td.priceUnit {
    width: 8%;
}

body.tabcontent table.conditionTable td.conditionValue {
    width: 15%;
}

body.tabcontent table.conditionTable td.operation {
    width: 16px;
}


td.compareBtn { 
  padding: 4px;
}
td.messageIcon {
  width: 14px;
}
td.messageKey {
  font-size: 10px;
  white-space:nowrap;
  text-align:left;
}
td.messageShortText {
  text-align:left;
}
td.messageLongText {
}

td.layout {
  font-size: 10px;
  vertical-align: baseline;
}


table.conflictGroup{
}
table.conflictGroup td.csticName {
  font-weight: bold;
}



#configheader {
    position: relative;
    top: 80px;
    padding: 0 5px 10px 5px;
}
body.fw-genlay-inportal #configheader {
	top: 5px !important;	
}
#configstatus {
    position: relative;
    top: 80px;
    padding: 0 5px 5px 5px;
}
body.fw-genlay-inportal #configstatus {
	top: 0px !important;	
}
#configmessages {
    position: relative;
    top: 80px;
    padding: 5px 5px 5px 5px;
}
body.fw-genlay-inportal #configmessages {
	top: 0px !important;	
}
#multifunctionalarea {
    position: absolute;
    top: 191px;
    left: 68%;
    width: 30%;
    margin: 0px;
    border: 0px;
    background: none #FFF;
    overflow: visible;
}
body.fw-genlay-inportal #multifunctionalarea {
	top: 111px !important;	
}

#errorarea {
    position: relative;
    top: 80px;
    padding: 5px 5px 5px 5px;
}
body.fw-genlay-inportal #errorarea {
	top: 0px !important;	
}

/* style definitions for different combinations */
/* | message area        | multifunctional area | workarea style          | */
/* |         0           |          0           | 0: configworkarea       | */
/* |         0           |          1           | 1: configworkareamfa    | */
/* |         1           |          0           | 2: configworkareamsg    | */
/* |         1           |          1           | 3: configworkareamfgmsg | */

#configworkarea,
#configworkareamsg { 
    position: relative;
    top: 80px;
    padding: 0 5px 5px 15px;
}
body.fw-genlay-inportal #configworkarea,
body.fw-genlay-inportal #configworkareamsg {
	top: 0px !important;	
}
#configworkareamfa,
#configworkareamfamsg { 
    position: relative;
    top: 80px;
    padding: 0 5px 5px 15px;
    width: 66%;
}
body.fw-genlay-inportal #configworkareamfa,
body.fw-genlay-inportal #configworkareamfamsg {
	top: 0px !important;	
}

#singlelevelworkarea {
    position: relative;
    top: 80px;
    padding: 0 5px 5px 5px;
}
body.fw-genlay-inportal #singlelevelworkarea {
	top: 0px !important;	
}

#configworkarea table,
#configworkareamsg table,
#configworkareamfa table,
#configworkareamfamsg table,
#singlelevelworkarea table { /* to ensure separation in dynamic config UI */
	border-collapse: separate;
}


table.ipc {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    color: #000000;
}

table.ipcValueSingleOption {
    border: 0px;
    border-collapse: collapse;
}

tr.ipcValue {
    margin: 0px;
    padding: 0px;
}

td.ipcValue {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

td.ipcConflict {
    background-color: #FFCC33;
}

/* styles still needed for grid-ui */
td.ipcActiveGroupTab {
    background: none #225A8D;
    color: #FFFFFF;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: none;
}

td.ipcActiveGroupTab a:link {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

td.ipcActiveGroupTab a:visited {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    color: #FFFFFF
}

td.ipcActiveGroupTab a:hover {
    background: none #225A8D;
    color: #FFFFFF;
}

td.ipcActiveGroupTab a:active {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

td.ipcInactiveGroupTab {
    background: none #DCE3EC;
    vertical-align: middle;
}

td.ipcInactiveGroupTab a:link {
    color: #000000;
    text-decoration: underline;
    font-size: 10px;
}

td.ipcInactiveGroupTab a:visited {
    color: #000000;
    text-decoration: underline;
    font-size: 10px;
}

td.ipcInactiveGroupTab a:hover {
    
}

td.ipcInactiveGroupTab a:active {
    color: #000000;
    text-decoration: underline;
    font-size: 10px;
}

input.editableGrid {
	background: none #FFFFFF;
    border: 1px solid #C9D7E9;
}
input.displayGrid {
	background: none #F0F4FA;
    border: 1px solid #C9D7E9; 
}