/* ---------------------General styles--------------------- */
em                                              {color:#646464; font-style:normal;}
h1                                              {margin-bottom:0px; margin-top: 16px; font-family:Verdana,Geneva,sans-serif; font-weight:bold; font-size:70%; color:#225A8D; border-bottom:2px solid #225A8D; border-left:4px solid #225A8D; padding-left:7px; padding-bottom:3px; padding-top:3px;}
h2							 					{margin-bottom:0px; margin-top: 50px; font-family:Verdana,Geneva,sans-serif; font-weight:bold; font-size:70%; color:#225A8D; border-bottom:2px solid #225A8D; border-left:4px solid #225A8D; padding-left:7px; padding-bottom:3px; padding-top:3px; width:98.4%; }
select                                          {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
textarea                                        {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:80%;}
/* we need it for working with height and percentage, see e.g. http://www.quirksmode.org/ -> Tasks */
/* html should be defined in the application specific stylesheet */
@media screen{
html                                            {height: 99%; overflow-x: hidden; overflow-y: auto}
}
abbr                                            {text-decoration: none}

a.icon, a.icon:link, a.icon:visited, a.icon:hover {text-decoration: none} /* use it for links around icons */

div.module-name                                 { background: none #FFFFFF; color: Teal; text-align: left; font-weight: normal; display: inline;  font-size : xx-small; font-family:Verdana,Geneva,sans-serif; }

/* metadescription is used for describing the content of a side for screenreader programs */
.metadescription                                                {display: none}

/*---------------------HEADER---------------------*/
.header-body                                    {margin:0px; background:#FFFFFF}

/*---------------------HEADER APPLICATION---------------------*/

#header-appl 									{background:url(../mimes/images/header.png) no-repeat top right; font-family: Verdana,Geneva, sans-serif; margin:0px; height:74px; border-bottom:2px solid #225A8D}
#header-appl a:link, #header-appl a:visited		{color: #08396B; text-decoration:underline}
#header-appl span.active a:link, #header-appl span.active a:visited 		
                                                {color:#225A8D; text-decoration: underline}
#header-appl .header-logo 						{background: url(../mimes/images/logo.gif) no-repeat top left;	width:80px; height:40px}
#header-appl .header-username 					{position:absolute; top:2px; right:10px; font-size:95%; font-weight:bold; color:#08396B}
#header-appl .header-applname  					{position:absolute; top:23px; left:100px; font-size:95%; font-weight:bold; color:#08396B}
.help #header-appl .header-applname 				{font-size: 150%;}
#header-appl .header-applname em  				{font-style: italic; color:#08396B}

/* ... Navigation 1, top right..............................................*/
#header-appl #header-nav-functions ul 			{position:absolute; top:48px; right:0px; line-height: 30px; white-space:nowrap; margin: 0px; padding: 0px; font-size:70%;} 
#header-appl #header-nav-functions ul li 		{display:inline; border-left: 1px solid gray; margin: 0px; padding-left: 5px; padding-right: 4px; padding-top: 2px; padding-bottom: 1px;}
#header-appl #header-nav-functions ul li.first  {border-left: 0px; padding-left: 0px;}
#header-appl #header-nav-functions span 		{margin: 0px; padding: 0px;}

/* ... Navigation 2, bottom left..............................................*/
#header-appl #header-nav-view ul 				{position:absolute; top:53px; left:0px; margin: 0px; padding: 0px; white-space:nowrap; font-size:80%; font-weight:bold}
#header-appl #header-nav-view ul li 			{display:inline; padding-left: 5px; padding-right: 8px; margin: 0em}
#header-appl #header-nav-view ul li.first		{border-right: 1px solid gray;}
#header-appl #header-nav-view span.active 		{font-weight:bold;}
#header-appl #header-nav-view span.inactive		{font-weight:normal;}

/* ... Navigation 3, bottom center..............................................*/
#header-appl #header-nav-basket 				{position:absolute; top:40px; left:23%; font-size:75%; font-weight:bold}
#header-appl #header-nav-basket ul li			{display:inline}
#header-appl #header-nav-basket img 			{padding-bottom:2px; margin:0px; vertical-align:bottom; width:17px; height:14px; border:0px}

#header-appl #header-extradiv1					{background-color:#ff9900; position:absolute; top:41px; left:0px; height:4px; width:100%}

/*---------------------HEADER PORTAL---------------------*/

#header-portal 									{font-family: Verdana,Geneva, sans-serif; margin:0px; height:27px; width:100%; border-bottom:2px solid #225A8D; padding:0px}
#header-portal a:link, #header-portal a:visited			 		{color: #08396B; text-decoration:underline}
#header-portal span.active a:link, #header-portal span.active a:visited 	{color: #225A8D; text-decoration: underline}
#header-portal .header-logo 							{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal .header-username 						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal .header-applname  						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}

/* ... Navigation 1, top right..............................................*/
#header-portal #header-nav-functions						{position:absolute; top:7px; right:1%; height:17px; padding:0px; margin:0px}
#header-portal #header-nav-functions ul 					{white-space:nowrap; padding:0px; margin:0px} 
#header-portal #header-nav-functions ul li 					{display:inline; font-size:70%}
#header-portal #header-nav-functions img 					{vertical-align:bottom; width:17px;  border:0px}
#header-portal #header-nav-functions span 					{margin-right:10px}

/* ... Navigation 2, bottom left..............................................*/
#header-portal #header-nav-view							{position:absolute; top:8px; left:10px; height:17px; padding:0px; margin:0px}
#header-portal #header-nav-view ul 						{white-space:nowrap; font-size:80%; font-weight:bold; padding:0px; margin:0px}
#header-portal #header-nav-view ul li 						{display:inline}
#header-portal #header-nav-view span.active 					{font-size:95%; font-weight:bold; margin-right:20px}
#header-portal #header-nav-view span.inactive					{font-size:95%; font-weight:normal; margin-right:20px}
#header-portal #header-nav-view img 						{padding:0px; margin-bottom:1px; vertical-align:bottom; width:17px;  border:0px}

/* ... Navigation 3, bottom center..............................................*/
#header-portal #header-nav-basket						{position:absolute; top:8px; left:25%; height:17px; padding:0px; margin:0px; font-size:80%; font-weight:bold}
#header-portal #header-nav-basket ul 						{white-space:nowrap; padding:0px; margin:0px}
#header-portal #header-nav-basket ul li						{display:inline; padding:0px; margin:0px}
#header-portal #header-nav-basket img 						{padding-bottom:2px; padding-top:0px; padding-left:0px; margin:0px; vertical-align:bottom; width:17px;  border:0px}

#header-portal #header-extradiv1 						{background-color:#225A8D; position:absolute; top:5px; left:1px; width:5px; height:22px}
#header-portal #header-extradiv2						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal #header-extradiv3						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal #header-extradiv4						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal #header-extradiv5						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}
#header-portal #header-extradiv6						{position:absolute; top:1px; left:1px; visibility:hidden; height:1px; width:1px}




/*---------------------DOCUMENTS HEADER---------------------*/
@media screen {
body.invoice, body.order, body.orderstatus, body.orderchange, body.document-search,
body.document-searchcat,
body.selection-shop, body.selection-catalog, body.selectsoldto, body.message-page,
body.confirmation, body.ordersimulate, body.createdoc, body.organizer, body.determination,
body.showpredecessors, body.showpredecessorquotations, body.marketingprofile,
body.canceldate, body.payment, body.shoplist, body.shipto, body.usersettings, body.message-workarea,
body.campaign, body.compare
                                                        {height: 97.8%; overflow: hidden; margin:0px; background:#FFFFFF; }
body.message-page										{overflow: auto;}
}

.negotiation                                            {margin:0px; background:#FFFFFF; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left; color:#000000}



.documents img                                          {width:16px; height:16px; border:0px}


/*...Fields..............................................*/
.textinput                                                              {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%;}
.textinput-small                                                {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:5em;}
.textinput-middle                                               {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:8em;}
.textinput-large                                                {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:23em; }
.delete                                                                 {text-align:center;}
.select-large                                                   {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:23em;}
.textarea-disabled                                              {background:#F7F7F7;}


/*...Document..............................................*/
@media screen {
#document                                       {width: 100%; height: 86%; min-height: 86%; overflow: auto; margin-top: 0px; padding: 0px;}
}

/*...Document Header..............................................*/
.document-header                                                        {width:96%; margin: 0px; margin-left: 5px; padding: 0px; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%; clear: both;}
.shipto .document-header								{ font-size: 100%; }
.shipto .document-header td								{ font-size: 60%; }
.shipto .document-header input							{ font-size: 100%; }
.shipto form, .order form								{ height: 100%; }

.header-basic, .header-itemdefault, .header-additional, .header-docflow 
                                                {margin: 0px; padding: 0px; width: 100%;}
.header-basic                                   {margin-top: 2px;}
.header-itemdefault                             {margin-top: 0ex; padding-left: 1px;}
.header-additional                              {margin-top: 2ex; }
.header-docflow                                 {margin-top: 2ex;}

.header-basic table.layout                      {margin: 0px; padding: 0px; width: 100%}
.header-basic table.layout td.col1              {margin: 0px; padding: 0px; vertical-align: top;}
.header-basic table.layout td.col2              {margin: 0px; padding: 0px; vertical-align: top;}

.header-itemdefault .select-xlarge              {width: 90%}
.header-itemdefault .select-large               {width: 18.5em}

.header-general                                 {margin: 1ex 0 0 0; padding: 0px;}
.header-general td                              {margin: 0px; padding: 0px;}
.header-general .identifier                     {width: 12em; vertical-align:middle; }
.header-general .identifier-multiline           {width: 12em; text-align:left; vertical-align:top;}
.header-general .value                          {padding-left: 1px;vertical-align:middle;}
.header-general img                             {border: 0px; width:16px; height:16px; vertical-align:-4px; } /* for icons after select-boxes */
.header-general .img-1                          {width:16px; height:16px; vertical-align: bottom;} /* for icons after input fields */
.header-general .img-2                          {width:16px; height:16px; vertical-align: middle;} /* for icons after normal text */

.header-misc                                    {padding: 1ex 0em 1ex 1em; border-bottom: 2px solid #DCE3EC;}

.header-payment                                 {padding: 1ex 0em 1ex 1em; border-bottom: 2px solid #DCE3EC;}
body.payment .header-payment                    {border: 0px;}
body.payment #paymentform                       {margin: 0px; padding: 0px;}
.header-payment .type select, .header-payment .holder input, .header-payment .cardnumber, .header-payment .cvv, .header-payment .serial, .header-payment td.validity input, .header-payment td.amount input                           
                                                {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
.header-payment p                               {margin-left:4px; margin-bottom: 4px; margin-top: 2px;}
.header-payment .type select                    {width: 12em}
.header-payment .holder input                   {width: 12em}
.header-payment td.number                       {white-space: nowrap}
.header-payment .number input                   {width: 11em}
.header-payment input.cardnumber                {width: 11em}
.header-payment input.cvv                       {width: 4em}
.header-payment input.serial                    {width: 2em}
.header-payment td.validity                     {white-space: nowrap}
.header-payment .validity input                 {width: 2.5em}
.header-payment .amount input                   {width: 5em; text-align: right;}


.header-payment .payment-price                  {margin-top: 5ex}
.header-payment .payment-price p                {font-weight: bold}
.header-payment .payment-price em               {font-weight: bold; color:#000000; background-color:#FFD18C; padding: 0.5ex}
.header-payment .payment-select                 {margin-top: 8ex}
.header-payment .payment-cards                  {margin-top: 8ex}
.header-payment .payment-cards p                {margin-bottom: 2ex}


.header-message                                 {padding: 1ex 0em 1ex 1em;}
.header-message div.group                       {height: 86px} /* Gecko Hack: else the box will not contain the textarea */
.header-message div.group-confirm				{} /*Gecko Hack, otherwise the text may be longer than the specified area */
.header-message div.group-confirm table.message {float: none; width: 80%; border:0px solid blue; margin-top:0px; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:100%; vertical-align: top;}

.header-docflow a                               {white-space: nowrap}
.header-docflow a:link                          {color:#426DCE}
.header-docflow a:hover	                        {color:#426DCE; background-color:#DEE3EF}
.header-docflow a:visited                       {color:#426DCE}


/*...Grouping structures area and group */
h1.area                                         {border: 1px solid #DCE3EC; margin: 0px; padding: 0.5ex 0ex 0.5ex 0ex; width: 100%; background-color: #DCE3EC; color: black; font-size: 100%; font-weight: bold;}
h1.area img                                     {width:16px; height:16px; border:0px; margin: 0px 3px 0px 6px; vertical-align: -0.5ex;}
div.area                                        {margin: 0px; padding: 0px; border: 1px solid #DCE3EC; width: 100%;}
h1.group                                        {margin: 0px; padding: 0px; border: 0px; padding-left: 3px; background-color: #FFFFFF; color: black; font-size: 100%; font-weight: bold; width: 99%; margin-bottom: 1px; }
div.group                                       {margin: 0px; padding: 0px; border: 0px solid #DCE3EC; width: 97%; }
div.group p                                     {margin: 10px 0px 5px 3px;}


/*...Data..............................................*/

.data                                           {width: 100%}
.data .identifier                               {width:12em; text-align:left; vertical-align:middle; padding-top:3px;}
.data .identifier-multiline                     {width:12em; text-align:left; vertical-align:top; padding-top:3px;}
.data .value                                    {padding-left: 0px;}

.data .campvalue                                {padding-left: 0px; width: 1%; white-space: nowrap;}
.data .campdesc                                 {text-align:left; width: 70%; }
.data .campimg-1                                {width:16px; height:16px; vertical-align: bottom;} /* for icons after input fields */

.data .title                                    {font-weight:bold; text-align:left; }
.data img                                       {border: 0px; width:16px; height:16px; vertical-align:-4px; } /* for icons after select-boxes */
.data .img-1                                    {width:16px; height:16px; vertical-align: bottom;} /* for icons after input fields */
.data .img-2                                    {width:16px; height:16px; vertical-align: middle;} /* for icons after normal text */
.data a.helpvalues img                          {width:16px; height:16px; vertical-align: bottom;}

/*...Status..............................................*/
.status                                         {width: 25em; padding:0px; margin-top:1ex;  margin-left: auto;font-weight:bold; }
.status .identifier                             {width: 11em; text-align:left; vertical-align:middle;}
.status .value                                  {text-align:left; padding-left:2px; vertical-align:middle;}

/*...Price..............................................*/
/*.price                                          {width: 23em; float: right; border-collapse:collapse; margin-top:5ex; color:#000000;} deprecated */
/*.price .separator                               {height:1%; border-top:1px solid #000000; padding: 0px; } deprecated */
/*.price .identifier                              {width: 11em; text-align:right; vertical-align:middle; } deprecated */
/*.price .value                                   {text-align:right; padding-left:2px; vertical-align:middle; background-color:#FFD18C;} deprecated */
/*.price td                                       {margin-top:0px; border:0px; padding:2px; text-align: right;} deprecated */

.price-info                                     {width: 25em; border-collapse:collapse; margin-top: 6px; margin-left: auto;}
.price-info .separator                          {height:1px; border-top:1px solid #000000; border-bottom:0; padding:0}
.price-info .identifier                         {width: 11em; text-align:left; vertical-align:middle; }
.price-info .identifier-1                       {width: 11em; text-align:left; vertical-align:top; }
.price-info .value                              {text-align:right; padding-left:2px; vertical-align:top; background-color:#FFD18C;}
.price-info .value-1                            {text-align:left; padding-left:2px; vertical-align:top; }
.price-info td                                  {margin-top:0px; border:0px; padding:2px;}


/*...Messages..............................................*/
/* Data Message */
.message                                        {float: left; width: 80%; border:0px solid blue; margin-top:0px; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:100%; vertical-align: top;}
.message .identifier                            {width:130px; text-align:right; vertical-align:top;padding-top:3px;}
.message .value                                 {text-align:left; padding-left:2px; vertical-align:top;}
.message img                                    {width:16px; height:16px; vertical-align:top; border:0px; }

table.message                                   {width: 97%; margin: 0px; padding: 0px;}
table.message .identifier                       {width: 14em; text-align:left; vertical-align:top;padding-top:3px;}
table.message .value                            {padding-left: 0px}
table.message textarea                          {width:93%}

/* Error Message */
.error                                          {border: 1px solid #C40026; background: #fff7f2 url(../mimes/images/error.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; color: #C40026;}
.error span                                     {text-align:left; }
.error p                                        {margin:0; padding:0}
.error-items                                    {border: 1px solid #C40026; background: #fff7f2 url(../mimes/images/error.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; text-align:left; color: #C40026; font-family:Verdana, Geneva, sans-serif; font-size:100%; }
.error-items span                               {text-align:left; }

/* Warning Message */
.warn                                           {border: 1px solid #ff9900; background: #FFFFFA url(../mimes/images/warn.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; color: #e97900;}
.warn span                                      {text-align:left;}
.warn p                                         {margin:0; padding:0}
.warn-items                                     {border: 1px solid #ff9900; background: #FFFFFA url(../mimes/images/warn.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; text-align:left; color: #e97900; font-family:Verdana, Geneva, sans-serif; font-size:100%; }
.warn-items span                                {text-align:left; }

/* 5.0 */
.warning-message, .info-message 				{border:1px solid #9E9E9E; margin:10px 2px 0px 5px; padding:5px 5px 5px 25px; width:94%;}
.warning-message span, .info-message span		{text-align:left;}
.warning-message p, .info-message p				{margin:0; padding:0}
.warning-message 								{background:#FFFFDD url(../mimes/images/s_n_warn.gif) no-repeat scroll 4px 3px;}

/* Info Message */
.info                                           {border: 1px solid green; background: #fafffc url(../mimes/images/info.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; color: green;}
.info span                                      {text-align:left;}
.info p                                         {margin:0; padding:0}
.info-items                                     {border: 1px solid green; background: #fafffc url(../mimes/images/info.gif) no-repeat 3px 3px; padding: 5px 5px 5px 24px; margin: 0px 0px 3px 0px; text-align:left; color: green; font-family:Verdana, Geneva, sans-serif; font-size:100%; }
.info-items span                                {text-align:left; }

/* 5.0 */
.info-message 									{background:#FFFFFF url(../mimes/images/s_n_info.gif) no-repeat scroll 4px 3px;}
.mess-items										{width: 93%;}

.item-msg-area                                  {margin: 0px; padding: 3px 4px 0px 4px !important;}
.header-msg-area                                {margin: 0px; padding: 3px 0px 0px 0px;}
	
/*--------------------- global message pages  ---------------------*/
#message-content                                {border-width: 0px; margin:0px; padding: 10px; background-color:#FFFFFF; color:#000000; font-family:Verdana,Geneva,sans-serif; }
#message-content .error,
#message-content .warn,
#message-content .info                          {font-size: 60%;}

/*--------------------- message page in workarea  ---------------------*/
.message-workarea .header-basic                 {margin-top: 40px}
.message-workarea .document-header div.buttons  {margin-top: 30px}



/*---------------------table for simple lists---------------------*/
table.list-simple                               {width:99%; border:1px solid #C9D7E9; border-collapse:collapse; margin-left:3px; margin-top:0px; margin-bottom: 4px; padding:0px; color:#000000;}
.list-simple th                                                                 {background:#F0F4FA; border:1px solid #CCCCCC; text-align: center; padding:2px}
.list-simple td                                                             {border-style:solid; border-color:#CCCCCC; border-right:1px; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:2px; padding-top:4px; padding-bottom: 4px; margin:0px;}


/*---------------------DOCUMENTS ITEM FILTER---------------------*/
.document-item-filter                                                   {float: left; border:1px solid #dddddd; margin-left:7px; margin-top: 15px; margin-bottom: 0px; padding:3px; background:#F2F2F2; width:97%; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%; }
.document-item-filter .title                                    {width:99%; margin-top:10px; margin-bottom:10px; margin-left:2px; }
.document-item-filter table                                             {width:99%; text-align:left; }
.document-item-filter td input                                  {vertical-align: 10%}
.document-item-filter .button                   {text-align: right;}

.document-item-filter .separator-top                    {}
.document-item-filter .separator-bottom                 {}
.document-item-filter .filter-result-msg                {margin-top:7px; margin-bottom:5px; margin-left:2px; font-size: 100%}



/*---------------------DOCUMENTS ITEM LIST---------------------*/
.document-items                                 {width:97%; margin-top:5px; clear:left;}

.itemlist                                       {width:99%; border:1px solid #C9D7E9; border-collapse:collapse; margin-left:7px; margin-top:15px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}
.itemlist th                                    {background:#DCE3EC; border:1px solid #FFFFFF; text-align: center; padding:3px 6px 6px 6px}
.itemlist td                                    {border-style:solid; border-color:#CCCCCC; border-right:1px; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;}
.itemlist img                                   {border:0px}

.itemlist a:link                                {color:#426DCE}
.itemlist a:hover                               {color:#426DCE; background-color:#DEE3EF}
.itemlist a:visited                             {color:#426DCE}


.itemlist .odd                                  {background:#FFFFFF; vertical-align:middle; padding:3px}
.itemlist .odd-error                            {}
.itemlist .odd-info                             {background:#FFFFFF; border-right:1px solid #CCCCCC}
.itemlist .odd td                               {background:#FFFFFF; border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;}
.itemlist .odd-info td                          {border-right:1px solid #CCCCCC}

.itemlist .even                                 {background:#F2F2F2; vertical-align:middle; padding:3px}
.itemlist .even-error                           {background:#F2F2F2; margin:0px; padding:0px;}
.itemlist .even-info                            {}
.itemlist .even td                              {background:#F2F2F2; border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px;}
.itemlist .even-error td                        {border-right:1px solid #CCCCCC; }

.itemlist .error                                {width:92%;}
.itemlist .info                                 {width:92%;}

.itemlist .separator                            {border-top:1px solid #CCCCCC; padding:0px; margin:0px;}

.itemlist td.select, .itemlist th.select        {width: 19px; padding-left: 3px}
.itemlist td.opener, .itemlist th.opener        {width: 17px; padding-left: 6px}
.itemlist th.item                               {width: 4em}
.itemlist td.item                               {text-align: left}
.itemlist td.product                            {text-align: left; white-space: nowrap}
.itemlist td.product img                        {vertical-align: -4px}
.itemlist td.qty                                {text-align: right; }
.itemlist td.unit                               {text-align: left}
.itemlist td.desc                               {text-align: left;}
.itemlist td.ref-doc                            {text-align: left;}
.itemlist td.qty-avail                          {text-align: right}
.itemlist td.date-on                            {text-align: right}
.itemlist th.price, .itemlist th.price-unit     {width: 10em}
.itemlist td.price, .itemlist td.price-unit     {text-align: right; white-space: nowrap;}
.itemlist td.status, th.status                  {text-align: center; width: 5em;}
.itemlist td.qty-rest                           {text-align: right}
.itemlist td.delete                             {text-align: center}
.itemlist td.checkbox                           {text-align: center}
.itemlist td.contact, .itemlist td.soldto, .itemlist td.enrolldate
                                                {padding: 0.1ex}

.itemlist td.product table                      {border-collapse: collapse; border-width: 0px; margin-top: 0.5ex}
.itemlist td.product td                         {border-width: 0px; padding: 0.1ex}
.itemlist td.product em                         {font-weight: bold; color: black}
.itemlist td.product .message-data				{white-space: normal;}
.itemlist td.product .message-data .identifier	{vertical-align: top;}
.itemlist td.config-group span                  {font-style: italic}                      

/* Subitem-Styles */

.itemlist .even .item-sub-1                     {padding-left:15px; background-color: #F2F2F2}
.itemlist .even .item-sub-2                     {padding-left:30px; background-color: #F2F2F2}
.itemlist .even .item-sub-3                     {padding-left:45px; background-color: #F2F2F2}

.itemlist .odd .item-sub-1                      {padding-left:15px;}
.itemlist .odd .item-sub-2                      {padding-left:30px;}
.itemlist .odd .item-sub-3                      {padding-left:45px;}

.itemlist .odd-detail                           {background:#FFFFFF; margin:3px; padding:5px}
.itemlist .detail                               {border-left:1px solid #CCCCCC}

.itemlist .even-detail                          {background:#F2F2F2; margin:3px; padding:5px; }

.document-items .pagelinks					    {text-align:center; margin-top:6px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif; font-weight: bold; font-size:60%; }

/*...Detail..............................................*/
.item-detail                                    {border:1px solid #CCCCCC; width:100%; margin-left:2px; margin-right:2px; margin-bottom:1ex; font-family:Verdana, Geneva, sans-serif; font-size:100%; color:#000000}
.item-detail .identifier                        {width: 19em; border: 0px; white-space: nowrap; text-align:left; vertical-align:middle; padding:3px}
.item-detail .message-data      .identifier     {vertical-align:top; }
.item-detail .value                             {text-align:left; border: 0px; padding: 3px; vertical-align:middle;}
.item-detail .value .textinput-middle           {text-align:left; padding-left:2px; vertical-align:top;}
.item-detail .value select                      {text-align:left; padding-left:2px; vertical-align:top;}
.item-detail img                                {border: 0px; vertical-align: -6%} /* for icons after select-boxes */
.item-detail .img-1                             {width:16px; height:16px; border: 0px; vertical-align: -7px} /* for icons after input fields */
.item-detail .img-2                             {width:16px; height:16px; } /* for icons after normal text */
.item-detail .img-3                             {width:16px; height:16px; vertical-align: top} /* for icons after textarea */

.item-detail .campvalue                         {text-align:left; border: 0px; padding: 3px; vertical-align:middle; width: 1%; white-space: nowrap;}
.item-detail .campdesc                          {text-align:left; border: 0px; width: 70%;}
.item-detail .campdelete                        {text-align: right; width:  1%; border: 0px; white-space:nowrap;}
.item-detail .campdelete img                    {padding: 0px 4px 3px 0px;}
.item-detail .campimg-1                         {width:16px; height:16px; border: 0px; vertical-align: -7px;} /* for icons after input fields */
.item-detail .doc_flow_ident                    {width: 20%; text-align:left; vertical-align:top; border: 0px; }
.item-detail .doc_flow_value		    	    {text-align:left; vertical-align:top; border: 0px; }
.item-detail table.doc_flow_value_inner         {border-collapse: collapse;}
.item-detail td.doc_flow_value_inner            {border: 0px; margin: 0; padding: 0px 5px 0px 0px; }
.item-info                                      {border:1px solid #CCCCCC; width:99%; border-collapse:collapse; margin-left:2px; margin-right:2px; margin-bottom:2px; font-family:Verdana, Geneva, sans-serif; font-size:100%; color:#000000}
.item-info .icon                                {width: 2.3em; border: 0px; background: url(../mimes/images/warning.gif) no-repeat 4px 3px; height: 20px; }
.item-info .identifier-2, .item-info .identifier-3
                                                                            {text-align:right; vertical-align:middle; padding: 2px}
.item-info .identifier-1                                                {width: 16em; border: 0px; text-align: right; vertical-align:middle; padding: 2px}
.item-info .value-1, .item-info .value-2, .item-info .value-3
                                                                                {text-align:left; border: 0px; padding:2px; vertical-align:middle;}



/*---------------------DOCUMENTS GROUPED BUTTONS---------------------*/
#buttons                                        {width:100%; margin:0px; border-top:1px solid #C9D7E9; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left;}

@media print {
    #buttons                                    {display: none}
}

ul.buttons-1                                    {float: left; margin: 0px; margin-top: 4px; padding: 0px 0px 0px 10px; list-style: none outside; }
ul.buttons-1 li                                 {float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top;}
ul.buttons-1 img.icon                           {border-width: 0px; vertical-align: -15%}

ul.buttons-2                                    {float: left; margin: 0px; margin-top: 4px; padding: 0px 0px 0px 5px; list-style: none outside; }
ul.buttons-2 li                                 {float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top}

ul.buttons-3                                    {float: right; margin: 0px; margin-top: 4px; padding: 0px; list-style: none outside; }
ul.buttons-3 li                                 {float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top}

ul.buttons-1 a, ul.buttons-2 a, ul.buttons-3 a  {text-decoration:none; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px;}

ul.buttons-1 a:link, ul.buttons-2 a:link, ul.buttons-3 a:link
                                                {color:#FFFFFF; background-color:#21598C;}
ul.buttons-1 a:visited, ul.buttons-2 a:visited, ul.buttons-3 a:visited
                                                {color:#FFFFFF; background-color:#21598C;}
ul.buttons-1 a:hover, ul.buttons-2 a:hover, ul.buttons-3 a:hover
                                                {color:#FFFFFF; background-color:#286DAB;}

/* disabled buttons */
ul.buttons-1 li.disabled a, ul.buttons-2 li.disabled a, ul.buttons-3 li.disabled a
                                                {text-decoration:none; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px;}

ul.buttons-1 li.disabled a:link, ul.buttons-2 li.disabled a:link, ul.buttons-3 li.disabled a:link
                                                {color:#DEDEDE; background-color:#21598C;}
ul.buttons-1 li.disabled a:visited, ul.buttons-2 li.disabled a:visited, ul.buttons-3 li.disabled a:visited
                                                {color:#DEDEDE; background-color:#21598C;}
ul.buttons-1 li.disabled a:hover, ul.buttons-2 li.disabled a:hover, ul.buttons-3 li.disabled a:hover
                                                {color:#DEDEDE; background-color:#21598C;}


/*...Single Buttons..............................................*/
a.button                                        {text-decoration:none; border:1px solid silver; font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; padding-top:3px; padding-bottom:3px; padding-left:7px; padding-right:7px; margin-bottom:3px; margin-top:3px; height:15px}
a.button:link                                   {color:#FFFFFF; background-color:#21598C; }
a.button:visited                                {color:#FFFFFF; background-color:#21598C; }
a.button:hover                                  {color:#FFFFFF; background-color:#286DAB; }

a.button-disabled                               {text-decoration:none; border:1px solid silver; font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; padding-top:3px; padding-bottom:3px; padding-left:7px; padding-right:7px; margin-bottom:3px; margin-top:3px; height:15px}
a.button-disabled:link                          {color:#DEDEDE; background-color:#21598C;}
a.button-disabled:visited                       {color:#DEDEDE; background-color:#21598C;}
a.button-disabled:hover                         {color:#DEDEDE; background-color:#21598C;}


/*---------------------ORGANIZER---------------------*/
body.document-search                            {height: 99%; margin:0px; color:#000000; background:#F0F4FA;}
body.document-search-workarea                   {height: 99%; margin:0px; color:#000000; background:#FFF;}
div.document-search-workarea                    {background:#FFF; height:101%;border-top: 1px solid white; margin-top: -1px} /* Firefox-Hack */

body.document-searchcat                            {height: 99%; margin:0px; color:#000000; background:#F0F4FA;}
body.document-searchcat-workarea                   {height: 99%; margin:0px; color:#000000; background:#FFF;}
div.document-searchcat-workarea                    {background:#FFF; height:101%;border-top: 1px solid white; margin-top: -1px} /* Firefox-Hack */

body.document-search #organizer-navigation		{padding-top:15px;}

.nav-body                                                                               {margin:0px; background:#FFFFFF}
#organizer-navigation                           {width:100%; height: 20px; background-color:#FFFFFF; padding-top:15px; margin-top: 0px}

#navigator                                      {position:absolute; top:20px; left:0px; border:0px}
#navigator2                                     {position:absolute; top:100px; left:0px; border:0px}
#navigator3                                     {position:absolute; top:200px; left:0px; border:0px}

ul.navigation-1                                 {height:17px; margin: 3px 0px 0px 0px; padding:0px; white-space:nowrap; border-bottom:2px solid #21598C; border-left:5px solid #225A8D; font-family:Verdana,Geneva,sans-serif; font-size:60%; }
ul.navigation-1 li                              {display:inline;  height:17px; padding-bottom: 5px;}

ul.navigation-1 li.active-first                 {background:#21598C url('images/nav_left1_active.gif') no-repeat left; padding-left: 20px; padding-right: 3px; }
ul.navigation-1 li.active-first a               {text-decoration:none; color:#FFFFFF; font-weight:bold; }


ul.navigation-1 li.active-middle                {background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; }
ul.navigation-1 li.active-middle a              {text-decoration:none; color:#FFFFFF; font-weight:bold; }

ul.navigation-1 li.active-last                  {background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; }
ul.navigation-1 li.active-last a                {text-decoration:none; color:#FFFFFF; font-weight:bold; }

ul.navigation-1 li.inactive-first               {background:#DEE3EF url('images/nav_left1_inactive.gif') no-repeat left; padding-left: 20px; padding-right: 3px; }
ul.navigation-1 li.inactive-first a             {text-decoration:underline; color:#000000; }

ul.navigation-1 li.inactive-middle              {background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; }
ul.navigation-1 li.inactive-middle a            {text-decoration:underline; color:#000000}

ul.navigation-1 li.inactive-last                {background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; }
ul.navigation-1 li.inactive-last a              {text-decoration:underline; color:#000000}


/*...Filter..............................................*/
#organizer-content                              {width:99%; height:91%; overflow:auto; margin-left:3px; margin-top:0px; margin-bottom:2px}
#organizer-content form             {width: 97%}
.filter-title                       {margin: 5px 0px 0px 0px; padding: 0px; }

.filter                                                     {width: 90%; margin:0px 0px 0px 3px; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size: 60%;  text-align:left; vertical-align:top; color:#000000;}
.filter ul                                                  {margin-left:0px; margin-bottom:8px; margin-top:0px; padding: 0px}
.filter ul li                                           {list-style: none outside; text-align:left; padding-top:3px; margin-left:0px}
.filter ul li select                            {width:190px; border-top: 1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF}
.filter ul .input-1                                 {width:165px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
.filter ul .input-2                                 {width:60px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
.filter ul .input-3                                 {width:165px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
.filter ul img                                      {width:16px; height:16px; vertical-align:-30%; border:0px}

.filter .button                                     {margin-left:154px}

.filter-result-msg                                  {width: 97%; font-family:Verdana, Geneva, sans-serif; font-size: 60%; color:#000000; margin-top:10px; margin-bottom:10px;}
.filter-result                                      {width: 97%; font-family:Verdana, Geneva, sans-serif; font-size: 60%; }
.filter-result table                            {width:100%; margin:0px; border:1px solid #DCE3EC; border-collapse: collapse; font-size: 100%; }
.filter-result a                                        {text-decoration:underline; color:#426FC9}
.filter-result a:active                         {color:#426FC9}
.filter-result a:visited                        {color:#426FC9}
.filter-result a:hover                      {color:#426FC9; background-color:#DCE3EC; text-decoration:underline}
.filter-result .amount                      {text-align:right; }


.filter-result th                           {text-align:center; border-right:1px solid #FFFFFF; background-color:#DCE3EC}
.filter-result th.with-button               {white-space: nowrap; padding-right: 10px;}
.filter-result tr.odd                       {text-align:left; background-color:#FFFFFF}
.filter-result tr.even                      {text-align:left; background-color:#F2F2F2}
.filter-result td                           {margin:0px; padding:3px; border-right:1px solid #DCE3EC}


.filter-hu						                {width: 112%}
.filter-hu input 					            {width:245px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
.filter-hu select 					            {width:250px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF}


/*
    Generic Search
    ==============
    The generic search may be rendered in several columns. Every search jsp with a different number of culumns needs its own style.
    We define the styles for the 1 column search jsp (gensearch-col-1) and the 3 column search jsp (gensearch-col-3).
*/

#gensearch-col-1, #gensearch-col-3              {width:100%; height:90%; overflow:auto; margin-left:3px; margin-bottom:0px; font-family:Verdana, Geneva, sans-serif; font-size: 60%; }
#gensearch-col-1                                {height:99%; width:99%}
body.document-search-workarea #gensearch-col-1  {width:95%; overflow: visible}
#gensearch-col-1 .filter-1                      {width: 99%}
#gensearch-col-1 .filter-1 select               {width:150px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF}
#gensearch-col-1 .filter-1 .label               {width:100px;}
#gensearch-col-1 .filter-1 .input-1             {width:145px; padding:1px; border:1px solid silver; background-color:#FFFFFF; font-family:Verdana, Geneva, sans-serif; padding-left:2px; font-size: 100%; }
#gensearch-col-1 .filter-1 .input-2             {width:44px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
#gensearch-col-1 .filter-1 .input-3             {width:122px; padding:1px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; background-color:#FFFFFF; font-size:100%}
#gensearch-col-1 .filter-1 img                  {width:16px; height:16px; vertical-align:bottom; border:0px; margin: 0px; padding: 0px}
#gensearch-col-1 .filter-1 .separator           {height: 6px;}
#gensearch-col-1 div.buttons                    {text-align: right; margin-right: 7px; margin-top: 8px;}
#gensearch-col-1 td.input                       {white-space: nowrap;}

#gensearch-col-1 .filter-result                 {border: 1px solid #F0F4FA; width: 97%; font-size: 100%;} /* border is a geckohack for avoiding an unnecessary hor. scrollbar */
#gensearch-col-1 .filter-result table           {width:100%; font-size: 100%; border:1px solid #DCE3EC; border-collapse:collapse;}
#gensearch-col-1 .filter-result .infield input  {width:44px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
#gensearch-col-1 .filter-result .centerdata     {text-align: center; }
#gensearch-col-1 .filter-result-msg             {font-family:Verdana, Geneva, sans-serif; font-size: 100%; color:#000000; margin-top:10px; margin-bottom:10px;}

#gensearch-col-3 #gensearch                     {border: 0px solid #BBBBBB; height: 34ex; width: 97.5%; background-color: #DCE3EC}

#gensearch-col-3 .filter-1                      {margin-top: 3ex; margin-left: 1ex; margin-right: 1ex; width: 30%; height: 20ex; float: left; background-color: #F0F4FA}
#gensearch-col-3 .filter-2                      {margin-top: 3ex; margin-right: 1ex; width: 30%; height: 20ex; float: left; background-color: #F0F4FA}
#gensearch-col-3 .filter-3                      {margin-top: 3ex; margin-right: 1ex; width: 30%; height: 20ex; float: left; background-color: #F0F4FA }

#gensearch-col-3 .filter-1 select,#gensearch-col-3 .filter-2 select,#gensearch-col-3 .filter-3 select,#gensearch-col-3 .filter-4 select
                                                {width:150px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF}
#gensearch-col-3 .filter-1 .input-1, #gensearch-col-3 .filter-2 .input-1, #gensearch-col-3 .filter-3 .input-1, #gensearch-col-3 .filter-4 .input-1
                                                {width:145px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
#gensearch-col-3 .filter-1 .input-2, #gensearch-col-3 .filter-2 .input-2, #gensearch-col-3 .filter-3 .input-2, #gensearch-col-3 .filter-4 .input-2
                                                {width:69px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
#gensearch-col-3 .filter-1 .input-3, #gensearch-col-3 .filter-2 .input-3, #gensearch-col-3 .filter-3 .input-3, #gensearch-col-3 .filter-4 .input-3
                                                {width:125px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}
#gensearch-col-3 .filter-1 img, #gensearch-col-3 .filter-2 img, #gensearch-col-3 .filter-3 img, #gensearch-col-3 .filter-4 img
                                                {width:16px; height:16px; vertical-align:-20%; border:0px}
#gensearch-col-3 .filter-1 table, #gensearch-col-3 .filter-2 table, #gensearch-col-3 .filter-3 table
                                                {border: 0px solid black; width: 100%; border-collapse: collapse; margin:1ex}
#gensearch-col-3 .filter-1 td, #gensearch-col-3 .filter-2 td, #gensearch-col-3 .filter-3 td
                                                {border: 0px solid red}
#gensearch-col-3 #gensearch .buttons            {clear: both; padding: 2em 0em 2em 2em; width: 93.5%; line-height: 2ex}

#gensearch-col-3 .filter-result                         {width:98.5%; font-family:Verdana, Geneva, sans-serif; border:0px; margin: 0px;}
#gensearch-col-3 .filter-result table                   {width:99%; font-size:100%; border:1px solid #DCE3EC; border-collapse:collapse;}
#gensearch-col-3 .filter-result-msg                             {font-family:Verdana, Geneva, sans-serif; font-size: 100%; color:#000000; margin-top:10px; margin-bottom:10px;}




/*---------------------WELCOME---------------------*/
.nodoc                                          {height: 98%; margin:0px; color:#000000; background:#FFFFFF;}
.nodoc a                                        {color: #000000}
.nodoc a:link                                   {color: #000000}
.nodoc a:visited                                {color: #000000}
.nodoc a:hover                                  {color: #000000}
.nodoc #page                                    {height: 96%}
#nodoc-first, #nodoc-default                    {font-family:Verdana, Geneva, sans-serif; color:#000000; height: 100%}
#nodoc-first p, #nodoc-default p                {margin-left: 2em; margin-top: 1ex; margin-bottom: 1ex; font-size: 60%; width: 40em;}
#nodoc-first ul, #nodoc-default ul              {list-style-image: url('../mimes/images/arrow_right.gif'); font-size: 60%; margin-top: 3ex;}
#nodoc-first li, #nodoc-default li              {margin-top: 1ex; margin-bottom: 1ex; padding-left:10px;}

#nodoc-header                                   {height: 35px; border-bottom:2px solid #21598C;}
#nodoc-content                                  {height:95%; width: 100%; overflow:auto; }
#nodoc-welcome                                  {margin-top: 3ex; width: 97%}
#nodoc-welcome-info 							{margin-top:1ex; width: 97%}

#nodoc-catalog                                  {margin-top: 3ex; width: 97%}

#nodoc-worklist                                 {margin-top: 3ex; width: 97%}
#nodoc-worklist p                               {width: 100%}
#nodoc-worklist .fieldWithHelpValue			    {margin-left: 2em; margin-top: 5px; margin-bottom:5px;}

#nodoc-transactions                             {margin-top: 3ex; width: 97%}
#nodoc-transactions p                           {width: 100%}
#nodoc-transactions .fieldWithHelpValue			{margin-left: 2em; margin-top: 5px; margin-bottom:5px;}

#nodoc-campaign                                 {margin-top: 3ex; width: 97%}
#nodoc-campaign p                               {width: 100%}
#nodoc-campaign .filter-1                       {min-height: 20px; margin-top:0px}
#nodoc-campaign .filter-1 label,
#nodoc-campaign .filter-1 select                {margin-top: 4px; vertical-align: bottom;}
#nodoc-campaign .filter-2                       {height: 20px; margin-bottom:2px; }
#nodoc-campaign .fieldWithHelpValue	     		{margin-left: 1em; height: 20px}
#nodoc-campaign .fieldWithHelpValue	img   		{vertical-align: bottom;}
#nodoc-campaign .fieldWithHelpValue	select      {margin-top: 4px}
#nodoc-campaign .filter-3                       {height:20px; margin-top: 5px; margin-bottom:2px}
#nodoc-campaign .filter-3 label                 {margin-top: 5px; margin-bottom: 0px; vertical-align: bottom;}
#nodoc-campaign .filter-3 input                 {margin-top: 4px; margin-bottom: 0px; vertical-align: bottom;}
/*#nodoc-campaign .filter-4                       {float: left;}*/
#nodoc-campaign .buttons                        {padding-top:5px; margin-top:0px; margin-bottom:0px;}
#nodoc-campaign a.button                        {color: #FFFFFF}
#nodoc-campaign a:link                          {color: #FFFFFF}
#nodoc-campaign a:visited                       {color: #FFFFFF}
#nodoc-campaign a:hover    				        {color: #FFFFFF}

#nodoc-default #nodoc-welcome                   {display: none}

/* styles needed from createdocument.jsp --*/
body.createdoc #nodoc-default                   {height: 87%}
body.createdoc .fieldWithHelpValue              {margin-left: 2em; font-size: 60%}




/*---------------------OPEN CLOSER---------------------*/
.closer											{border:1px solid #C9D7E9; height:100%; background-color: #FFFFFF}
#leftArrow										{margin:2px}
#rightArrow										{margin:2px}
#leftArrow1										{margin:2px}
#rightArrow1									{margin:2px}
#leftArrow2										{margin:2px}
#rightArrow2									{margin:2px}

/*---------------------HISTORY---------------------*/
.history										{margin:0px; padding-bottom:3px; font-family:Verdana,Geneva,sans-serif; padding:0px;}
.history-items									{width: 90%; margin: 4px auto; font-family:Verdana,Geneva,sans-serif; font-size:60%; }
.history-items ul								{margin:0px; padding: 0px;}
.history-items li								{list-style:none; font-weight:bold; color: #426FC9; background-color: #DCE3EC; padding-top: 2px;}
.history-items li a:link,
.history-items li a:visited,
.history-items li a:hover				{color: #225A8D; text-decoration: none}
.history-items li div					{border-left: 1px solid #CED7EF; border-bottom: 1px solid #CED7EF; border-right: 1px solid #CED7EF; margin: 2px 0 4px 0; padding: 3px 2px; font-weight: normal; background-color: #F0F4FA;}
.history-items li div a:link,
.history-items li div a:visited			{color: #000}
.history-items li div a:hover			{color: #000; background-color:#DEE3EF}
.history-items li a.historyHeaderLink	{display: block; padding-left: 3px;}


/*--------------------- selection screens - e.g. shop selection after login ---------------------*/
.selection-shop #header-extradiv1               {display: none}

#scrollable-selection                           {position:absolute; height:100%;width:100%;overflow:auto; }

.selection                                      {margin-left: 20%; margin-top: 40px; width: 30em;}
.selection .filter-result                       {margin-top: 20px; font-size: 60%;}



/*--------------------- message page for error handling in accessibility mode ---------------------*/
.messages-header, .messages-list, .messages-buttons
                                                                                {border: 0px solid green; margin:2em; background-color:#FFFFFF; color:#000000; font-family:Verdana,Geneva,sans-serif; font-size:70%;}

.messages-header a, .messages-list a, .messages-buttons a
                                                {text-decoration:none; color: #000000}

.messages-header h1                             {border: 0px; padding: 0px; margin: 0px; font-size:larger;}

/*...Login..............................................*/

.login                                  {margin-left:0px; margin-top:5px; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size: 60%; text-align:left; color:#000000; }
.login .message                         {float:none; clear:left;}
.login .error                           {float:none; clear:left;}
.login .info                            {float:none; clear:left;}
.login ul                               {white-space:nowrap; margin-left:0px; margin-bottom:8px; margin-top:15px; padding-left:0px;}
.login ul li                            {list-style: none outside; text-align:left; padding-top:5px; margin-left:0px; margin-top:5px; margin-bottom:5px; padding-left:0px;}
.login ul li select                     {width:200px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF}
.login ul li label                      {font-weight:bold;}
.login ul li .text                      {vertical-align:top;}
.login ul li .button1                   {margin-top:5px; padding-left:0px; margin-left:0px;}
.login ul li .label-input               {vertical-align:bottom; padding:5px; margin-left:0px; padding-left:0px}
.login ul .input-1                      {width:194px; border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%}

/*.....Partner Locator............................*/
.partner-locator                                        {border: 0px; width:99%; height:99%;}

.partner-locator .content                       {height:80%; overflow:auto;}
.partner-locator .content-portal        {height:90%; overflow:auto;}
.partner-locator .buttons-search        {height:10%; margin:0px; padding-top:9px; font-family:Verdana, Geneva, sans-serif; text-align:left;}
.partner-locator .buttons-scroll        {height:10%; margin:0px; border-top:1px solid #C9D7E9; padding-top:9px; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left;}
.partner-locator ul.buttons-1           {margin-left:3px; float:left; list-style: none; }
.partner-locator ul.buttons-1 li        {float: left; margin-right: 1em; font-weight:bold; line-height: 5ex; vertical-align: top;}

.partner-locator .filter                        {margin-left:5px; width:95%;}
.partner-locator .filter .filter        {float: left; text-align:left; line-height: 3ex; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:90%;}
.partner-locator .filter .filter .title                 {font-weight:bold; text-align:left; font-size:100%;}
.partner-locator .filter .filter .identifier    {width:70px; text-align:left; vertical-align:middle; padding-top:2px;}
.partner-locator .filter .filter .value         {text-align:left; padding-left:2px; vertical-align:middle; padding-top:2px; }

.partner-locator .filter-msg                    {float: left; margin-left:5px; width:94%; padding-top:3ex; font-family:Verdana, Geneva, sans-serif; font-size:70%;}
.partner-locator .filter-msg .hits              {float: left; font-weight:bold;}

.partner-locator .result                        {border: 0px; font-family:Verdana, Geneva, sans-serif; font-size:60%;}

.partner-locator ul.result-list         {list-style:none; margin: 0px; padding: 0px;}
.partner-locator li.odd                         {float: left; background:#FFFFFF; width: 94%; vertical-align:middle; padding:3px; border-right:1px solid silver; border-left:1px solid silver; border-bottom:0px; border-top:1px solid silver}
.partner-locator li.even                        {float: left; background:#F2F2F2; width: 94%; vertical-align:middle; padding:3px; border-right:1px solid silver; border-left:1px solid silver; border-bottom:0px; border-top:1px solid silver}

.partner-locator ul.result-list ul      {border:0px solid silver; width: 33%; margin: 0px; float: left; list-style:none;}

body.partner-search                                     {height: 97%; margin:0px; color:#000000; background:#FFFFFF;}


/*---------------------Help Value Search ---------------------*/
body.help-values-search                         {height: 98%; margin:0px; color:#000000; overflow: hidden}
body.help-values-search-popup                   {height: 98%; margin:0px; color:#000000; background:#F0F4FA; overflow: hidden}

#help-values-search-content                     {width:100%; height:96%; overflow:auto; margin-left:3px; margin-top:10px; margin-bottom:0px; }
#help-values-search-content h1                  {width: 95%}
#help-values-search-content #search             {width: 96%}
#help-values-search-content .error              {font-size: 60%; width: 95%}                    
#help-values-search-content .info               {font-size: 60%; width: 95%}                    

.search-buttons                       {width:94%; margin:0px; padding-top:9px; border-top:1px solid #C9D7E9; font-family:Verdana, Geneva, sans-serif; font-size:60%; text-align:left;}

.input-values                         {margin-left:5px; width:95%; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}

.search-result                        {width: 94%; padding-bottom:3px; font-family:Verdana, Geneva, sans-serif; border:0px}
.search-result table                  {clear:both; width:99%; font-size:60%; border:1px solid #DCE3EC; border-collapse:collapse;}
.search-result table.message          {clear:both; width:99%; font-size:60%; border:0px; }
.search-result a                      {text-decoration:underline; color:#426FC9}
.search-result a:active               {color:#426FC9}
.search-result a:visited              {color:#426FC9}
.search-result a:hover                {color:#426FC9; background-color:#DCE3EC; text-decoration:underline}
.search-result .amount                {text-align:right; }

.search-result th                     {text-align:center; border-right:1px solid #FFFFFF; background-color:#DCE3EC}
.search-result tr.odd                 {text-align:left; background-color:#FFFFFF}
.search-result tr.even                {text-align:left; background-color:#F2F2F2}
.search-result td                     {margin:0px; padding:3px; border-right:1px solid #DCE3EC}
.search-result td.message             {margin:0px; padding:3px; border-right:0px;}

/*--------------------- Waiting screen (busy) ---------------------*/
#busy    				              {text-align:center; vertical-align:middle; margin-top: 20ex}
#busy p 				              {text-align:center; vertical-align:middle; margin-top: 3ex; font-size: 80%}

/*...Marketing.....................................................*/
body.profile						 {height: 98%; overflow: hidden; margin:0px; color:#000000; background:#FFFFFF;}
#questions							 {width:100%; height:80%; overflow:auto; border-top:0px; margin-top: 0px; padding: 0px; font-family:Verdana, Geneva, sans-serif; font-size: 60%; }
#questions .top-message				 {width:94%; padding-bottom:5px;}
#questions p						 {color: red;}
.product-recommendations             {width:100%; text-align:left; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}

/*...Predecessors.....................................................*/
.predecessors-doc		             {text-align:left; padding-left:5px; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}
.predecessors-doc .opener            {font-weight:bold; padding-top:1ex; padding-bottom:2ex;}


/*--------------------- popups ---------------------*/
.popup #header-appl 							{background:url(../mimes/images/header.png) no-repeat top right; font-family: Verdana,Geneva, sans-serif; margin:0px; height:45px; border-bottom:0px solid #225A8D}
.popup #header-portal #header-extradiv1			{display: none; background-color:#225A8D; position:absolute; top:5px; left:1px; width:5px; height:22px}
.popup .content                                 {font-family:Verdana, Geneva, sans-serif; font-size:60%; color:#000000; margin:30px 10px 10px 10px}
.popup .content ul.help li                      {margin:1ex; list-style-type: none;}

/*--------------------- group with radio buttons, implemented with a list ---------------------*/
ul.group-radio                                  {list-style-type: none; margin: 2ex; padding: 0px;}
ul.group-radio span                             {margin-left: 1em;}

/* Order Change */
/*#order_positions                                {margin-top: 0px; height: 99.9%; overflow: hidden}*/
#order_positions                                {margin-top: 0px;}

.jspdebugmsg                                    {border: 1px dashed #999; font-size: xx-small; font-family: Verdana,Geneva,sans-serif; }
.jspdebugmsg-head                               {background-color: #DDD; font-weight: bold;}
.jspdebugmsg-head table                         {width: 100%;}
.jspdebugmsg-head a                             {text-decoration: none;}
.jspdebugmsg-body                               {background-color: #FBFBFB; padding: 3px;}

/*--------------------- Adminarea styles ---------------------*/
.admin-content					                        { padding-left: 10px; }
a.showLogButton, a.showBackButton, a.logCommandButton	{ margin-bottom:3px; margin-top:3px; border:1px solid silver; font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; height:15px;padding:3px 7px; text-decoration: none; background-color: #21598C; color: #FFFFFF; }
.showLogButton a:hover 									{ text-decoration: underline; }
a.showBackButton 										{ font-size:60%; }
a.logCommandButton										{ margin-bottom:3px; margin-top:3px; }
a.helpButton					{ margin: 0px 10px 0px 5px; line-height: 5ex; font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; border:1px solid silver; padding-top:2px;  padding-bottom:3px; padding-left:7px; padding-right:7px; text-decoration: none; background-color: #21598C; color: #FFFFFF; }

/*--------------------- Campaign styles ---------------------*/
.campaign_hint_table_entry						{bottom:0;display:inline;height:16px;position:relative;text-align:left;vertical-align:bottom;width:16px;}

/*--------------------- Compare Items styles ---------------------*/
body.compare #cat-list 							{height:80%;}

div#unassignAllRolesButton,
div#assignAllRolesButton { text-align:right; padding: 10px 3px 5px 0px; }

.shoplist-shop { height: 100%; margin: 0px; padding: 0px; overflow-y: scroll; }

.help-values-search-popup .search-result .info2 span { font-size: 60%; }