/* ---------------------General styles--------------------- */
h1												{ margin-top: 16px; padding-bottom: 2px; padding-top: 2px; }
/* we need it for working with height and percentage, see e.g. http://www.quirksmode.org/ -> Tasks */
/* html should be defined in the application specific stylesheet  */
/* html {height: 99%; overflow: visible} */
/*  use it for links around icons  */
/* metadescription is used for describing the content of a side for screenreader programs  */
/*---------------------HEADER---------------------*/
/*---------------------HEADER APPLICATION---------------------*/
#header-appl .header-username					{ right: 17px; }
/* ... Navigation 1, top right..............................................*/
#header-appl #header-nav-functions ul			{ top: 51px; }
/* ... Navigation 2, bottom left..............................................*/
#header-appl #header-nav-view ul				{ top: 60px; }
#header-appl #header-nav-view ul li				{ padding-left: 6px; padding-right: 4px; }
/* ... Navigation 3, bottom center..............................................*/
#header-appl #header-nav-basket					{ top: 60px; }
/*---------------------HEADER PORTAL---------------------*/
/* ... Navigation 1, top right..............................................*/
#header-portal #header-nav-functions			{ top: 6px; }
/* ... Navigation 2, bottom left..............................................*/
#header-portal #header-nav-view ul				{ margin-left: 12px; }
/* ... Navigation 3, bottom center..............................................*/
/*---------------------DOCUMENTS HEADER---------------------*/
@media screen {
body.invoice									{ height: 98%; color: #000000; }
body.order										{ height: 98%; color: #000000; }
body.orderstatus								{ height: 98%; color: #000000; }
body.orderchange								{ height: 98%; color: #000000; }
body.selection-shop								{ height: 98%; color: #000000; }
body.selection-catalog							{ height: 98%; color: #000000; }
body.selectsoldto								{ height: 98%; color: #000000; }
body.message-page								{ height: 98%; color: #000000; }
body.confirmation								{ height: 98%; color: #000000; }
body.ordersimulate								{ height: 98%; color: #000000; }
body.createdoc									{ height: 98%; color: #000000; }
body.organizer									{ height: 98%; color: #000000; }
body.determination								{ height: 98%; color: #000000; }
body.showpredecessors							{ height: 98%; color: #000000; }
body.showpredecessorquotations					{ height: 98%; color: #000000; }
body.marketingprofile							{ height: 98%; color: #000000; }
body.canceldate									{ height: 98%; color: #000000; }
body.payment									{ height: 98%; color: #000000; }
body.shoplist									{ height: 98%; color: #000000; }
body.shipto										{ height: 98%; color: #000000; }
body.usersettings								{ height: 98%; color: #000000; }
body.message-workarea							{ height: 98%; color: #000000; }
body.campaign									{ height: 98%; color: #000000; }
body.compare									{ height: 98%; color: #000000; }
}
ul.buttons-1, ul.buttons-3							{ margin-top: 4px; }
/*...Fields..............................................*/
.textinput-large								{ width: 18em; }
.select-large									{ width: 19em; }
/*...Document..............................................*/
@media screen {
#document										{ height: 87%; border-top: 0px; }
}
/*...Document Header..............................................*/
.doc-header-top /*{newline} deprecated {newline}*/{ width: 99%; border: 0px solid silver; margin-top: 0px; text-align: left; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 100%; }
.column-1										{ float: right; }
/*  deprecated  */
.column-2										{ float: left; }
/*  deprecated  */
.header-basic table.layout td.col2				{ text-align: right; }
.header-general .doc_flow_ident					{ width: 12em; vertical-align: top; }
.header-general .doc_flow_bold					{ width: 12em; vertical-align: top; font-weight: bold; }
.header-general .doc_flow_value					{ padding-left: 1px; vertical-align: top; }
.header-general .doc_flow_value a				{ color: #426DCE; text-decoration: none; }
.header-general .doc_flow_value a:link			{ color: #426DCE; text-decoration: none; }
.header-general .doc_flow_value a:hover			{ color: #426DCE; background-color: #DEE3EF; text-decoration: none; }
.header-general .doc_flow_value a:visited		{ color: #426DCE; text-decoration: none; }
.header-general img								{ vertical-align: -6%; }
/*  for icons after select-boxes */
.header-general .img-1							{ vertical-align: -15%; }
/*  for icons after input fields  */
.header-general .img-2							{ margin-top: -3px; margin-bottom: -10px; vertical-align: -25%; }
/*  for icons after normal text  */
/*...Grouping structures area and group */
/*...Data..............................................*/
.data .campimg-1								{ vertical-align: -15%; }
/*  for icons after input fields */
/*  for icons after select-boxes */
.data img										{ vertical-align: -6%; }
/*  for icons after select-boxes */
.data .img-1									{ vertical-align: -15%; }
/*  for icons after input fields */
.data .img-2									{ margin-top: -3px; margin-bottom: -10px; vertical-align: -25%; }
/*  for icons after normal text  */
.data a.helpvalues img							{ vertical-align: -2px; border: 0px solid red; }
/*...Status..............................................*/
/*...Price..............................................*/
/*.price {width: 25em; clear: right; float: right; border-collapse:collapse; margin-top:6ex; color:#000000;} deprecated */
/*.price .separator {height:1px; border-top:1px solid #000000;} deprecated */
/*.price .identifier {width: 11em; text-align:right; vertical-align:middle; } deprecated */
/*.price .value {text-align:right; padding-left:2px; vertical-align:middle; background-color:#FFD18C;} deprecated */
/* .price td {margin-top:0px; border:0px; padding:2px;} deprecated */
/*...All Data..............................................*/
.alldata										{ width: 99%; border: 1px solid silver; margin-top: 0px; text-align: left; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 100%; }
.alldata .identifier							{ width: 130px; text-align: right; vertical-align: top; padding-top: 3px; }
.alldata .value									{ text-align: left; padding-left: 2px; vertical-align: top; }
.alldata img									{ width: 16px; height: 16px; vertical-align: top; border: 0px; }
.alldata th										{ width: 100%; text-align: left; background-color: #DCE3EC; }
/*...Additional Header Data..............................................*/
.headerdata										{ width: 100%; border: 1px solid silver; margin-top: 0px; text-align: left; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 100%; }
.headerdata .identifier							{ width: 130px; text-align: right; vertical-align: top; padding-top: 3px; }
.headerdata .value								{ text-align: left; padding-left: 2px; vertical-align: top; }
.headerdata img									{ width: 16px; height: 16px; vertical-align: top; border: 0px; }
/*...Messages..............................................*/
/* Data Message  */
.message /*{newline} deprecated {newline}*/		{ width: 80%; border: 0px solid blue; margin-top: 0px; text-align: left; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 100%; }
.message .identifier /*{newline} deprecated {newline}*/{ width: 130px; text-align: right; vertical-align: top; padding-top: 3px; }
.message .value /*{newline} deprecated {newline}*/{ text-align: left; padding-left: 2px; vertical-align: top; }
.message img /*{newline} deprecated {newline}*/	{ width: 16px; height: 16px; vertical-align: top; border: 0px; }
table.message									{ border: 0px; }
table.message textarea							{ width: 92%; }
/* Error Message  */
.error											{ border: 1px solid #c40026; background: #fff7f2 url(../mimes/images/error.gif) no-repeat 4px 4px; color: #c40026; }
.error p										{ margin: 0; padding: 0; }
.error-items									{ border: 1px solid #c40026; background: #fff7f2 url(../mimes/images/error.gif) no-repeat 4px 4px; color: #c40026; }
/* Warning Message  */
.warn											{ background: #fffffa url(../mimes/images/warn.gif) no-repeat 4px 4px; }
.warn p											{ margin: 0; padding: 0; }
.warn-items										{ background: #fffffa url(../mimes/images/warn.gif) no-repeat 4px 4px; }
/* Info Message  */
.info											{ background: #fafffc url(../mimes/images/info.gif) no-repeat 4px 4px; }
.info p											{ margin: 0; padding: 0; }
.info-items										{ background: #fafffc url(../mimes/images/info.gif) no-repeat 4px 4px; }
/*--------------------- global message pages ---------------------*/
/*--------------------- message page in workarea ---------------------*/
/*---------------------table for simple lists---------------------*/
/*---------------------DOCUMENTS ITEM FILTER---------------------*/
.document-item-filter							{ width: 95%; }
/*---------------------DOCUMENTS ITEM LIST---------------------*/
.document-items									{ width: 95%; }
.itemlist td td									{ border-right: 0px; }
.itemlist .error								{ width: 94%; }
.itemlist .info									{ width: 94%; }
.itemlist td.product img						{ vertical-align: -2px; }
.itemlist th.price								{ white-space: nowrap; }
.itemlist th.price-unit							{ white-space: nowrap; }
.itemlist td.price								{ width: 10em; }
.itemlist td.price-unit							{ width: 10em; }
.itemlist td.product em							{ font-size: larger; }
.itemlist td.product .message-data .identifier	{vertical-align: top;}
/* Subitem-Styles */
/*...Detail..............................................*/
.item-detail									{ width: 99%; border-collapse: collapse; }
/*  for icons after select-boxes */
/*  for icons after input fields  */
/*  for icons after normal text  */
/*  for icons after textarea  */
.item-detail td.doc_flow_value_inner			{ margin: 0; }
/*  for icons after input fields */
/*  for icons after select-boxes */
.item-info .icon								{ border: 0px none; background: url('../mimes/images/warning.gif') no-repeat 4px 3px; }
/*---------------------DOCUMENTS GROUPED BUTTONS---------------------*/
@media print {
}
ul.buttons-1 img.icon							{ vertical-align: -5%; }
.buttons-1, .buttons-3							{ margin-top: 4px; }
/* disabled buttons  */
/*...Single Buttons..............................................*/
a.button										{ line-height: 5ex; padding-top: 2px; }
a.button-disabled								{ line-height: 5ex; padding-top: 2px; }
/*---------------------ORGANIZER---------------------*/
div.document-search-workarea					{ height: 100%; }
/*.document-search {margin:0px; background-color:#F0F4FA;}*/
#organizer-navigation							{ padding-top: 18px; padding-bottom: 0px; }
ul.navigation-1									{ margin: 0px; }
/*...Filter..............................................*/
#organizer-content								{ height: 90%; margin-top: 10px; margin-bottom: 0px; }
.filter-title									{ margin-bottom: -4px; height: 2ex; }
.filter											{ margin: 0px; padding: 0px; }
.filter	ul										{ margin: 0px; padding: 0px; }
.filter ul li select							{ width: 200px; border: 1px solid silver; }
.filter ul .input-1								{ width: 194px; }
.filter ul .input-2								{ width: 70px; }
.filter ul .input-3								{ width: 173px; }
.filter ul img									{ vertical-align: -20%; }
.filter .button									{ margin-left: 160px; }
.filter-result-msg								{ width: 94%; }
.filter-result									{ width: 94%; border: 0px; }
.filter-result table							{ width: 99%; }
/* Generic Search */
#gensearch-col-1								{ width: 98.5%; height: 98.5%; overflow: auto; margin-left: 3px; margin-bottom: 0px; font-family: Verdana, Geneva, sans-serif; font-size: 60%; }
#gensearch-col-3								{ width: 99%; }
#gensearch-col-1 .filter-1						{ width: 92%; }
#gensearch-col-1 .filter-1 .input-1				{ font-size: 100%; }
#gensearch-col-1 .filter-1 .input-3				{ width: 125px; padding-left: 2px; }
#gensearch-col-1 .filter-1 .separator			{ padding: 0; overflow: hidden; }
#gensearch-col-1 .filter-1 img					{ vertical-align: -20%; }
#gensearch-col-1 div.buttons					{ margin-right: 23px; margin-top: 5px; }
#gensearch-col-1 .filter-result					{ width: 90%; margin: 0; }
#gensearch-col-3 #gensearch						{ border: 1px solid #BBBBBB; height: 30ex; width: 99%; }
#gensearch-col-3 #gensearch .buttons			{ margin: 2em 0em 2em 2em; margin-top: 5px; }
/*---------------------WELCOME---------------------*/
.nodoc											{ overflow: hidden; }
#nodoc-first li									{ padding-top: 0.5ex; padding-bottom: 1ex; vertical-align: middle; }
#nodoc-default li								{ padding-top: 0.5ex; padding-bottom: 1ex; vertical-align: middle; }
#nodoc-welcome									{ margin-top: 2ex; }
#nodoc-catalog									{ margin-top: 2ex; }
#nodoc-header									{ margin-top: -3px; }
/* #nodoc-campaign .filter-2 {max-height:20px; margin-bottom:2px;}
#nodoc-campaign .fieldWithHelpValue input		{ margin-top: 3px; }
#nodoc-campaign .buttons						{ margin-top: 4px; }
#nodoc-campaign .buttons a.button				{ color: #FFFFFF; vertical-align: bottom; margin-top: 5px; }
#nodoc-campaign .filter-1						{ float: left; height: 20px; margin-bottom: 5px; }
#nodoc-campaign .filter-2						{ margin-bottom: 5px; }
#nodoc-campaign .fieldWithHelpValue input		{ margin-top: 3px; }
#nodoc-campaign .filter-4						{ float: left; }
#nodoc-campaign .filter-4 label					{ margin-top: 5px; margin-bottom: 0px; vertical-align: bottom; }
#nodoc-campaign .filter-4 input					{ margin-top: 4px; margin-bottom: 0px; vertical-align: bottom; }
#nodoc-campaign .buttons						{ margin-top: 4px; }
#nodoc-campaign a.button						{ vertical-align: bottom; }
/* styles needed from createdocument.jsp --*/
/*---------------------OPEN CLOSER---------------------*/
/*---------------------HISTORY---------------------*/
/*--------------------- selection screens - e.g. shop selection after login ---------------------*/
#scrollable-selection							{ height: 97%; overflow-x: hidden; overflow-y: auto; }
/*--------------------- message page for error handling in accessibility mode ---------------------*/
/*...Login..............................................*/
.login											{ margin: 0px; }
.login ul										{ margin-top: 0px; }
.login ul li									{ padding-top: 3px; margin-top: 0px; }
.login ul li .button1							{ padding-top: 0px; }
/*.....Partner Locator............................*/
.partner-locator								{ width: 100%; height: 97%; }
#buttons-search								{ height: 10%; margin: 0px; padding-top: 9px; font-family: Verdana, Geneva, sans-serif; text-align: left; }
#buttons-scroll								{ height: 10%; margin: 0px; border-top: 1px solid #C9D7E9; padding-top: 9px; font-family: Verdana, Geneva, sans-serif; font-size: 60%; text-align: left; }
.partner-locator ul.buttons-1					{ list-style: none outside; }
.partner-locator .filter						{ width: 96%; }
.partner-locator .filter-msg					{ width: 96%; }
.partner-locator ul.result-list					{ list-style-type: none; }
.partner-locator li.odd							{ width: 96%; }
.partner-locator li.even						{ width: 96%; }
.partner-locator ul.result-list ul				{ list-style-type: none; }
body.partner-search								{ height: 98%; }
/*...Store Locator in Portal........*/
.partner-locator ul.result-list-portal			{ list-style-type: none; margin: 0px; padding: 0px; }
.partner-locator ul.result-list-portal ul		{ border: 0px solid silver; margin: 0px; }
/*---------------------Help Value Search ---------------------*/
.search-result									{ padding-bottom: 3px; }
/*--------------------- Waiting screen (busy) ---------------------*/
/*...Marketing.....................................................*/
/*...Predecessors.....................................................*/
/*--------------------- popups ---------------------*/
/*--------------------- group with radio buttons, implemented with a list ---------------------*/
/* Order Change  */
/*--------------------- Adminarea styles ---------------------*/
a.showLogButton									{ margin: -6px 0px; }
.help .green 									{ margin-left: 0px; }
/*--------------------- Campaign styles ---------------------*/
.campaign_hint_table_entry						{bottom:-1px;display:inline;height:16px;position:relative;text-align:left;vertical-align:bottom;width:16px;}