#header-appl #header-nav-basket					{ margin-top: -2px; }
#header-appl #header-nav-functions ul			{ margin-top: -1px; }
.admin-content									{ overflow: auto; }
.help .green 									{ margin-left: -80px; }
#unassignAllRolesButton, #assignAllRolesButton { margin-top: 10px; }