/*----------------------------------------------------*/
/* StyleSheets for the "SAP B2C Project"              */
/*                                                    */
/* Document:       bw.css                             */
/* Version:        1.0                                */
/* Authors:        m_vogel@pixelpark.com              */
/* Creation-Date:  20.03.2001                         */
/* Last-Update:    10.05.2001 (M. Vogel)              */
/*                                                    */
/*                           (c) Pixelpark AG, Berlin */
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/* body */
/*----------------------------------------------------*/

body {
  color: #000;
  background: none #d6dce7;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

body.body-meta-nav { background: none #667186; }
body.body-left { background: none #667186; }
body.body-mid { background: none #d6dce7; }
body.body-right { background: none #b2bdd2; }

/*----------------------------------------------------*/
/* list */
/*----------------------------------------------------*/

ul {
  margin-top: 0;
  margin-bottom: .5em;
}

/*----------------------------------------------------*/
/* headline */
/*----------------------------------------------------*/

h1 { font-size: 15px; }
h2 { font-size: 14px; }
h3 { font-size: 12px; }
div.opener {
  text-align: left;
  padding-bottom: 10px;
  font-weight: bold;
}

/*----------------------------------------------------*/
/* modules */
/*----------------------------------------------------*/

div.module-name {
	color: #667186;
  font-weight: bold;
	text-align: right;
}


div.module-name-new {
  color: #667186;
  text-align: right;
  font-weight: bold;
}

/*----------------------------------------------------*/
/* links */
/*----------------------------------------------------*/

a:link { color: #000;}
a:visited { color: #000; }
a:active { color: #000; }



/*----------------------------------------------------*/
/* form elements */
/*----------------------------------------------------*/
form { margin: 0; }
input {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
input[type='text'] { text-align: right; }
input.detailCount {
  background: #eee;
  border: none;
}
select {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
.submitDoc { margin-bottom: 5px; }
.bigCatalogInput{ width: 155px; }
.middleCatalogInput{ width: 131px; }
.smallCatalogInput{ width: 40px; }
.customerAddrDetailsInput { 
  width: 170px;   
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}

/*----------------------------------------------------*/
/* global classes */
/*----------------------------------------------------*/
.error {
  font-weight: bold;
  color: #f00;
  margin-bottom: 5px;
}

var {  
  font-size: 10px;
}

p {
  margin: 0 0 .5em 0;
}

p#path {
  background: none #eee;
  padding: .5ex;
  border: thin solid #aaa;
}
 
span.eauction, span.eauction a:link, span.eauction a:visited, span.eauction a:active {
  color: #0066cc;
}


 
span.leftbar, span.leftbar a:link, span.leftbar a:visited, span.leftbar a:active {
  color: #ffffff;
}

span.icon {
  /* font-size: .8em; */
}

/*----------------------------------------------------*/
/* tables */
/*----------------------------------------------------*/

th {
  font-size: 10px;
  text-align: left;
  vertical-align: top;
}
td {
  font-size: 10px;
  vertical-align: top;
}

table.list {
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #cecece;
}

table.list th {
  width: auto;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
  background: none #b2bdd2;
}
table.list td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

table.list tr.odd { background: none #D6DCE7; }
table.list tr.even { background: none #C6D0E4; }
table.list td.odd { background: none #e1e1e1; }
table.list td.even { background: none #ccc; }

table.meta-nav {
	background: none #b2b2b2;
}
tr.odd {
  background: none #eee;
}

tr.even {
  background: none #ccc;
}

td.odd {
  background: none #eee;
}

td.even {
  background: none #ccc;
}

td.catalog-left {
	background: none #c6c6c6;
}

td.catalog-mid {
	background: none #eeeeee;
}

td.catalog-right {
	background: none #dadada;
}

td.headline {
	background: none #b2b2b2;
}

td.td-description {
  font-weight : bold;
	text-align : right;
}

td.helpNavTab {
  background: none #b2bdd2;
  border-bottom: 1px solid #667186;
  border: 1px solid #667186;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab {
  background: #d6dce7;
  font-weight: bold;
  border: 1px solid #000;
  border-bottom: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab a { text-decoration: none; }


/*----------------------------------------------------*/
/* div classes */
/*----------------------------------------------------*/

@media screen {

  div.mod-part {
    border: thin solid #777;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

  div.column {
    padding: 5px;
  }

  div.module-head {
    width:100%;
    /* background-color:#b2b2b2; */
  }
  
  div.module-head1 {
    width:100%;
	font: 10;
	color: ffffff;
    /* background-color:#b2b2b2; */
  }

  div.module-content {
    width:100%;
    padding: 5px;
  }
  
  div.module-content1 {
    width:100%;
    padding: 5px;
	font: 10;
	color: ffffff;
  }
}