A {
	COLOR: #333399; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fb7737; TEXT-DECORATION: underline
}
A.breadcrumb {
	COLOR: #333399; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.HEADER {
	COLOR: ##fdd76f; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.breadcrumb {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.breadcrumb A {
	COLOR: #333399; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.breadcrumbnolink {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
/* NEW - used for calendar, marking past days */
.CAL_XXS_DIS {
	BACKGROUND: #FFFFFF; COLOR: #BBBBBB; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* NEW - main calender */
.CAL_XXS_MAIN {
	COLOR: #3B3B3B; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center; BACKGROUND: #FFFFFF;
}
/* NEW - main calender */
.CAL_XXS_MAINB {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center; BACKGROUND: #FFFFFF; Font-weight: bold;
}
/* NEW - used for calendar */
.CAL_XXS_TODAY {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center; BACKGROUND: #ddddee; Font-weight: bold;
}
/* NEW - used for calendar, marking holiday and weekend */
.CAL_XXS_WEKND {
	BACKGROUND: #F5F5F5; COLOR: #3B3B3B; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* NEW - used for calendar, marking holiday and weekend */
.CAL_XXS_WEKND_DIS {
	BACKGROUND: #F5F5F5; COLOR: #BBBBBB; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* regular CONTENT class */
.CONTENT {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* CONTENT class CENTER-aligned */
.CONTENTC {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: center;
}
/* CONTENT class RIGHT-aligned */
.CONTENTR {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; TEXT-ALIGN: right;
}
/* regular CONTENT class */
.CONTENTXXS {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small;
}


.CONTENT A {
	COLOR: #172972; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* CONTENT class BOLD */
.CONTENTB {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight : bold;
}
/* SMALL CONTENT class within tableheader */
.CONTENTHEAD {
	COLOR: #3B3B3B; FONT-FAMILY:  Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
	background-color : #d1c8b0;
}
.CONTENT2{
	FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px
}
.CONTENT3 {
	COLOR: #525252; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
}
.CONTENTLB {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
	background-color : #d1c8b0;
	font-weight : normal;
}
.CONTENTL {
	COLOR: #525252; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
	background-color : #F9FDF7;
}
.CONTENTXXS {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
.DESCRIPTION {
	COLOR: #525252; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
/* NEW - disabled medium font */
.DIS_XS {
	BACKGROUND: #FFFFFF; COLOR: #BBBBBB; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
}
.DROPDOWN_XXS {
	BACKGROUND: #FFFFFF; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 19px;
}
/* WAS SELECT.PULLDOWN - used for dropdown with larger text */
.DROPDOWN_XS {
	BACKGROUND: #FFFFFF; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 19px;
}
.HEADER {
	COLOR: #5A5A5A; BACKGROUND: #FAA980; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px
}
.HEADER A {
	COLOR: #C5CFFE; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.HEADERB {
	COLOR: #FFFFFF; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold;
}
.HEADERB A {
	COLOR: #C5CFFE; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold;
}
/* used for boarder in the header */
.HEADER_BDR_BG {
	BACKGROUND: #A8A7A7; 
}
.input {
	BACKGROUND: #FFFFFF; BORDER-BOTTOM: #fefeee 0px solid; BORDER-LEFT: #fefeee 0px solid; BORDER-RIGHT: #fefeee 0px solid; BORDER-TOP: #fefeee 0px solid; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 9pt; HEIGHT: 18px; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 3px;
	width : 50px;
}
/* used for table navigation */
.NAV_PGNB {
	BACKGROUND: #d1c8b0; COLOR: #FF8C00; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; HEIGHT: 19px; FONT-WEIGHT: bold; TEXT-ALIGN: right;
}
OL.ol {
	MARGIN-LEFT: 25px; MARGIN-TOP: 3px
}
.pagetitle {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.pulldown {
	BACKGROUND: #ffffff; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 9pt; HEIGHT: 19px
}
.SEC_TB_TD  {
	COLOR: #FFFFFF; BACKGROUND: #7B9AAB;  FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; font-weight : bold;
}
.SEC_TB_BDR {
	 BACKGROUND: #A8A7A7; 
}
.TBDATA_BDR_BG {
	BACKGROUND:  #A8A7A7;
}
.TBLO_XXS {
	COLOR: #585858; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small;
}
UL.ul {
	LIST-STYLE: url(lists/cube.gif); MARGIN-LEFT: 22px; MARGIN-TOP: 3px
}
UL.smallul {
	LIST-STYLE: url(lists/smallcube.gif); MARGIN-LEFT: 22px; MARGIN-TOP: 3px
}
.selection {
	COLOR: #4f4f4f; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 11px; WIDTH: 170px
}
.searcharea {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px
}
.searchinput {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #fefeee 1px solid; BORDER-LEFT: #fefeee 1px solid; BORDER-RIGHT: #fefeee 1px solid; BORDER-TOP: #fefeee 1px solid; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; HEIGHT: 15px; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 3px
}
/* class added for calendar */
.SIDE_CNT_BG {
	BACKGROUND: #CFE5EB; 
}
.TAB {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px
}
.TAB A {
	COLOR: #5e5e5e; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px
}
.TABB {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold;
}
/* NEW - background for main content area */
.TB_CNT_BG {
	BACKGROUND: #FFFFFF; 
}
/* class added for calendar */
.TBDATA_BDR_BG {
	BACKGROUND: #A8A7A7; 
}
/* class added for calendar */
.TBDATA_CNT_ODD_BG {
	BACKGROUND: #FFFFFF; 
}
/* class added for calendar */
.TBDATA_HEAD {
	BACKGROUND: #E0E0E0; COLOR: #3B3B3B; FONT-FAMILY:  Verdana, Arial,  Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; TEXT-ALIGN: center;
}
/* WAS CONTENT - x-small, no alignment text in a layout table */
.TBLO_XS {
	COLOR: #3B3B3B; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; HEIGHT: 19px;
}
/* WAS CONTENTB - data table text x-small, bold no background  */
.TBDATA_XSB_NBG {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small; Font-weight: bold;
}
/* class added for calendar */
.TBLO_XXS_C {
	COLOR: #585858; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 18px; TEXT-ALIGN: center;
}
/* class added for calendar */
.TBLO_XXS_L {
	COLOR: #585858; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: xx-small; HEIGHT: 18px;  TEXT-ALIGN: left;
}
.TD3 {
	BACKGROUND: #EEE7E6; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; HEIGHT: 15px
}
.TD2 {
	BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 12px; HEIGHT: 15px; FONT-WEIGHT: bold;
}
.TD1 {
	BACKGROUND: #FAF5F4; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 9pt; HEIGHT: 19px
}
.topbarlinks {
	COLOR: #99ccff; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
/* NEW - used for text areas which use a medium sized font */
.TX_XS {
	FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; FONT-SIZE: x-small;
}
/* used for small html buttons */
INPUT.BUTTONS { font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000; background-color: #CBD2D7; cursor: hand}
/* used for bold large html buttons */
INPUT.BUTTONB { font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; background-color: #CBD2D7; cursor: hand}
/* used for non-bold large html buttons */
INPUT.BUTTONLN { font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000; background-color: #CBD2D7; cursor: hand}
/* class existed, not sure if used */
INPUT.BUTTONLB { font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #5A5A5A; background-color: #FAA980; cursor: hand}

.submitDoc, .bigCatalogInput, .textInput, textarea, {
    border: 1px solid Gray;
  }

.backgroundColore8e3d7  {
    background-color:#e8e3d7;
}
.backgroundColor95b1c1  {
	background-color :#95b1c1;
}
.backgroundColoredeae2  {
	background-color :#edeae2;
}
.calendarArea {
		border: 2px outset white;
}
