/*----------------------------------------------------*/
/* StyleSheets for the "SAP B2B Project"              */
/*                                                    */
/* Document:       b2b.css                            */
/* Version:        1.0                                */
/* Authors:        koch@pixelpark.com                 */
/*                 michael.oertel@pixelpark.com       */
/*                 stefan.heimann@pixelpark.com       */
/* Creation-Date:  20.03.2001                         */
/* Last-Update:    28.05.2001 (S. Heimann)            */
/*                                                    */
/*                           (c) Pixelpark AG, Berlin */
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/* body */
/*----------------------------------------------------*/
body {
  color: #000;
  background: none #95b1c1;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
body.header    { background: none #b2b2b2; }
body.organizer { background: none #e8e3d7; }
body.workarea  { background: none #eee; }
body.history   { background: none #cecece; }
body.closer    { background: none #b2b2b2; }
body.help      { background: none #d6d6d6; }

/*----------------------------------------------------*/
/* list */
/*----------------------------------------------------*/
ul {
  padding-left: 1em;
  margin-left: -50px; /* Netscape 4.x Würgaround */
}
ul.catalog li { list-style-type: none; }
span.search-no {
  font-weight: bold;
  text-decoration: none;
}

/*----------------------------------------------------*/
/* headline */
/*----------------------------------------------------*/
h2 {
  font-size: 14px;
  font-weight: bold;
}
h3 {
  font-size: 12px;
  font-weight: bold;
}
div.opener {
  text-align: left;
  padding-bottom: 0px;
  font-weight: bold;
}

/*----------------------------------------------------*/
/* images */
/*----------------------------------------------------*/
th > img { display: block; }
td > img { display: block; }

/*----------------------------------------------------*/
/* closer */
/*----------------------------------------------------*/
div.horizCloser { padding-top: 150px; }
div.horizCloser a {
  font-weight: bold;
  text-decoration: none;
}
div.vertCloser a {
  font-weight: bold;
  text-decoration: none;
}
table.closer {
  background: #b2b2b2; border-bottom: #fff 1px solid; border-top: #fff 1px solid
}
div.closerarrow a {
  font-weight: bold; text-decoration: none
}

/*----------------------------------------------------*/
/* modules */
/*----------------------------------------------------*/
div.module-name {
/*  background: none #f00;  */
  color: #277;
  text-align: right;
  font-size: 10px;
}

/*----------------------------------------------------*/
/* links */
/*----------------------------------------------------*/
a:link { color: #000; }
a:visited { color: #000; }
a:active { color: #222; }
a:hover { background: #f0f0f0; }
a.icon {
  font-size: 10px;
  font-weight: normal;
}

/*----------------------------------------------------*/
/* form elements */
/*----------------------------------------------------*/
form { margin: 0; }
input {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
input[type='text'] { text-align: right; }
input.detailCount {
  background: #eee;
  border: none;
}
input.detailAttribute {
  background: #fff;
  border: none;
}
select {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
.submitDoc, .bigCatalogInput, .textInput, textarea, {
    border: 1px solid Gray;
  }
.bigCatalogInput{ width: 155px; }
.middleCatalogInput{ width: 131px; }
.smallCatalogInput{ width: 40px; }
.monthInput { width: 60px }
.yearInput { width: 60px }
.customerAddrDetailsInput {
  width: 170px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}
.auctionBiddingInput{ width: 120px; }

/*----------------------------------------------------*/
/* global classes */
/*----------------------------------------------------*/
.docTab, .actualDocTab, .actualButtonLine, .actualDetailsTab, .DetailsTab { padding: .5ex; }
.docTab { background: none #aaa; }
.actualDocTab {
  color: #000;
  background: none #eee;
  border: 1px solid #000;
  border-bottom: none;
}
/*.actualDocTab a { text-decoration: none; }*/
.actualButtonLine { background: none #eee; }
.actualDetailsTab {
  color: #000;
  background: none #fff;
}
.actualDetailsTab a { text-decoration: none; }
.DetailsTab {
  color: #000;
  background: none #aaa;
}
.actualDetails { background: none #fff; }
.InactiveTab {
  border-right: 1px solid #9b9b9b;
  border-left: 1px solid #9b9b9b;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
.error {
  font-weight: bold;
  color: #f00;
  margin-bottom: 5px;
}
.confirmation {
  font-weight: bold;
  color: #080;
  margin-bottom: 5px;
}
.scrollbarSpace { padding-right:20px; }
.inactiveAuction { text-decoration: line-through; }
.auction { color: #0066cc; }
.headLink {
  font-family: Verdana, Geneva, sans-serif;
  background: none #b2b2b2;
  font-weight: bold;
  color: #000;
}
.bodylight {
  font-family: Verdana, Geneva, sans-serif;
  background: none #d6dce7;
  font-weight: bold;
  color: #000;
}
/*----------------------------------------------------*/
/* tables */
/*----------------------------------------------------*/
table.list {
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #cecece;
}
table.list th {
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
  background: none #e4e4e4;
}
table.list tr.odd { background: none #e1e1e1; }
table.list tr.even { background: none #ccc; }
table.list td.odd {
  font-family: Verdana, Geneva, sans-serif;
  background: none #e1e1e1;
}
table.list td.even {
  font-family: Verdana, Geneva, sans-serif;
  background: none #ccc;
}
table.list td {
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

table.organizer { background: #d6d6d6; }
table.organizer td {
  font-family: Verdana, Geneva, sans-serif;
  padding: 8px 8px;
}
td.organizerNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: none #aaa;
  border-bottom: 1px solid #000;
}
td.actualOrganizerNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: #c6c6c6;
  font-weight: bold;
  border: 1px solid #000;
  border-bottom: none;
}
td.actualOrganizerNavTab a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}

td.helpNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: none #aaa;
  border-bottom: 1px solid #000;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: #d6d6d6;
  font-weight: bold;
  border: 1px solid #000;
  border-bottom: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}

table.details {
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
}
table.details th{
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #d6d6d6;
}
table.details td{
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #d6d6d6;
}
th {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: left;
  vertical-align: top;
}
td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  vertical-align: top;
}
td.logo {
  font-family: Verdana, Geneva, sans-serif;
  background: none #9b9b9b;
}
td.docLine, td.actualDocLine, td.specialDocLine, td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8px;
  background: none #eee;
}
td.docLine {
  font-family: Verdana, Geneva, sans-serif;
  border-top: 1px solid #000;
}
td.specialDocLine, td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 4px;
  border-bottom: 1px solid #000;
}
td.specialDocLine {
  font-family: Verdana, Geneva, sans-serif;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  border-left: 1px solid #000;
}
td.catLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 6px;
/*  border-bottom: 1px solid #000;*/
}
table.cat { background: #c6c6c6; }
td.auctionFramed {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #242424;
}
/*----------------------------------------------------*/
/* variables */
/*----------------------------------------------------*/
var { font-style: normal; }
var.main { font-weight: bold; }

/*----------------------------------------------------*/
/* @media */
/*----------------------------------------------------*/
@media screen {
  div.opener {
    padding-bottom: 10px;
  }
  ul {
    padding-left: 12px;
    margin-left: 5px;
  }
  div.module {
    width: 100%;
/*    border: thin solid #f00; */
  }
  .actualDetailsTab {
    border: 1px solid #000;
    border-bottom: none;
  }
}