#navigator {
    z-index: 50;
    position: absolute;
    left: 4px;
    top: 17px;
    width: 20%;
    padding-bottom: 5px;
}
#navigator #inner {
    top: 0px;
    width: 100%;
    overflow: hidden; 
}

#workarea {
    z-index: 70;
    position: absolute;
    left: 21.5%;
    top: 17px;
    width: 77%;
    border-width: 0px;
    padding-bottom: 5px;
}
#workarea .fw-box {
	width: 99.5%; /* avoid horiz. scrollbar in FF */
}