/* ---------------------General styles--------------------- */
/* we need it for working with height and percentage, see e.g. http://www.quirksmode.org/ -> Tasks */
html	{height: 99%;}


/* --- Styles with prefix 'body.tabcontent' are used to enable the IPC pricing analysis screen in the ISA application -- */

body.tabcontent {
	background-color: #D7DDE5;
}	

/*   Start: Styles for data boxes  */
/* Set a space around the data box */
body.tabcontent .content {
	margin: 10px;
	width: 100%;
}

body.tabcontent table.conditionTable {
  border-style:solid;
  border-width:1px;
  border-collapse:separate;
  width:100%;
}

body.tabcontent table.conditionTable tr {
	background-color: #E9ECEF;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 11px;
}

body.tabcontent table.conditionTable tr.Subtotal {
    color:blue;
}
 		
body.tabcontent table.conditionTable td.conditionStatus {
   width: 16px;
}
body.tabcontent table.conditionTable td.conditionType {
    width: 10%;
    text-align:center;
}

body.tabcontent table.conditionTable td.description {
}

body.tabcontent table.conditionTable td.conditionRate {
    width:15%;
}

body.tabcontent table.conditionTable td.priceUnit {
    width:8%;
}

body.tabcontent table.conditionTable td.conditionValue {
    width:15%;
}

body.tabcontent table.conditionTable td.operation {
    width:16px;
}




