/*...Global Definitions..............................................*/
form  { display: inline; }
img   { border-width: 0px; }
table { 
	border-collapse: collapse; 
}
td,
div   { border-width: 0px; margin:0px; padding:0px; }

.msg-error   {color: red; }
.msg-warning {color: green; }
.msg-info    {color: green; }
.msg-success {color: black; }

/*...Table-Based Data Output..........................................*/
table.dataList              { background-color: #DCE3EC; }
table.dataList caption      { text-align:left; }
table.dataList tr           { background-color: #F2F2F2; }
table.dataList tr.odd       { background-color: #FFFFFF; }
table.dataList tr.even      { background-color: #F2F2F2; }
table.dataList th           { background-color:#DCE3EC; width:auto; text-align:left; padding:2px; }
table.dataList th.functions { text-align:center; }
table.dataList th img       { vertical-align:middle; }
table.dataList td           { padding:2px; border: 1px solid #DCE3EC; vertical-align:top; }
table.dataList td.functions { text-align:center; }
table.dataList td.empty     { border-left: 1px solid #F6F7F9; border-bottom: 1px solid #F6F7F9; }

/*...Column-Based Data Input & Output..................................*/
#formfields td.label,
#formfields td.labelObl,
#formresults td.label                { width:1%; font-size: 60%; vertical-align: top; white-space: nowrap; }
#formfields td.label,
#formfields td.labelObl              { padding: 8px 5px 0px 12px; }
#formresults td.label                { padding: 5px 5px 0px 12px; font-weight:bold; }
#formfields td.labelObl,
#formfields td.label .labelPartObl   { font-weight:bold; } /* use only when some of the labels within '#formfields td.label' are obligatory */  

#formfields td.input,
#formresults td.data                 { width:99%; font-size: 60%; vertical-align: top; padding: 5px 0px 0px 0px; }
#formfields td.input .txtdata        { font-weight: bold; }

#formfields td.input img,
#formfields td.label img,
#formfields td.labelObl img,
#formresults td.label img            { vertical-align: text-bottom; }

#formfields h4,
#formresults h4                      { margin-top: 10px; margin-bottom: 7px; font-family:Verdana,Geneva,sans-serif; font-weight:bold; font-size:70%; }

#formfields td.inputradio_singleline { font-size: 60%; vertical-align: top; padding: 5px 0px 0px 20px; }

#helpvalues-list .dataList			{ font-size: 60%; }
