/*-----------------------------------------------------*/
/* StyleSheets for the "SAP B2B Project" fancy-version */
/*                                                     */
/* Document:       b2b.css                             */
/* Version:        1.0                                 */
/* Authors:        koch@pixelpark.com                  */
/*                 michael.oertel@pixelpark.com        */
/*                 stefan.heimann@pixelpark.com        */
/* Creation-Date:  20.03.2001                          */
/* Last-Edit:      29.05.2001 (M. Oertel)              */
/*                                                     */
/*                           (c) Pixelpark AG, Berlin  */
/*-----------------------------------------------------*/
 
/*----------------------------------------------------*/
/* body */
/*----------------------------------------------------*/
body {
  color: #000;
  background: none #d6d6d6;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
body.header            { background: none #667186; }
body.docnav            { background: none #667186; }
body.organizer         { background: none #bfcda1; }
body.organizerCatalog  { background: none #b2bdd2; }
body.workarea          { background: none #CFDBC5; }
body.workareaDetails   { background: none #CFDFC5; }
body.history           { background: none #667186; }
body.closer            { background: none #B7C290; }
body.help              { background: none #d6dce7; }
body.userPrefHeader    { background: none #cfcfcf; }
body.hints             { background: none #fff; }
body.ship              { background: none #c0cea1; }
.userPref              { background: none #667186; }

/*----------------------------------------------------*/
/* list */
/*----------------------------------------------------*/
ul {
  padding-left: 1em;
  margin-left: -50px; /* Netscape 4.x Würgaround */
}
ul.catalog li {
  font-family: Verdana, Geneva, sans-serif;
  list-style-type: none;
}
span.search-no {
  font-weight: bold;
  text-decoration: none;
}

/*----------------------------------------------------*/
/* headline */
/*----------------------------------------------------*/
h2 { font-size: 14px; }
h3 { font-size: 12px; }
div.doctab-opener {
  font-weight: bold;
  color: #fff;
}
/*
div.opener {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 0px;
  background: none #fff;
}
*/

/*----------------------------------------------------*/
/* images */
/*----------------------------------------------------*/
th > img { display: block; }
td > img { display: block; }

/*----------------------------------------------------*/
/* closer */
/*----------------------------------------------------*/
div.horizCloser {
  padding-top: 10px;
/*  padding-left: 10px;*/
}
div.horizCloser a {
  font-weight: bold;
  text-decoration: none;
}
#leftArrow, #rightArrow {
  position: absolute;
  top: 5px;
  left: 3px;
}
#BottomArrow0, #BottomArrow1 {
  position: relative;
  top: 2px;
  right: 3px;
}
/*----------------------------------------------------*/
/* modules */
/*----------------------------------------------------*/
div.module-name {
  background-color: White;
  color: Teal;
  text-align: left;
  font-weight: normal;
  display: inline;  /* use switch in web-xml to disable the ouput */
  font-size : xx-small;
}

div.module-name-new {
  color: #0066cc;
  text-align: right;
  font-weight: bold;
  display: inline;  /* use switch in web-xml to disable the ouput */
}

/*----------------------------------------------------*/
/* links */
/*----------------------------------------------------*/
a:link { color: #646464; }
a:visited { color: #646464; }
a:active { color: #ffffff; }
a:hover { background: #CFDBC5; }
a.icon {
  font-size: 10px;
  font-weight: normal;
}

/*----------------------------------------------------*/
/* form elements */
/*----------------------------------------------------*/
form { margin: 0; }
input {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
input.head {
 font-family: Verdana, Geneva, sans-serif; /* monospace; */
 font-size: 10px; /* 11px;*/
 color: #fff;
 background: none #9399A4;
 font-weight: bold;
}
input.green {
 font-family: Verdana, Geneva, sans-serif; /* monospace; */
 font-size: 10px; /* 11px;*/
 color: #fff;
 background: none #83A218;
 font-weight: bold;
}
input[type='text'] { text-align: right; }
input.detailCount {
  background: none #CFDBC5;
  border: none;
}
input.detailNetprice {
  background: none #B6C2AC;
  border: none;
}
input.detailAttribute {
  background: none #B6C2AC;
  border: none;
}
input.navDoc {
  background: #9399a4;
  color: #fff;
}
select {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
}
.submitDoc { margin-bottom: 5px; }
.bigCatalogInput{ width: 155px; }
.middleCatalogInput{ width: 131px; }
.smallCatalogInput{ width: 40px; }
.customerAddrDetailsInput {
  width: 170px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}
.auctionBiddingInput{ width: 120px; }
textarea {
  font-family: Verdana, Geneva, sans-serif; /* monospace; */
  font-size: 10px; /* 11px;*/
  border: 1px solid Gray;
}
.border2D {
  border: 1px solid Gray;
}

/*----------------------------------------------------*/
/* global classes */
/*----------------------------------------------------*/
.remember {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
} /* Netscape4.5-Remember */
.docTab { background: none #A1ACA1; }
.actualDocTab {
  color: #000;
  background: none #CFDBC5;
}
 .actualButtonLine { background: none #909C8F; }
.actualDetails { background: none #B6C2AC; }
.InactiveTab {
  border-right: 1px solid #9b9b9b;
  border-left: 1px solid #9b9b9b;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
.error {
  font-weight: bold;
  color: #f00;
  margin-bottom: 5px;
}
.scrollbarSpace { padding-right:20px; }
.inactiveAuction { text-decoration: line-through; }
.auction { color: #0066cc; }
.catalog { background: none #B2BDD2; }
.login { background: none #D6DCE7; }
.headlink {
  font-family: Verdana, Geneva, sans-serif;
  background: none #b2bdd2;
  font-weight: bold;
  color: #fff;
}
.bodylight {
  font-family: Verdana, Geneva, sans-serif;
  background: none #d6dce7;
  font-weight: bold;
}
div.errorMsg {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}
.errorMsgHead {
  font-size: 16px;
  color: #f00;
  padding-bottom: 10px;
}
div.detailsTitle {
  font-weight: bold;
  text-align: right;
}

/*----------------------------------------------------*/
/* tables */
/*----------------------------------------------------*/
/*default*/
table.list {
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #cecece;
}
table.list th {
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
  background: none #cfdbc5;
}
table.list tr.odd {background: none #C6D6A5;}
table.list tr.even {background: none #C6D6A5; }
table.list td.odd {
  font-family: Verdana, Geneva, sans-serif;
  background: none #C6D6A5;
}
table.list td.even {
  font-family: Verdana, Geneva, sans-serif;
  background: none #C6D6A5;
  }
table.list td {
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

/* catalogList */
table.catalogList {
  border-collapse: collapse;
  border: 1px solid #9b9b9b;
  background: none #c3ccdd;
}
table.catalogList th {
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: center;
  background: none #b2bdd2;
}
table.catalogList tr.odd {background: none #c3ccdd;}
table.catalogList tr.even {background: none #c3ccdd; }
table.catalogList td.odd {
  font-family: Verdana, Geneva, sans-serif;
  background: none #c3ccdd;
}
table.catalogList td.even {
  font-family: Verdana, Geneva, sans-serif;
  background: none #c3ccdd;
  }
table.catalogList td {
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #b2bdd2;
  border-right: 1px solid #b2bdd2;
}

/* start-list */
table.start-list {
  border-collapse: collapse;
  background: none #cecece;
}
table.start-list th {
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  text-align: left;
  background: none #D6DCE7;
}
table.start-list tr.odd {background: none #F2FAF1;}
table.start-list tr.even {background: none #F2FAF1; }
table.start-list td.odd {
  font-family: Verdana, Geneva, sans-serif;
  background: none #F2FAF1;
}
table.start-list td.even {
  font-family: Verdana, Geneva, sans-serif;
  background: none #F2FAF1;
  }
table.start-list td {
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #d6dce7;
}

/* organizer-list */
table.organizer-list {
  border-collapse: collapse;
/*  background: none #cecece;*/
}
table.organizer-list th {
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  border-top: 1px solid #8b9f62;
  border-bottom: 1px solid #8b9f62;
  text-align: left;
/*  background: none #C0CEA1;*/
}
table.organizer-list tr.odd {background: none #CFDDBD;}
table.organizer-list tr.even {background: none #CFDDBD; }
table.organizer-list td.odd {
  font-family: Verdana, Geneva, sans-serif;
  background: none #d7e5ca;
}
table.organizer-list td.even {
  font-family: Verdana, Geneva, sans-serif;
  background: none #d7e5ca;
}
table.organizer-list td {
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #C0CEA1;
}

table.closer{
  background: none #B7C290;
}
table.organizer td {
  font-family: Verdana, Geneva, sans-serif;
}
tr.resultPager { background: none #f2faf1; }
tr.catalogResultPager { background: none #c3ccdd; }
tr.ship { background: none #667186; }
td.organizerNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: none #9EAC9D;
  color: #646464;
}
organizerNavTab td a:link, organizerNavTab td a:visited, organizerNavTab td a:active {
  color: #646464;
}
td.actualOrganizerNavTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #BFCDA1;
  border-bottom: none;
}
td.actualOrganizerNavTab a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}
td.catalogNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: none #A2ADC2;
  color: #646464;
}
catalogNavTab td a:link, catalogNavTab td a:visited, catalogNavTab td a:active {
  color: #646464;
}
td.actualCatalogNavTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #B2BDD2;
  border-bottom: none;
}
td.actualCatalogNavTab a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}

td.helpNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: none #aaa;
  border-bottom: 1px solid #000;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab {
  font-family: Verdana, Geneva, sans-serif;
  background: #d6d6d6;
  font-weight: bold;
  border: 1px solid #000;
  border-bottom: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.actualHelpNavTab a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}
td.DetailsTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #909C8F;
  border-bottom: none;
}
td.actualDetailsTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #B6C2AC;
  border-bottom: none;
}
td.DetailsCatTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #848D9D;
  border-bottom: none;
}
td.actualDetailsCatTab {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  background: none #9EA9BE;
  border-bottom: none;
}
tr.link-zs0{
  background: none #C9D0E0;
}
tr.link-zs1{
  background: none #DAE0EA;
}
tr.link-zs2{
  background: none #E7EBF2;
}
td.linkCat{
  border-bottom: 1px solid #b2bdd2;
}

td.linkCat a:link, td.linkCat a:visited {
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}
table.details {
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
}
table.details th{
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #d6d6d6;
}
table.details td{
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #d6d6d6;
}
th {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: left;
  vertical-align: top;
}
td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  vertical-align: top;
}
td.logo { background: none #fff; }
td.docLine, td.actualDocLine, td.specialDocLine, td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8px;
  background: none #CFDBC5;
}
td.docLine {
  font-family: Verdana, Geneva, sans-serif;
}
td.specialDocLine, td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 4px;
}
td.specialDocLine {
  font-family: Verdana, Geneva, sans-serif;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
td.specialActualDocLine {
  font-family: Verdana, Geneva, sans-serif;
  border-left: 1px solid #000;
}
td.catLine {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 6px;
/*  border-bottom: 1px solid #000;*/
}
table.cat {
  font-family: Verdana, Geneva, sans-serif;
  background: #c6c6c6;
}
td.auctionFramed {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #242424;
}
td.opener {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 0px;
  background: none #fff;
}
td.opener_blue {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 0px;
  background: none #b2bdd2;
}
td.headerHint {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 1px;
  color: #fff;
}
td.workareaTopBorder {
  background: none #DBE7D1;
}
table.workareaTopBorder {
  margin-top: 20px;
  padding-top: 20px;
}
tr.settingheader {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background: none #bfcda1;;
  border-bottom: 1px solid #000;
  vertical-align: top;
}
td.settingheader2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background: none #bfcda1;;
  border-bottom: 1px solid #000;
  vertical-align: middle;
}
table.headerWhite { 
  background: none #fff;
  font-weight: bold;
  font-size: 12px;
}
td.headerWhite { 
  background: none #fff;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10px;
}
table.headerWhite td {
  vertical-align: middle;
  width: 230;
}
td.historyHeader {
  font-weight: bold;
  background: #b2bdd2;
  padding-left: 3px;
}
td.historyContent {
  padding-left: 3px;
  color: #fff;
}
td.orderHeadPrice { background: #f2faf1; }
td.orderHeadPriceSeparator { 
  background: #f2faf1;
  border-top: 1px solid #61935d;
}
td.orderHeadSeparator { border-top: 1px solid #61935d; }
table.shipto  { background: none #c0cea1; }
tr.confirm  { background: none #CFDBC5; }
/*----------------------------------------------------*/
/* variables */
/*----------------------------------------------------*/
var { font-style: normal; }
var.main { font-weight: bold; }

/*----------------------------------------------------*/
/* @media */
/*----------------------------------------------------*/
@media screen {
  img.display-image{
    Display: Inline;
  }
  div.doctab-opener {
    padding-bottom: 5px;
  }
  ul {
    padding-left: 12px;
    margin-left: 5px;
  }
  div.module {
    width: 100%;
/*    border: thin solid #f00; */
  }
}
