@import url(../../theme_b2c/mimes/catalog/catalog.css);

/* overwrite standard B2C styles */
.cat-prd-id {
	display: inline !important;
	color: #8F8F8F;
}
.cat-prd-id a {
	color: #8F8F8F;
	border-bottom: 0;
}

