/*...Fields..............................................*/
.textinput								{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%;}
.textinput-mini							{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:3.5em}
.textinput-small						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:5em;}
.textinput-middle						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:8em;}
.textinput-categs, .campaign_categories_input {border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:16em; }
.textinput-large						{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:18em; }
.delete									{text-align:center;}				
.select-large							{border:1px solid silver; font-family:Verdana, Geneva, sans-serif; padding-left:2px; background-color:#FFFFFF; font-size:100%; width:18em;}
.textarea-disabled						{background:#F7F7F7;}
/*-----------catalog------------------*/
#catalog										{ overflow:auto; margin-top:17px; padding-top:10px; border-top:2px solid #225A8D; }
body.organizerCatalog							{ overflow: auto; margin:0px; background:#FFFFFF; height: 98%;}
.catalog-header                                 {left: 20%; margin-top: 10px;}
.header-links									{width:16px; height:16px ;border:0px; margin-left:200px;vertical-align:top;font-family:Verdana, Geneva, sans-serif;font-size:60%;color:#426DCE;width:46em}
.header-links a									{color:#426DCE; line-height:3px;margin-right:10%;vertical-align:text-top}
.header-links .border							{border:0px;}
.header-links .img-align						{margin-left:16%;border:0px;}
.details										{text-align:left;  font-family:Verdana, Geneva, sans-serif;}
.product-details								{float:left; text-align:left; line-height: 3ex; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;  }
.details #product-image							{vertical-align:top;width:100px; height:100px; width:21%}
.details .product-data							{width:90%;  color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;line-height:3ex; vertical-align:top; margin-left:20px;}
.details .product-data .category-data			{margin: 0px; padding: 0px; border-spacing:0px; border-collapse:collapse;}
.details .label									{font-weight:bold; text-align:left; vertical-align:text-top; }
.details .text-value							{vertical-align:text-top;text-align:left;}
.details .identifier							{width:130px; text-align:right; vertical-align:middle; padding-top:3px;}
.details .productlist-info						{ border: 0px; width:1px; height:1px; vertical-align: top}
.details .label-align							{text-align:left; vertical-align:top;}
.details a:link									{color:#426DCE}
.details a:hover								{color:#426DCE; background-color:#FFFFFF}
.details a.image-display:hover					{color:#426DCE; background-color:#DEE3EF}
.details a:visited								{color:#426DCE}
.details .image-display							{vertical-align:top; line-height: 3ex;}
.details .img-1									{ width:16px; height:16px ;border:0px}
.details .img-2									{ width:16px; height:16px ; border:0px; text-decoration: none;}
.workarea										{ background: none #FFFFFF; border: 1px solid #C9D7E9; }
body.organizerCatalog #organizer-navigation     { width:96%; }
#BottomArrow0, #BottomArrow1					{ top: 2px; right: 3px; margin:2px ; } /* change 0px to 2 px, due to b2b,css is 2px */
.details_middle									{font-size:0; vertical-align:top;}
#marketing              						{position:absolute; left:0px; border:0px}
ul.accessories-1 								{font-family:Verdana,Geneva,sans-serif; font-size:60%; margin:0px; padding:0px; height:17px; white-space:nowrap;  border-left:5px solid #225A8D;  } 
ul.accessories-1 li 							{display:inline; height: 17px; padding-bottom: 5px ;}

ul.accessories-1 li.active-first 				{background:#21598C url('images/nav_left1_active.gif') no-repeat left; padding-left: 20px; padding-right: 3px; border-bottom:2px solid #21598C;}
ul.accessories-1 li.active-first a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }


ul.accessories-1 li.active-middle 				{background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; border-bottom:2px solid #21598C; }
ul.accessories-1 li.active-middle a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }

ul.accessories-1 li.active-last	 				{background:#21598C url('images/nav_left2_active.gif') no-repeat left; padding-left: 22px; padding-right: 3px; border-bottom:2px solid #21598C;}
ul.accessories-1 li.active-last a				{text-decoration:none; color:#FFFFFF; font-weight:bold; }


ul.accessories-1 li.inactive-first 				{background:#DEE3EF url('images/nav_left1_inactive.gif') no-repeat left; padding-left: 20px; padding-right: 3px; border-bottom:2px solid #21598C; }
ul.accessories-1 li.inactive-first a			{text-decoration:underline; color:#000000;  }

ul.accessories-1 li.inactive-middle 			{background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; border-bottom:2px solid #21598C;}
ul.accessories-1 li.inactive-middle a			{text-decoration:underline; color:#000000 ;}

ul.accessories-1 li.inactive-last 				{background:#DEE3EF url('images/nav_left2_inactive.gif') no-repeat left; padding-left: 15px; padding-right: 3px; border-bottom:2px solid #21598C; }
ul.accessories-1 li.inactive-last a				{text-decoration:underline; color:#000000;}

.cat-data 										{float: left; text-align:left; line-height: 3ex; color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:60%;}
#cat-list										{width:100%; height:87%; overflow:auto; margin-top:35px; padding-top:10px; border-top:2px solid #225A8D;}
.cat-header										{margin-left:5px; width:95%;  color:#000000; font-family:Verdana, Geneva, sans-serif; }
.cat-pages										{border:1px solid #C9D7E9; border-collapse:collapse;  margin-top:15px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif;  }
.cat-pages .backgrnd							{background: none #DCE3EC;}
.cat-pages .label								{vertical-align:middle; margin-left:6px;font-size:60%;}
.cat-pages .label-align							{vertical-align:middle; padding-left: 10px;}
.cat-pages img									{width:6px; height:9px;vertical-align:middle;border:0px;} 
.cat-pages .img-align							{padding-left:5px;}

.cat-page-links								    {margin-top:6px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif; font-weight: bold; font-size:80%; }

td.headerWhite									{ background: none #DCE3EC; vertical-align: middle; font-weight: bold; font-size: 10px; }
tr.catalogResultPager							{ background: none #DCE3EC; }
.catalog-items									{width:97%; margin-top:5px;}

.categorie-id									{float: left; text-align:left; line-height: 3ex; color:#000000; font-family:Verdana, Geneva, sans-serif;  width:60%;font-size:60%}
.categorie-inf									{vertical-align:middle; width:70%;}

.cat-filter										{margin-left:5px;width:35%;margin-top:20px;vertical-align:top; font-family:Verdana, Geneva, sans-serif;font-size:60%}
.cat-filter .header								{background: none #DCE3EC; vertical-align: middle; font-weight: bold;text-align:left}
.cat-filter .identifier							{width:100px;text-align:left;}
.cat-filter .submit								{border-top: 1px solid #96C8F5; border-left: 1px solid #96C8F5; border-bottom: 1px solid #051D33; border-right: 1px solid #051D33;font-weight:bold; font-size:100%; text-decoration:none; color:#FFFFFF; background-color:#21598C; width:30px;}

.product-list										{border:1px solid #C9D7E9; border-collapse:collapse; margin-left:7px; margin-top:15px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif;font-size:60%}
.product-list th									{background:#DCE3EC; border:1px solid #FFFFFF; text-align: center; padding:3px 6px 6px 6px}
.product-list td								    {border-style:solid; border-color:#CCCCCC; border-right:1px; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;}


.product-list a:link								{color:#426DCE}
.product-list a:hover								{color:#426DCE; background-color:#DEE3EF}
.product-list a:visited								{color:#426DCE}

.basket-img										{ width:20px; height:16px ;border:0px; vertical-align:middle}
.prod-img										{ width:60px; height:60px ;border:0px; }
.categorie-img									{width:150px; height:150px;border:0px; }


.product-list .odd 									{background:#FFFFFF; vertical-align:middle; padding:3px; }
.product-list .odd td								{background:#FFFFFF; border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;border-top:1px solid #CCCCCC;}

.product-list .even 									{background:#F2F2F2; vertical-align:middle; padding:3px; }
.product-list .even td								{background:#F2F2F2; border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;border-top:1px solid #CCCCCC;}

.product-list .admin									{background:#F0F4FA; vertical-align:middle; padding:3px}
.product-list .admin td								{background:#F0F4FA; border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;border-top:1px solid #CCCCCC;}

.product-list .separator							{border-top:1px solid #CCCCCC; padding:0px; margin:0px;}

.product-list td.select, .product-list th.select    	{width: 19px; padding-left: 3px}
.product-list td.prod-select, .product-list th.opener        {width: 17px; padding-left: 6px}
.product-list th.item								{width: 4em}
.product-list td.item								{text-align: left}
.product-list td.product							{text-align: left; white-space: nowrap}
.product-list td.qty								{text-align: right; }
.product-list td.unit								{text-align: left}
.product-list td.desc								{text-align: left;}
.product-list td.ref-doc                    	    {text-align: left;}
.product-list td.qty-avail							{text-align: right}
.product-list td.date-on							{text-align: right}
.product-list th.prod-number, .product-list th.name     {width: 10em; white-space: nowrap}
.product-list td.price, .product-list td.price-unit     {width: 10em; text-align: right; white-space: nowrap;}
.product-list td.status, th.status                 	{text-align: center; width: 5em;}
.product-list td.qty-rest							{text-align: right}
.product-list td.delete     					    {text-align: center}

.left												{text-align:left;}
.right												{text-align:right;}
.center												{text-align:center;}

/***************************prices******************/
.product-list td.b2b-prd-prc-inactive  { border-width: 0px; font-family: Verdana, Geneva, sans-serif; font-size:60%; text-decoration: line-through; }
.product-data td.b2b-prd-prc-inactive  { border-width: 0px; font-family: Verdana, Geneva, sans-serif; font-size:60%; text-decoration: line-through; }
#cat-list td.b2b-prd-prc-inactive { border-width: 0px; font-family: Verdana, Geneva, sans-serif; font-size:60%; text-decoration: line-through; }

.product-list table.b2b-prd-prc-ltab,
.product-data table.b2b-prd-prc-ltab,
#cat-list table.b2b-prd-prc-ltab { border-collapse: collapse; }
.product-list td.b2b-prd-prc, 
.product-data td.b2b-prd-prc, 
#cat-list td.b2b-prd-prc, 
.product-list td.b2b-prd-prc-lbl-post,
.product-data td.b2b-prd-prc-lbl-post,
#cat-list td.b2b-prd-prc-lbl-post,
.product-list div.b2b-prd-peyec,
.product-data div.b2b-prd-peyec,
#cat-list div.b2b-prd-peyec { border-width: 0px; font-family: Verdana, Geneva, sans-serif; }
.product-list td.b2b-prd-prc-lbl,
.product-data td.b2b-prd-prc-lbl,
#cat-list td.b2b-prd-prc-lbl { border-width: 0px; font-family: Verdana, Geneva, sans-serif; font-size:60%; font-weight: bold; } 
/***************************product categories******************/

.category-data th                       {border-right:1px solid #FFFFFF; background:#DCE3EC; padding: 6px 12px 6px 3px; font-size:60%; font-weight:bold; text-align:left; vertical-align:text-top;}
.category-data th.last                  {border-right:0px;}
.category-data td                       {border:1px solid #F2F2F2; padding: 3px 8px 3px 3px; font-size:60%; vertical-align:text-top; text-align:left;}
/***************************categories******************/

.cat-categs								{ font-family:Verdana, Geneva, sans-serif;font-size:60%;width:100% ;border:0px ;}
#ext-cat-icon							{ height:14px; width:17px; vertical-align:bottom; border:0px;  }
.categ-icon								{ width:16px; height:16px; vertical-align:bottom; border:0px; }
.categ-align							{border:0; height:1px; width:16px; }
.categ-text-align						{border:0; width:100%; height:1px; }
.categ-img-align						{border:0; height:1px; width:14px; }
.categ-module							{width:100%; margin-top:20px }
#categ-display							{margin-top:20px; width:100% }
#categ-search, .campaign_spacer			{width:72px; border:0px; height:1px }

tr.categs                               { background: none; background-color: #DCE3EC; text-decoration: none; vertical-align:top; }
tr.categsSelected                       { background: none; background-color: #225A8D; text-decoration: none; }
td.categs                               { border-bottom: 1px solid #F6F7F9; }
td.categsSelected                       { border-bottom: 1px solid #F6F7F9; }
td.categs a:link                        { text-decoration: none; color: #000000;}
td.categs a:visited                     { text-decoration: none; color: #000000;}
td.categs a:hover                       { background: none #225A8D; color: #FFFFFF; text-decoration: none;}
td.categs a:active                      { background: none #225A8D; color: #FFFFFF; text-decoration: none;}

td.categsSelected a:link                { text-decoration: none; color: #FFFFFF;}
td.categsSelected a:visited             { text-decoration: none; color: #FFFFFF;}
td.categsSelected a:hover               { background: none #225A8D; color: #FFFFFF; text-decoration: none;}
td.categsSelected a:active              { background: none #225A8D; color: #FFFFFF; text-decoration: none;}

a.icon                              { font-size: 10px; font-weight: normal; }
a.icon:hover                        { background: none; }
a.selected                          { font-weight: bold; }
a:link                              { color: #426FC9; }
a:visited                           { color: #426FC9; }
a:hover                             { background: none #DCE3EC; }
a:active                            { color: #426FC9; }
a.viewSelectionActive:link          { color: #225A8D; font-size: 13px; font-weight: bold; }
a.viewSelectionActive:visited       { color: #225A8D; font-size: 13px; font-weight: bold; }
a.viewSelectionActive:hover         { background: #DCE3EC; }
a.viewSelectionActive:active        { color: #225A8D; font-size: 13px;font-weight: bold; }
a.viewSelectionInactive:link        { color: #426FC9; font-size: 13px; font-weight: normal; }
a.viewSelectionInactive:visited     { color: #426FC9; font-size: 13px; font-weight: normal; }
a.viewSelectionInactive:hover       { background: #DCE3EC; }
a.viewSelectionInactive:active      { color: #426FC9; font-size: 13px; font-weight: normal; }
input.green                         { border: none;  border:1px solid Silver;font-family:Verdana,Geneva,sans-serif; font-size:100%; font-weight:bold; text-decoration:none; color:#FFFFFF; background-color:#21598C; width:70px; }
input[type="text"]                  /* conflict*/{ text-align: left; border: 1px solid Gray; } /* only works with CSS2 */
.shipto .popup input[type="text"]	{ font-size: 100%; }

/***************************CompareItems******************/

.compareItems-list										{width:99%; border:1px solid #C9D7E9; border-collapse:collapse; margin-left:7px; margin-top:15px; padding:0px; color:#000000; font-family:Verdana, Geneva, sans-serif;font-size:60%}
.compareItems-list th									{background:#DCE3EC; border:1px solid #FFFFFF; text-align: center; padding:3px 6px 6px 6px}
.compareItems-list td								    {border-style:solid; border-color:#CCCCCC; border-right:1px; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; padding:3px; margin:0px;}


.compareItems-list a:link								{color:#426DCE}
.compareItems-list a:hover								{color:#426DCE; background-color:#DEE3EF}
.compareItems-list a:visited							{color:#426DCE}

.basket-img										{ width:20px; height:16px ;border:0px; vertical-align:middle}
.prod-img										{ width:60px; height:60px ;border:0px; }
.categorie-img									{width:150px; height:150px;border:0px; }


.compareItems-list .odd 						{background:#FFFFFF; vertical-align:middle; padding:3px;border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle; margin:0px;border-top:1px solid #CCCCCC; }

.compareItems-list .even						{background:#F2F2F2; vertical-align:middle; padding:3px ;border-right:1px solid #CCCCCC; border-left:0px; border-bottom:0px; border-top:0px; vertical-align:middle;  margin:0px;border-top:1px solid #CCCCCC;}

.compareItems-list .separator					{border-top:1px solid #CCCCCC; padding:0px; margin:0px;}

.compareItems-header 							{background:#DCE3EC; border:1px solid #FFFFFF; text-align: center; padding:3px 6px 6px 6px}

.b2b-prd-hli                                    {display: inline; background-color: #ff0; padding: 1px 0px 1px 0px; }

/*--------------------- Campaign styles ---------------------*/
.campaign_categories_input						{width:110px;}
.campaign_spacer								{width:90px;}
#campaign_categories_button						{font-size:100%;}
