/*-----------------------------------------------------*/
/* StyleSheet for the "SAP Portal iViews 40 Project"   */
/*                                                     */
/* Document:       stylesheet.css                      */
/* Style name:     Horizon                             */
/* Version:        1.0                                 */
/* Authors:        patrick.simon@sap.com               */
/* Creation-Date:  12.11.2002                          */
/* Last-Edit:      17.01.2001 (P. Simon)               */
/*                                                     */
/*                                          (c) SAP AG */
/*-----------------------------------------------------*/

/* --- Global -------------------------------------------- */
body                    { color:#000000; background:none #FFFFFF; font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:11px; margin:7px 6px 0px 7px; padding:0px; }
td                      { color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:normal; }
a:link                  { color: #426FC9; }
a:visited               { color: #426FC9; }
a:hover                 { background: none #DCE3EC; }
a:active                { color: #426FC9; }
div                     { color:#000000; font-family:Verdana, Geneva, sans-serif; }
div.searchresult        { background: none #C2EEFF; color: #00000; height: 15px; font-weight: bold;  font-style : normal;  }

/* --- Specials ------------------------------------------ */
.bold                   { font-weight:bold; font-size:11px; }

/* --- Results ------------------------------------------- */
table.list              { background:none #DCE3EC; }
table.list td.head      { background:none #DCE3EC; vertical-align: top; font-size:10px; border-right: 1px solid #FFFFFF; }
table.list td.odd       { background:none #F2F2F2; vertical-align: top; font-size:10px; }
table.list td.even      { background:none #FFFFFF; vertical-align: top; font-size:10px; }
table.list2             { background:none #FFFFFF; }
table.list2 td.odd      { background:none #F2F2F2; vertical-align: top; font-size:10px; }

/* --- Forms --------------------------------------------- */
form                    { margin:0; }
select                  { color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:0.95em; font-weight:normal; }
.selectDocument         { width: 180px; }
.selectDealer           { width: 130px; }
input                   { font-family:Verdana, Geneva, sans-serif; font-size:10px; }
input.button            { background:none #225A8D; width:57px; font-weight:bold; color:#FFFFFF; border: none; border-top: 1px solid #96C8F5; border-left: 1px solid #96C8F5; border-bottom: 1px solid #051D33; border-right: 1px solid #051D33; }
input.text              { width:130px; border-color:#555555; border-width=1; }